<div>
  <button
    class="w-full is-rounded dis-flex flex-w flex-m"
    title="Gostei"
    matBadge="{{ Produto?.Likes }}"
    matBadgeColor="accent"
    mat-flat-button
    (click)="Like()"
    [ngClass]="Liked ? 'liked disabled' : ''"
    [ngClass]="loading ? ' is-loading' : ''"
  >
    <p>
      <mat-icon
        [ngClass]="Liked ? 'liked' : ''"
        class="heartbutton color-light-red"
      >
        {{ Liked ? 'favorite' : 'favorite_border' }}</mat-icon
      >
      Curtir
    </p>
  </button>
  <p *ngIf="Liked" class="has-text-grey px-3" aria-label="Obrigado">
    Você curtiu este produto
  </p>
</div>
