
@import '../../../variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container{
  max-width: 1290px;
}

.mat-toolbar {
  background: rgba($color: white, $alpha: 0.99);
  margin-top: 0px;
  padding-top: 25px;
}
.busca{
  font-family: Trebuchet MS;
  font-size: 14px;
  color: #000000;
  height: 27px;
  padding-left: 3px;
  border: 0;
  width: 90%;
  outline: none;
  background-color: transparent;
}
.s-button{
  position: relative;
  right: 40px;
  top: 5px;
}
.media{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 10px;
}
.cart-title{
  color: rgb(105, 109, 140);
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
  line-height: 0;
}
.cart-subtitle{
  color: rgb(148, 153, 179);
  font-size: 11px;
  line-height: 100%;
}
.mat-icon{
  display: inline-block;
  height: 30px;
  vertical-align: middle;
  width: 30px;
}
.mat-mini-fab .mat-button-wrapper{
  display: block !important;
}
.cart-counter{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  bottom: 29px;
  text-align: center;
  color: #000000;
  font-size: 10px;
  background: #f0f0f0;
  border-radius: 90px;
  width: 20px;
  font-weight: 600;
}
.mat-mini-fab .mat-button-wrapper{
  padding: 0;
}
.nav-link{
  font-size: 12px;
  text-transform: capitalize;
  // padding: 0.5em;
  padding: 10px 15px;
  min-height: 15px;
  line-height: 30px;
  transition: 0.25s all ease-in-out;
  border-color: #acababce;
  // color: #666;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-width: 1px;
  margin-left: 0;
  font-family: open sans, sans-serif !important;

}
a.nav-link::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #f1f1f1;
  opacity: 0;
  box-sizing: border-box;
  -webkit-transform: scaleX(.1);
  transform: scaleX(.1);
  transition: all .7s ease;
  transition-timing-function: cubic-bezier(.2,1,.3,1);
};
a.nav-link:hover{
  &::before{
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  &:hover > .mat-icon{
    color:#ff4081
  }
  color:#ff4081
}
.inicio{
  border-left: none;
}
.active-nav{
  color: $capri;
  font-weight: 600;
  animation: selected 2s ease-out forwards;
}
@keyframes selected{
  0%{
    color: white;
  }

  100%{
    color: $red;
    // text-decoration: underline;
  }
}
.mat-toolbar{
  background: transparent;
}
.sticky-nav{
  // background: #fff;
  background: #ffffff;
}
.produtos-nav{
  background: #ffffff;
  background-size: 400% 400%;
  -webkit-animation: AnimationName 1s ease forwards;
  -moz-animation: AnimationName 1s ease forwards;
  animation: AnimationName 1s ease forwards;
  // & a.nav-link{
  //   font-weight: 600;
  // }
  // & .active-nav{
  //   color:$crayola !important;
  // }
  & .border-light{
    background:whitesmoke;
  }
}
.orcamento-nav{
  background: #ffffff;
  background-size: 400% 400%;
  -webkit-animation: AnimationName 1s ease forwards;
  -moz-animation: AnimationName 1s ease forwards;
  animation: AnimationName 1s ease forwards;
  & a.nav-link{
    // color:white;
    font-weight: 600;
  }
  & .active-nav{
    color:$capri !important;
  }
  & .border-light{
    background:whitesmoke;
  }
}
.produtos-nav-under{
  background-color: rgba(225, 225, 237,.5);
  height: 8px;
  box-shadow: 0px 2px 4px rgba(133, 133, 133, 0.12);
  top: 16px;
  position: relative;
  pointer-events: none;
}
.is-hidden{
  display: none;
}
.preco{
  color:#666;
  font-size: 13px;
  font-family: 'Helvetica';
}

@media (min-width: 0px ) and (max-width: 1023px) {

  .mat-toolbar {
    height: 65px;
  }
  .logo{
    margin-left: 0;
  }

}
@media (min-width:1023px){
  .flex-sb-c{
    display: block;
    justify-content:initial;
  }
}
@-webkit-keyframes AnimationName {
  0%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
