<mat-toolbar class="w-full dis-flex flex-sb py-0 shadow-light flex-c a-i-c z-index-top">
  <div class="w-full dis-flex flex-m flex-l px-2" style="height: 60px;">
    <a @fadeIn href="#" class="logo pb-4 m-l-30">
      <img loading="lazy" class="logo " src="assets/images/icons/Logo.png" alt="LOGO">
    </a>

  </div>
  <ul class="level list-inline pr-30 dis-flex flex-m">
    <li class="level-item px-2 has-text-centered">
      <div>
        <a class="title is-size-7" href="tel:{{(InfoContato$|async).Telefone}}"><i class="pi pi-mobile"></i> <span>{{(InfoContato$|async).Telefone}}</span></a>
      </div>
    </li>
    <li class="level-item px-2 has-text-centered">
      <div class="title is-size-7">
         <div class="dropdown">
           <a class="reset-a"><i class="pi pi-user"></i> <span class="is-hidden-touch">Minha conta</span></a>
          <div class="dropdown-content right-0">
            <a mat-menu-item *ngIf="!user" (click)="openLogin()"><i class="pi pi-id-card px-2"></i>Login</a>
            <a mat-menu-item *ngIf="!user" (click)="openLogin()"><i class="pi pi-id-card px-2"></i>Cadastre-se</a>
            <a mat-menu-item *ngIf="user" [routerLink]="['/minha-conta/pessoal']">Meu Perfil</a>
            <a mat-menu-item *ngIf="user && user?.Tipo == TipoUsuario.admin"
              [routerLink]="['/gerenciamento/app']">Gerenciamento</a>
            <a mat-menu-item *ngIf="user" (click)="Logout()">Sair</a>
          </div>
        </div>
      </div>
    </li>
    <li class="level-item px-2 has-text-centered">
      <div>
        <a class="title is-size-7 " (click)="openCheckout()"><i class="pi pi-shopping-cart"></i> <span class="is-hidden-touch">Carrinho de compras</span></a>
      </div>
    </li>
    <li class="level-item px-2 has-text-centered">
      <div>
        <a class="reset-a is-size-7" [routerLink]="['checkout']"><i class="pi pi-reply"></i> <span class="is-hidden-touch">Finalizar pedido</span></a>
      </div>
    </li>
  </ul>
</mat-toolbar>
<div class="w-full py-0 shadow-light  z-index-top pos-sticky top-0">
<div class="border shadow-light py-2 mat-toolbar"
  class="{{(NavState$ |async).activeNav.toLocaleLowerCase() == 'contato' ? 'orcamento-nav': ''}}"
  [ngClass]="(NavState$ |async).activeNav.toLocaleLowerCase() == 'básicos' ? 'produtos-nav': ''">
  <mat-toolbar class="mat-toolbar z-index-top dis-flex flex-c-m  w-full flex-sb a-i-c ">
    <div class="w-full dis-flex flex-c flex-m flex-sa py-2 px-2" style="height: 60px;">

      <div class="columns mx-0 my-0 py-2 is-mobile is-gapless">
        <div class="column  is-2">
          <button mat-icon-button (click)="search = !search" class="has-background-white mx-1">
            <mat-icon>search</mat-icon>
          </button>
        </div>
        <div class="column ">

          <div @fadeIn class="control has-icons-right" *ngIf="search">
            <form type="get" action="/produtos/?nome={{search_filter}}">
              <personalizados-lopes-autocomplete-dropdown (VerTodosResultados)="executar_pesquisa()" class="w-full"
                (SearchValueChanged)="handleSearchValue($event)"></personalizados-lopes-autocomplete-dropdown>
            </form>
          </div>
        </div>
      </div>

      <div class="columns mx-3 my-0 is-hidden-touch link-section ">

        <div *ngFor="let link of links" class="column">

          <ng-container *ngIf="link.options then dropdown else normal"></ng-container>
          <ng-template #normal>
            <a (click)="SetActiveNav(link)" [ngClass]="(NavState$ |async).activeNav == link.name ? 'active-nav': ''"
              class="nav-link hoverable {{link.name == 'inicio' ? 'inicio': ''}}" pageScroll [routerLink]="link.href"
              routerLinkActive="Active" href="#{{link.name == 'Básicos' ? 'topo' : link.name}}">
              <mat-icon *ngIf="link.Micon">{{link.Micon}}</mat-icon>
              <i *ngIf="link.Picon" [class]="link.Picon"></i>
              {{link.name == "Básicos"? 'Produtos' : link.name}}
            </a>
          </ng-template>

          <ng-template #dropdown>
            <div class="dropdown">
              <a (click)="SetActiveNav(link)" [routerLink]="link.href" pageScroll routerLinkActive="Active"
                [ngClass]="(NavState$ |async).activeNav == link.name ? 'active-nav': ''"
                class="nav-link hoverable {{link.name == 'inicio' ? 'inicio': ''}}">
                <mat-icon *ngIf="link.icon">{{link.icon}}</mat-icon>
                {{link.name == "Básicos"? 'Produtos' : link.name}}
              </a>
              <div class="dropdown-content has-background-white box">
                <a class="nav-link {{link.name == 'inicio' ? 'inicio': ''}} of-x-scroll" pageScroll routerLinkActive="Active"
                  href="#{{link.name == 'Básicos' ? 'topo' : link.name}}" [routerLink]="opt.link"
                  [queryParams]="opt.queryParams" *ngFor="let opt of link.options">{{opt.nome}}</a>
              </div>
            </div>
          </ng-template>

        </div>
      </div>

      <div class="my-0 dis-flex flex-r">

        <div class="dropdown is-hidden-touch">
          <a class="wrap-pic-cir boxshadow-none border-light w-full" mat-fab color="" title="Perfil">
            <mat-icon>person_outline</mat-icon>
          </a>
          <div class="dropdown-content right-0">
            <a mat-menu-item *ngIf="!user" (click)="openLogin()"><i class="pi pi-id-card px-2"></i>Login</a>
            <a mat-menu-item *ngIf="user" [routerLink]="['/minha-conta/pessoal']">Meu Perfil</a>
            <a mat-menu-item *ngIf="user && user?.Tipo == TipoUsuario.admin"
              [routerLink]="['/gerenciamento/app']">Gerenciamento</a>
            <a mat-menu-item *ngIf="user" (click)="Logout()">Sair</a>
          </div>
        </div>

        <div class="is-hidden-desktop ml-4 m-r-20">
          <a mat-ripple (click)="openCheckout()" title="Checkout" aria-label="Botão abrir Orçamento"
            class="size4 flex-c-m how-social boxshadow-none shadow-light orcamento pl-6 trans-04 m-b-3 m-t-3">
            <div class="columns line-height-small is-mobile">

            </div>
            <div class="columns">
              <div class="column">
                <mat-icon class="material-icons-outlined">shopping_bag</mat-icon>
                <p class="cart-counter">{{(Orcamento$|async).Produto.length || 0}}</p>
              </div>
            </div>
          </a>
        </div>

        <div class="is-hidden-touch ml-4 ">
          <div class="columns is-mobile is-vcentered">
            <div class="column">
              <a mat-fab  mat-ripple (click)="openCheckout()" title="Checkout" aria-label="Botão abrir Orçamento"
                color="accent"
                class="size4 flex-c-m how-social shadow-light orcamento trans-04 m-b-3 m-t-3">

                <mat-icon class="material-icons-outlined">shopping_bag</mat-icon>
                <p class="cart-counter">{{(Orcamento$|async).Produto.length || 0}}</p>
              </a>
            </div>
            <div class="column is-hidden-touch">
              <p class="preco" (click)="openCheckout()" *ngIf="(Orcamento$|async).Preco">
                R${{(Orcamento$|async).Preco.toFixed(2) || ''}}
              </p>
            </div>
          </div>

        </div>

        <div class="is-hidden-mobile dis-flex flex-w ">

          <!-- <div @slideInOut class="control has-icons-right" *ngIf="search">
            <form type="get" action="/produtos/?nome={{search_filter}}">
              <personalizados-lopes-autocomplete-dropdown (VerTodosResultados)="executar_pesquisa()" class="w-full"
                (SearchValueChanged)="handleSearchValue($event)"></personalizados-lopes-autocomplete-dropdown>
            </form>
          </div>
          <button mat-icon-button (click)="search = !search">
            <mat-icon>search</mat-icon>
          </button> -->
        </div>
      </div>

    </div>
  </mat-toolbar>

  <mat-toolbar-row
    [ngClass]="(NavState$ |async).activeNav.toLocaleLowerCase() == 'básicos' ? 'produtos-nav-under': 'produtos-nav-under'">
  </mat-toolbar-row>

</div>
</div>
