<div class="sticky-nav w-full shadow-light"
[ngClass]="(NavState$ |async).activeNav.toLocaleLowerCase() == 'básicos' ? 'produtos-nav': ''"
>
  <!-- container -->
  <mat-toolbar
  class="pos-sticky flex-m flex-sa mr-0 container">
    <div class="ml-1">
    </div>
    <a href="#"><img class="logo pb-3" src="assets/images/icons/Logo.png" alt="LOGO"></a>
    <span class="spacer"></span>
    <div class="columns mx-3 is-hidden-mobile link-section pt-3">
      <div *ngFor="let link of links" class="column">
        <a (click)="SetActiveNav(link)" [ngClass]="(NavState$ |async).activeNav == link.name ? 'active-nav': ''"
          class="nav-link hoverable {{link.name == 'inicio' ? 'inicio': ''}}" [routerLink]="link.href"
          routerLinkActive="true">{{link.name == "Básicos"? 'Produtos' : link.name}}
          <mat-icon *ngIf="link.icon">{{link.icon}}</mat-icon>
        </a>

      </div>

      <div class="wrap-pic-cir mb-2 py-4 px-4 border-light">
        <mat-menu #appMenu="matMenu">
          <ng-template matMenuContent let-name="name">
            <button mat-menu-item *ngIf="!user" (click)="openLogin()">Login</button>
            <button mat-menu-item *ngIf="user" [routerLink]="['/perfil']">{{user.Nome}}</button>
            <button mat-menu-item *ngIf="user && user?.Tipo == 1" [routerLink]="['/gerenciamento']">Gerenciamento</button>
            <button mat-menu-item *ngIf="user" (click)="Logout()">Sair</button>
          </ng-template>
        </mat-menu>
        <button [matMenuTriggerFor]="appMenu"
          class=" w-full "
          mat-icon-button
          title="Perfil">
          <mat-icon>person_outline</mat-icon>
        </button>
      </div>

    </div>
    <!-- [routerLink]="(Orcamento$|async).Produto.length? ['checkout'] : ''"
    routerLinkActive="Active"  -->
    <button mat-mini-fab data-aos="fade-up" (click)="openCheckout()"
     title="Checkout"
     aria-label="Botão abrir Orçamento"
     class="size4 mr-6 flex-c-m how-social orcamento trans-04 m-r-5 m-b-3 m-t-3">
    <div class="columns ml-6 line-height-small is-mobile">
      <!-- <div class="column has-text-right">
        <p class="cart-title">Pedido</p>
        <p class="cart-subtitle" *ngIf="(Orcamento$|async)?.Produto.length == 0">carrinho vazio</p>
        <p class="cart-subtitle" *ngIf="(Orcamento$|async)?.Produto.length > 0">{{(Orcamento$|async)?.Produto.length}} item(s)</p>
      </div> -->
    </div>
    <div class="columns">
      <div class="column">
        <mat-icon class="material-icons-outlined">shopping_bag</mat-icon>
        <p class="cart-counter">{{(Orcamento$|async).Produto.length || 0}}</p>
      </div>
    </div>
  </button>


</mat-toolbar>
<mat-toolbar-row
  [ngClass]="(NavState$ |async).activeNav.toLocaleLowerCase() == 'produtos' ? 'produtos-nav-under': 'is-hidden'">
</mat-toolbar-row>

</div>
