
@import '../../../variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.orcamento{
  margin-top: -18px;
}
a{
  color:initial;
}
.container{
  max-width: 1290px;
}
.link-section{
  padding-right: 25px;
  margin-right: 50px;
}
.mat-toolbar {
  height: 90px;
  background: white;
  // margin-top:5px;
  padding-top: 25px;
}
.media{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 10px;
}
.cart-title{
  color: rgb(105, 109, 140);
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
  line-height: 0;
}
.cart-subtitle{
  color: rgb(148, 153, 179);
  font-size: 11px;
  line-height: 100%;
}
.mat-icon{
  display: inline-block;
  height: 30px;
  vertical-align: middle;
  width: 30px;
}
.cart-counter{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  right: 14px;
  top: 10px;
  text-align: center;
  color: #ffffff;
  font-size: 11px;
  font-weight: 600;
}
@media (min-width: 320px ) and (max-width: 1023px) {

  .mat-toolbar {
    height: 90px;
  }
  .orcamento{
    margin-right: 2rem;
  }
}
.nav-link{
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  padding: .5em;
  line-height: 30px;
  transition: 0.25s all ease-in-out;
  color: gray;
  &:hover{
    color:black;

  }
  border-color: #4d4c4c3d;
  border-left-style: solid;
  border-radius: 0px;
  border-left-width: 1px;
  margin-left: -13px;
}
.inicio{
  border-left: none;
}
.active-nav{
  color: black;
  font-weight: 500;
  animation: selected 2s ease-out forwards;
}
@keyframes selected{
  0%{
    color: white;
  }
  100%{
    color: black;
    text-decoration: underline;
  }
}
.container{
  background: transparent;
}
.sticky-nav{
  background: #f9f9f9;
}
