<personalizados-lopes-exibicao-breadcrumb
  *ngIf="Produto"
  [Produto]="Produto"
  class="mt-6"
></personalizados-lopes-exibicao-breadcrumb>
<section class="">
  <div class="px-1">
    <div *ngIf="!Produto">
      <div class="p-grid p-formgrid">
        <div class="p-field p-col-12 p-md-6">
          <p-skeleton styleClass="mb-2 pb-2"></p-skeleton>
          <p-skeleton width="10rem" styleClass="mb-2 pb-2"></p-skeleton>
          <p-skeleton width="5rem" styleClass="mb-2 pb-2"></p-skeleton>
          <p-skeleton height="2rem" styleClass="mb-2 pb-2"></p-skeleton>
          <p-skeleton width="10rem" height="4rem"></p-skeleton>
        </div>
      </div>
    </div>

    <div class="margin section">
      <div class="columns is-gapless is-multiline" *ngIf="Produto">
        <div class="column is-5-desktop is-12-tablet">
          <div class="columns">
            <div class="column is-12">

              <div class="section">
                <personalizados-lopes-exibicao-imagem-produto
                  [_Produto]="Produto"
                ></personalizados-lopes-exibicao-imagem-produto>
              </div>

              <div class="message-body is-success my-2">
                <h1 class="titulo-produto fs-17">{{ Produto?.Nome }}</h1>
                <personalizados-lopes-descricao-rapida-produto
                  [Produto]="Produto"
                ></personalizados-lopes-descricao-rapida-produto>
                <p class="is-size-6">Referência:</p>
                <span class="subtitle fs-11">{{ Produto._id }}</span>
              </div>
            </div>
          </div>
          <personalizados-lopes-avaliacao-estrelas-produto></personalizados-lopes-avaliacao-estrelas-produto>

          <div class="column is-12 is-hidden-touch">
            <ul class="content list-unstyled dis-flex flex-sa flex-m">
              <li>
                <p class="subtitle">
                  <mat-icon>verified</mat-icon>
                  <span class="fs-300">{{ Produto?.Modelo || 'N/A' }}</span>
                </p>
              </li>
              <li>
                <p class="subtitle">
                  <mat-icon>style</mat-icon>
                  <span class="fs-300">{{
                    Produto?.Marca?.Nome || Produto?.Marca || 'N/A'
                  }}</span>
                </p>
              </li>
            </ul>
          </div>
        </div>

        <div class="column is-7">
          <div class="columns box box-offset">
            <div class="column is-6-desktop is-6-tablet px-0 z-index-1">
              <div class="px-1 pos-sticky top-0">
                <div *ngIf="Produto" class="columns is-multiline">
                  <div class="column is-12-desktop is-12-tablet is-12-mobile">
                    <form *ngIf="produtoForm" action="" method="post">
                      <div
                        *ngIf="Produto?.Status != statusProduto.esgotado"
                        class="txt-left"
                      >
                        <div class="columns py-1">
                          <div class="column is-12">
                            <div class="message is-white">
                              <div class="message-body px-0">
                                <div
                                  class="columns flex-sa mx-0 w-full is-multiline pb-1"
                                >
                                  <div
                                    class="column is-6-desktop is-12-mobile mh-full"
                                  >
                                    <personalizados-lopes-selecao-tamanho-produto
                                      [Produto]="Produto"
                                      [ErroTamanho]="ErroTamanho"
                                      [Erros]="Erros"
                                    ></personalizados-lopes-selecao-tamanho-produto>
                                  </div>
                                  <div
                                    class="column is-6-desktop is-12-mobile of-x-scroll"
                                  >
                                    <personalizados-lopes-cor-produto-selector
                                      [Produto]="Produto"
                                      (onSetColor)="setColor($event)"
                                    ></personalizados-lopes-cor-produto-selector>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-12">
                    <div class="message is-white">
                      <div class="message-body px-0">
                        <personalizados-lopes-selecao-estampa
                          [Produto]="Produto"
                          (onSelecionarEstampa)="SelecionarEstampa($event)"
                        >
                          <personalizados-lopes-exibicao-artes-produto
                            [Produto]="Produto"
                            (onAbrirModalArte)="AbrirModalArte($event)"
                          ></personalizados-lopes-exibicao-artes-produto>
                        </personalizados-lopes-selecao-estampa>
                      </div>
                    </div>
                  </div>
                </div>
                <figure
                  class="image is-64x64 img-orcamento"
                  [ngClass]="isOrcamento ? 'active' : ''"
                >
                  <img src="{{ (Produto?.Imagem)[0] }}" alt="" />
                </figure>
              </div>
            </div>

            <div class="column is-6-desktop is-6-tablet">
              <div class="">
                <personalizados-lopes-bloco-pagamento-produto
                  [Produto]="Produto"
                  [isOrcamento]="isOrcamento"
                  [Form]="produtoForm"
                  [textoAdicionar]="textoAdicionar"
                  (onAdicionarAoOrcamento)="AdicionarAoOrcamento()"
                  (onAdicionarAoCarrinho)="AdicionarAoCarrinho()"
                  (onDuplicarOrcamento)="DuplicarOrcamento()"
                  [ErroQuantidade]="ErroQuantidade"
                  [Erros]="Erros"
                  (onQuantidadeChange)="setQuantidade($event)"
                ></personalizados-lopes-bloco-pagamento-produto>
                <mat-list *ngIf="!IsValid" class="w-full mx-0 border">
                  <mat-list-item *ngFor="let erro of Erros">
                    <p class="subtitle is-size-6 has-text-danger">
                      *{{ erro.erro }}
                    </p>
                    <hr />
                  </mat-list-item>
                </mat-list>
                <div
                  *ngIf="Produto?.Status == statusProduto.esgotado"
                  class="box w-full"
                >
                  <personalizados-lopes-botao-esgotado [Produto]="Produto">
                  </personalizados-lopes-botao-esgotado>
                </div>
                <div class="w-full flex-l">
                  <personalizados-lopes-botoes-compartilhamento-produto></personalizados-lopes-botoes-compartilhamento-produto>
                  <personalizados-lopes-curtir-produto
                    [Produto]="Produto"
                  ></personalizados-lopes-curtir-produto>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-12-desktop mt-3">
          <personalizados-lopes-tab-informacao-avaliacao-produto
            [Produto]="Produto"
          ></personalizados-lopes-tab-informacao-avaliacao-produto>
        </div>
      </div>
    </div>

    <div class="margin container">
      <personalizados-lopes-botao-contato-whatsapp
        (click)="EntrarEmContato()"
      ></personalizados-lopes-botao-contato-whatsapp>
    </div>
  </div>
</section>
