<div class="">
  <div class="columns is-multiline">
    <div class="column is-12">
      <personalizados-lopes-selecao-quantidade-produto
        [Produto]="Produto"
        [ErroQuantidade]="ErroQuantidade"
        [Erros]="Erros"
        (onQuantidadeChange)="onQuantidadeChange.emit($event)"
      ></personalizados-lopes-selecao-quantidade-produto>
    </div>
    <div class="column is-12">
      <ng-container
        *ngIf="
          findInvalidControlsRecursive();
          then erro;
          else done
        "
      ></ng-container>
      <ng-template #erro>
        <personalizados-lopes-mensagem-comprar-produto-desabilitado
          [Produto]="Produto"
          [textoAdicionar]="textoAdicionar"
        ></personalizados-lopes-mensagem-comprar-produto-desabilitado>
      </ng-template>
      <ng-template #done>
        <personalizados-lopes-botao-comprar-produto
          [Produto]="Produto"
          [isOrcamento]="isOrcamento"
          [textoAdicionar]="textoAdicionar"
          (onAdicionarAoOrcamento)="
          onAdicionarAoOrcamento.emit($event)
          "
          (onDuplicarOrcamento)="
          onDuplicarOrcamento.emit($event)
          "
        ></personalizados-lopes-botao-comprar-produto>
      </ng-template>
    </div>
  </div>
</div>
