<div class="">
  <div class="columns is-multiline">
    <div class="column is-12">
      <personalizados-lopes-selecao-quantidade-produto
        [Produto]="Produto"
        [ErroQuantidade]="ErroQuantidade"
        [Erros]="Erros"
        (onQuantidadeChange)="onQuantidadeChange.emit($event)"
      ></personalizados-lopes-selecao-quantidade-produto>
    </div>

    <div class="column is-12">
      <div class="message is-white">
        <div class="message-body">
          <personalizados-lopes-exibicao-preco-produto
            [Produto]="Produto"
          ></personalizados-lopes-exibicao-preco-produto>
          <mat-chip-list>
            <mat-chip>{{translateEnum(Produto.Status)}}</mat-chip>
          </mat-chip-list>
        </div>
        <div class="w3-hide-small w3-text-grey font33">
          <i class="fas fa-barcode"></i>
          <i class="fab fa-cc-visa"></i>
          <i class="fab fa-cc-mastercard"></i>
          <i class="fab fa-cc-diners-club"></i>
          <i class="fab fa-cc-amex"></i>
        </div>
      </div>
    </div>
    <div class="column is-12">
      <ng-container
        *ngIf="
          findInvalidControlsRecursive();
          then erro;
          else done
        "
      ></ng-container>
      <ng-template #erro>
        <personalizados-lopes-mensagem-comprar-produto-desabilitado
          [Produto]="Produto"
          [textoAdicionar]="textoAdicionar"
        ></personalizados-lopes-mensagem-comprar-produto-desabilitado>
      </ng-template>
      <ng-template #done>
        <personalizados-lopes-botao-comprar-produto
          [Produto]="Produto"
          [isOrcamento]="isOrcamento"
          [textoAdicionar]="textoAdicionar"
          (onAdicionarAoOrcamento)="
          onAdicionarAoOrcamento.emit($event)
          "
          (onAdicionarAoCarrinho)="
          onAdicionarAoCarrinho.emit($event)
          "
          (onDuplicarOrcamento)="
          onDuplicarOrcamento.emit($event)
          "
        ></personalizados-lopes-botao-comprar-produto>
      </ng-template>
    </div>
    <div class="column is-12">
      <ng-content></ng-content>
    </div>
    <div class="column is-12">
      <form [formGroup]='cepForm'>
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Calcule frete e prazo</mat-label>
          <input matInput (change)="AtualizarOrcamento()" [formControlName]="'cep'"
          [mask]="'00000-000'"
                 placeholder="seu CEP">
          <mat-error *ngIf="cepForm.get('cep').hasError('required')">
            É necessário inserir um <strong>CEP</strong>
          </mat-error>
          <button [disabled]="cepForm.invalid" class="submit" (click)="CalcularFreteProduto()">Calcular</button>
        </mat-form-field>
      </form>
    </div>
  </div>
</div>
