<table @fadeIn mat-table [dataSource]="ProdutoTable.dataSource" class="w-full">

  <ng-container matColumnDef="Produtos">
    <th @fadeIn mat-header-cell *matHeaderCellDef> Produtos </th>
    <td @fadeIn mat-cell *matCellDef="let element">
      <a  href="#topo"
        [routerLink]="['/produtos/',element._id]"
        routerLinkActive="router-link-active">
        {{element.Produto.Nome}}
      </a>
  </td>
  </ng-container>

  <ng-container matColumnDef="Total">
    <th @fadeIn mat-header-cell *matHeaderCellDef> Total </th>
    <td @fadeIn mat-cell *matCellDef="let element"> {{element.Produto.Quantidade}}</td>
  </ng-container>

  <ng-container matColumnDef="Acoes">
    <th @fadeIn mat-header-cell *matHeaderCellDef> </th>
    <td @fadeIn mat-cell *matCellDef="let element">
      <button mat-icon-button title="Remover do orçamento" (click)="removerProduto(element)">
        <mat-icon>remove_circle</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="ProdutoTable.displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: ProdutoTable.displayedColumns;"></tr>
</table>
