<div class="columns is-vcentered">
  <div class="column"  data-aos="zoom-up">
    <personalizados-lopes-card-contato></personalizados-lopes-card-contato>
  </div>
  <div class="column"  data-aos="zoom-up">
    <personalizados-lopes-formulario [compact]="true" [Orcamento]="Orcamento"></personalizados-lopes-formulario>
    <div class="w-full flex-w flex-m">
      <button mat-flat-button (click)="EnviarOrcamento()" class="w-full wp-btn has-text-white submit">Enviar</button>
    </div>
  </div>
</div>
