<h1 mat-dialog-title class="tem-cor-primaria">Criação de postagem</h1>
<div mat-dialog-content>

  <mat-form-field class="w-full">
    <input matInput type="text" [(ngModel)]="BlogPost.Titulo" placeholder="Titulo" title="Titulo">
  </mat-form-field>

  <div class="file has-name pb-3">
    <label class="file-label">
      <input class="file-input" multiple type="file" (change)="upload($event)">
      <span class="file-cta">
        <span class="file-icon">
          <i class="pi pi-cloud-upload"></i>
        </span>
        <span class="file-label">
          Escolha as imagens…
        </span>
        <span class="file-name">
          {{fileNames}}
        </span>
      </span>
    </label>
  </div>

  <div class="w-full">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Conteúdo</mat-card-title>
        <mat-card-content>
          Explore a ferramenta
          <p>Aqui é possível inserir conteúdos externos como fotos e videos, postagens de redes sociais e criação de tabelas de caracteristicas</p>
        </mat-card-content>
      </mat-card-header>
    </mat-card>
    <personalizados-lopes-editor
     class="box"
     (Changed)="BlogPost.Conteudo = $event"
     [Disabled]='false'
     [Conteudo]="BlogPost.Conteudo"></personalizados-lopes-editor>
  </div>

  <mat-form-field appearance="">
    <mat-label>Categoria</mat-label>
    <mat-select matNativeControl [(ngModel)]="BlogPost.Categoria" [value]="BlogPost.Categoria">
      <mat-option *ngFor="let opt of categorias" [value]="opt">
        {{opt}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field class="w-full">
    <mat-chip-list #chipTagList aria-label="Tag selection">
      <mat-chip
        *ngFor="let tag of BlogPost.Tags"
         [selectable]="selectable"
         [removable]="removable"
         (removed)="removeTag(tag)">
        {{tag}}
        <mat-icon matChipRemove
         *ngIf="removable">
         cancelar
        </mat-icon>
      </mat-chip>
      <input
        placeholder="Tags"
        #tagInput
        [formControl]="tagCtrl"
        [matChipInputFor]="chipTagList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addTag($event)">
    </mat-chip-list>
  </mat-form-field>

  <mat-form-field  class="w-full"  appearance="fill">
    <mat-label>Status</mat-label>
    <mat-select matNativeControl [(ngModel)]="BlogPost.StatusPostagem"  [value]="BlogPost.StatusPostagem">
      <mat-option *ngFor="let opt of status; let i = index" [value]="i">
        {{opt}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-full">
    <input matInput type="text" [(ngModel)]="BlogPost.Autor.RedeSocial[0].Link" placeholder="Instagram" title="Instagram">
  </mat-form-field>
  <mat-form-field class="w-full">
    <input matInput type="text" [(ngModel)]="BlogPost.Autor.RedeSocial[1].Link" placeholder="Facebook" title="Facebook">
  </mat-form-field>
  <mat-form-field class="w-full">
    <input matInput type="text" [(ngModel)]="BlogPost.Autor.RedeSocial[2].Link" placeholder="Twitter" title="Twitter">
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-raised-button color="basic" [mat-dialog-close]="BlogPost">
      Enviar
  </button>
  <button mat-raised-button color="basic" (click)="onNoClick()" cdkFocusInitial>
      Cancelar
  </button>
</div>
