<!--sidebar-->
<div class="content col-md-4 col-sm-12 col-xs-12">
  <div class="section-block summary">
    <h1 class="section-title">LAUNCH</h1>
    <div class="profile-contents">
      <h2 class="position">Sky Rocketing Your Funding Campaign</h2>
      <img src="assets/img/profile-img.jpg" class="profile-image img responsive" alt="John Doe">
      <!--social links-->
      <ul class="list-inline">
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-git"></i></a></li>
      </ul>
      <!--/social links-->
      <a href="#" class="btn btn-contact"><i class="fa fa-envelope"></i>CONTACT US</a>
    </div>
  </div>
  <div class="section-block">
    <h1 class="section-title">REWARDS</h1>
    <!--reward blocks-->
    <div class="reward-block">
      <h3>$10</h3>
      <h2>Early Bird</h2>
      <p>Curabitur accumsan sem sed velit ultrices fermentum. Pellentesque rutrum mi nec ipsum elementum aliquet. Sed id vestibulum eros. Nullam nunc velit, viverra sed consequat ac, pulvinar in metus.</p>
      <span><i class="fa fa-users"></i> 180 backers</span>
      <a href="" class="btn btn-reward">GET THIS REWARD</a>
    </div>
    <div class="reward-block popular">
      <h3>$20</h3>
      <h2>Value Bird</h2>
      <p>Curabitur accumsan sem sed velit ultrices fermentum. Pellentesque rutrum mi nec ipsum elementum aliquet. Sed id vestibulum eros. Nullam nunc velit, viverra sed consequat ac, pulvinar in metus.</p>
      <span><i class="fa fa-users"></i> 320 backers</span>
      <a href="" class="btn btn-reward">GET THIS REWARD</a>
    </div>
    <div class="reward-block">
      <h3>$30</h3>
      <h2>Super Bird</h2>
      <p>Curabitur accumsan sem sed velit ultrices fermentum. Pellentesque rutrum mi nec ipsum elementum aliquet. Sed id vestibulum eros. Nullam nunc velit, viverra sed consequat ac, pulvinar in metus.</p>
      <span><i class="fa fa-users"></i> 105 backers</span>
      <a href="" class="btn btn-reward">GET THIS REWARD</a>
    </div>
    <div class="reward-block last">
      <h3>$50</h3>
      <h2>Premium Bird</h2>
      <p>Curabitur accumsan sem sed velit ultrices fermentum. Pellentesque rutrum mi nec ipsum elementum aliquet. Sed id vestibulum eros. Nullam nunc velit, viverra sed consequat ac, pulvinar in metus.</p>
      <span><i class="fa fa-users"></i> 64 backers</span>
      <a href="" class="btn btn-reward">GET THIS REWARD</a>
    </div>
    <!--/reward blocks-->
  </div>
  <!--credits-->
  <div class="section-block">
    <h1 class="section-title">CREDITS</h1>
    <!--credits block-->
    <div class="credit-block sources">
      <ul class="list-unstyled">
        <li><a href="http://getbootstrap.com/"><i class="fa fa-external-link"></i>Bootstrap</a></li>
        <li><a href="http://fortawesome.github.io/Font-Awesome/"><i class="fa fa-external-link"></i>FontAwesome</a></li>
        <li><a href="https://www.google.com/fonts"><i class="fa fa-external-link"></i>Google Fonts</a></li>
        <li><a href="http://jquery.com/"><i class="fa fa-external-link"></i>jQuery</a></li>
        <li><a href="https://vimeo.com/67938315"><i class="fa fa-external-link"></i>Vimeo Video</a></li>
        <li><a href="http://uifaces.com/"><i class="fa fa-external-link"></i>Glasses Image</a></li>
      </ul>
    </div>
    <div class="credit-block license">
      <p>The Launch template was created by <a class="lined" href="http://themes.audaindesigns.com">Audain Designs</a> for use by anyone for <strong>FREE</strong> and is covered uner the <a class="lined" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a>.</p>
      <p>As time goes on the template may receive updates, follow us on twitter to get notified when an update is released.</p>
      <a href="http://twitter.com/audaindesigns" class="btn btn-follow"><i class="fa fa-twitter"></i>FOLLOW US</a>
      <a href="#" class="btn btn-download"><i class="fa fa-download"></i>DOWNLOAD TEMPLATE</a>
    </div>
    <!--/credits block-->
  </div>
  <!--/credits-->
</div>
<!--/sidebar-->
