<!--sidebar-->
<div class="content col-md-4 col-sm-12 col-xs-12">
  <div class="section-block summary">
    <h1 class="section-title">LINKS</h1>
    <p>
      <mat-toolbar color="" class="">
        <mat-toolbar-row class="py-6">
          <a [routerLink]="'/blog'" class="logo">
            Blog
          </a>
          <span class="spacer"></span>
        </mat-toolbar-row>

      </mat-toolbar>
    </p>
  </div>
  <div class="section-block">
    <h1 class="section-title">Últimas postagens</h1>
    <p>
      <mat-toolbar color="" class="">
        <mat-toolbar-row class="py-6">
          <div  *ngFor="let post of Blog">
            <a *ngIf="CanView(post)" [routerLink]="'/blog/'+post.Titulo" class="logo" >
              {{post.Titulo}}
            </a>
            <span class="spacer"></span>
          </div>
        </mat-toolbar-row>

      </mat-toolbar>
    </p>
  </div>
  <!--credits-->
  <div class="section-block">

  </div>
  <!--/credits-->
</div>
<!--/sidebar-->
