<div class="w-full" *ngIf="(Produtos$|async).length >0">
  <div class="swiper-container w-full z-index-1 px-1" [swiper]="swiperConfig$ |async">
    <div class="w-full hoverable border py-1 px-2">
      <h1>Novidades</h1>
      <span class="hr-inner-style"></span>
    </div>
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let produto of Produtos$|async" >
        <personalizados-lopes-card-produto [Produto]="produto"
          [TrocaImagem]="false"></personalizados-lopes-card-produto>
      </div>
    </div>
  </div>
</div>
