<div class="hero pb-2" [ngClass]="TipoOrdenacao==tipoOrdenacaoSwiperProduto.Vendas?' has-background-white':'bg-transp'">
  <div class="px-0 py-2 hero-body" [ngClass]="TipoOrdenacao==tipoOrdenacaoSwiperProduto.Vendas?' ':''">
    <ng-container *ngIf="(Produtos)?.length >0 then data else nodata"></ng-container>
    <ng-template #nodata>
      <div class="w-full">
        <p>Não encontramos nenhum produto relacionado ainda.. Não encontrou o que queria?
          Que tal nos mandar uma sugestão de produto?

        </p>
        <a mat-flat-button class="has-background-dark has-text-light button" [routerLink]="['/orcamento']">
          <button class="has-text-light">Contato</button>
        </a>
      </div>
    </ng-template>
    <ng-template #data>

      <div class="w-full">
        <div #swiperEl (mouseenter)="onSwiperHover( true )" (mouseleave)="onSwiperHover( false )"
          class="swiper-container w-full z-index-1 px-1" [swiper]="swiperConfig$ |async">
          <div class="swiper-button-prev z-index-top clickable hoverable"></div>
          <div class="swiper-button-next z-index-top clickable hoverable"></div>
          <div class="w-full hoverable ">
            <ng-container *ngIf="TipoOrdenacao==tipoOrdenacaoSwiperProduto.Inclusao then Inclusao else Outro">
            </ng-container>
            <ng-template #Inclusao>
              <mat-toolbar>
                <h1>Destaques</h1>
              </mat-toolbar>
            </ng-template>
            <ng-template #Outro>
              <ng-container *ngIf="TipoOrdenacao==tipoOrdenacaoSwiperProduto.Vendas then Vendas else Visualizacoes">
              </ng-container>
              <ng-template #Vendas>
                <mat-toolbar>
                  <h1>Mais vendidos</h1>
                </mat-toolbar>
              </ng-template>
              <ng-template #Visualizacoes>
                <mat-toolbar>
                  <h1 class="">Mais populares</h1>
                </mat-toolbar>
              </ng-template>
            </ng-template>
            <span class="hr-inner-style"></span>
          </div>
          <div class="swiper-wrapper ">
            <div class="swiper-slide" *ngFor="let produto of Produtos">
              <personalizados-lopes-card-produto [Produto]="produto" [TrocaImagem]="false">
              </personalizados-lopes-card-produto>
            </div>
          </div>
        </div>
      </div>

    </ng-template>
  </div>
</div>
