<div class="w-full">
  <mat-card class="card">

    <mat-card-title class="title is-5 is-uppercase">Cadastrar fornecedor</mat-card-title>

    <mat-card-content class="card-body">
      <personalizados-lopes-editar-fornecedor-produto-form
        [FornecedorProduto]="FornecedorProduto"
        (onUpdate)="this.CarregarFornecedoresProduto()"
      ></personalizados-lopes-editar-fornecedor-produto-form>
    </mat-card-content>

  </mat-card>
  <div class="section w-full">
    <table *ngIf="FornecedoresProduto" class="table w-full">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Site</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let forn of FornecedoresProduto">
          <td>{{forn.Nome}}</td>
          <td>{{forn.Website}}</td>
          <td><button mat-icon-button (click)="Editar(forn)"><mat-icon>edit</mat-icon></button></td>
          <td><button mat-icon-button (click)="Remover(forn)"><mat-icon>remove</mat-icon></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
