<div class="columns is-vcentered is-mobile">
  <div class="column is-10">
    <table @fadeIn matRipple class="portfolio-item zoom table w-full is-narrow is-hoverable is-fullwidth">
      <tbody>
        <tr>
          <td>
            <a [routerLink]="['/produtos/'+CodProduto.Produto._id]">
              <figure class="image is-128x128">
                <img src="{{CodProduto.Produto.Imagem}}">
              </figure>
            </a>
          </td>
          <td>
            <a [routerLink]="['/produtos/'+CodProduto.Produto._id]">
              <p class="titulo-produto preto6">{{CodProduto.Produto.Nome}}</p>
              Quantidade: {{CodProduto.Produto.Quantidade}}
            </a>
          </td>
          <td>
            <figure class="image is-64x64" *ngIf="CodProduto.Produto.ArteSecundaria">
              <img src="{{CodProduto.Produto.Arte}}">
            </figure>
          </td>
          <td>
            <figure class="image is-64x64" *ngIf="CodProduto.Produto.ArteSecundaria">
              <img src="{{CodProduto.Produto.ArteSecundaria}}">
            </figure>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="column">
    <nav class="panel">
      <p class="panel-heading">
        Total
      </p>
      <div class="panel-block">
        <p class="control title is-6">
          R${{CodProduto.Produto.Preco.toFixed(2)}}
        </p>
      </div>
      </nav>
  </div>
</div>
