.icon-container{
  border-radius:50%;
  margin:0 0 5px 0px;
  position: fixed;
  top: 90px;
  left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:2;
  transition: .5s all ease-in-out;
  &:hover{
    background: rgba(255, 255, 255, .5);
  }
}
.color{
  color:black;
}
::ng-deep .fa-lg {
font-size: 2.333333em;
}
@media (min-width: 0px ) and (max-width: 1023px) {

  .icon-container{
      top: 95px;
      left: 15px;
      z-index: 2;
      opacity: .8;
  }

}
