<mat-card>
  <mat-card-title>
    <h1>Imagens utilizadas no site.</h1>
  </mat-card-title>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab [label]="'Carrosel'">
        <personalizados-lopes-editar-carousel></personalizados-lopes-editar-carousel>
      </mat-tab>
      <mat-tab label="Todas">
        <div class="flex-w flex-c">
          <mat-spinner *ngIf="Loading"></mat-spinner>
        </div>
        <div class="w-full">
          <button mat-mini-fab (click)="Criar()">
            <mat-icon>add</mat-icon>
          </button>
          <div class="flex-w flex-c w-full">
            <ng-container *ngIf="!Loading">
              <mat-tab-group
                [selectedIndex]="selected.value"
                (selectedIndexChange)="selected.setValue($event)"
                class="w-full"
              >
                <mat-tab
                  *ngFor="let tab of tabs; let index = index"
                  [label]="tab.name"
                  class="w-full"
                >
                  <personalizados-lopes-list-imagens
                    [Table]="tab.table"
                  ></personalizados-lopes-list-imagens>
                </mat-tab>
              </mat-tab-group>
            </ng-container>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
