<div class="container-app columns is-vcentered is-multiline py-4">

  <div class="controls border-dark column is-3">

    <a id="add" class="button" (click)="addText()">Texto</a>
    <a class="button" (click)="addStockImg()" >Design</a>
    <a class="button" (click)="importFile()" >Importar</a>
  </div>
  <div class="column is-8">
    <canvas #canvas id="c" height="500" class=" w-full border-dark card"></canvas>
  </div>
  <div class="column">

    <button (click)="exportToSvg()" class="export-btn">Concluir</button>
    <div class="item-selected">
      <div id='i-text' class="item-panel">
        <div id="general-controls">
          <div id="text-controls-additional">
            <div id="color-select" (click)="clickColor()" class="color-select">
              <div id="color-selected" class="color-item"></div>
              <span class="caption">Cor</span>
            </div>
            <input type='checkbox' name='fonttype' id="text-cmd-bold">
            <label class="text-control" for="text-cmd-bold">
              <b>B</b>
            </label>
            <input type='checkbox' name='fonttype' id="text-cmd-italic">
            <label class="text-control" for="text-cmd-italic">
              <i>I</i>
            </label>
            <input type='checkbox' name='fonttype' id="text-cmd-underline">
            <label class="text-control" for="text-cmd-underline">
              <span style="text-decoration:underline">U</span>
            </label>
          </div>
          <label for="font-family" style="display:inline-block">Familia da Fonte:</label>
          <select id="font-family">
            <option value="arial">Arial</option>
            <option value="helvetica" selected>Helvetica</option>
            <option value="comic sans ms">Comic Sans MS</option>
          </select>
        </div>
        <div id="color-controls">
          <div class="header-control">
            <span onclick="back()">
              < </span>
                <p>Ecolha uma cor</p>
          </div>
          <div id="color-list">

          </div>
        </div>
      </div>
      <div id='image' class="item-panel">
        <label for="text-color">color:</label>
        <input type="color" value="" id="fill-color" size="10">
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('fill-color').onchange = function () {
      __canvas.getActiveObject().set("fill", this.value);
      __canvas.renderAll();
    };
  document.getElementById('font-family').onchange = function () {
    canvas.getActiveObject().set("fontFamily", this.value);
    canvas.renderAll();
  };
</script>
