<div class="txt-center card w-full flex-sa level dis-flex flex-w flex-m">
<div class="container-app columns is-vcentered txt-center is-multiline py-4 w-full mx-0">

  <div data-aos="zoom-in" class="controls border-dark is-4 pos-absolute left-0 z-index-top">
    <a id="add" class="button" (click)="addText()">Texto</a>
    <a class="button" (click)="addStockImg()" >Design</a>
    <a class="button" (click)="importFile()" >Importar</a>
  </div>
  <div data-aos="zoom-in" class="column is-12-desktop is-12-touch box bg-img1 size1 overlay1">
    <figure data-aos="zoom-in">
      <img [src]="Produto?.Imagem[0]"  class="prod-img">
    </figure>
    <canvas id="c" height="500" style="border:3px solid #131313"></canvas>
  </div>
  <div class="column is-12 is-12-touch">
    <div class="item-selected dis-flex box w-full">
      <p>Escolher Fontes e Cores</p>
      <div id='i-text' class="item-panel">
        <div id="general-controls">
          <div id="text-controls-additional">
            <div id="color-select" (click)="clickColor()" class="color-select">
              <div id="color-selected" class="color-item"></div>
              <span class="caption">Cor</span>
            </div>
            <input type='checkbox' name='fonttype' id="text-cmd-bold">
            <label class="text-control" for="text-cmd-bold">
              <b>B</b>
            </label>
            <input type='checkbox' name='fonttype' id="text-cmd-italic">
            <label class="text-control" for="text-cmd-italic">
              <i>I</i>
            </label>
            <input type='checkbox' name='fonttype' id="text-cmd-underline">
            <label class="text-control" for="text-cmd-underline">
              <span style="text-decoration:underline">U</span>
            </label>
          </div>
          <label for="font-family" style="display:inline-block">Familia da Fonte:</label>
          <select id="font-family">
            <option value="arial">Arial</option>
            <option value="helvetica" selected>Helvetica</option>
            <option value="comic sans ms">Comic Sans MS</option>
          </select>
        </div>
        <div id="color-controls">
          <div class="header-control">
            <span onclick="back()"></span>
            <p>Ecolha uma cor</p>
          </div>
          <div id="color-list">

          </div>
        </div>
      </div>
      <div id='image' class="item-panel">
        <label for="text-color">color:</label>
        <input type="color" value="" style="height:30px" id="fill-color" size="10">
      </div>
    </div>
  </div>
</div>
