<div class=''>

  <ng-container
    *ngIf='(Filtro | async).FiltroProdutos?.length > 0'>
    <personalizados-lopes-dataview-produtos [Produtos]='Produtos'></personalizados-lopes-dataview-produtos>
  </ng-container>

  <ng-container
    *ngIf='(Filtro | async).FiltroProdutos.length == 0'>
    <personalizados-lopes-nenhum-produto-encontrado> </personalizados-lopes-nenhum-produto-encontrado>
  </ng-container>

  <p-skeleton *ngIf='total == 0'></p-skeleton>

</div>

<div class='columns is-multiline w-full'>

  <div class='column is-12 is-hidden-tablet mb-3'>
    <personalizados-lopes-selecao-faixa-preco-produto></personalizados-lopes-selecao-faixa-preco-produto>
  </div>

  <div class="column is-12">

    <div class="w-full a-i-c m-lr-auto flex-c-m">
      <a
        (click)='CarregarMaisProdutos()'
        *ngIf='total > Produtos?.length'
        [ngClass]="loading_more ? 'button is-loading' : ''"
        class='px-3 button wp-btn txt-center border-light'
        mat-fab
        title='Carregar mais produtos'
      >
        <mat-icon>add</mat-icon>
      </a>
    </div>

  </div>

</div>
