
/* --------------------------------------------------
---------- BACK TO TOP ----------
----------------------------------------------------*/

.back-to-top{
  margin:0 0 5px 0px;
  position: fixed;
  bottom: 100px;
  font-size: 50px;
  border: 2px solid;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:2;
  min-height: 20px;
  min-width: 20px;
  opacity: 0;
  padding: .51rem;
  color: black;
  visibility: hidden;
  transition: all .2s ease-in-out;
}

.back-to-top.show-scrollTop {
  visibility: visible;
  opacity: 1;
}
@media (min-width: 320px ) and (max-width: 1023px) {

  .back-to-top{
      right: 15px;
      z-index: 2;
  }

}

