
/* --------------------------------------------------
---------- BACK TO TOP ----------
----------------------------------------------------*/

.back-to-top{
  margin:0 0 5px 0px;
  position: fixed;
  bottom: 50px;
  right: 15px;
  font-size: 50px;
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:2;
  background: #fe0000;
  color: #ffffff;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  transition: background 0.5s;
  border-radius: 4px;
  z-index: 11;
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease-in-out;
  &:hover {
    background: #000000;
  }
  & i {
    padding-top: 9px;
    color: #ffffff;
  }
}

.back-to-top.show-scrollTop {
  visibility: visible;
  opacity: 1;
}
@media (min-width: 00px ) and (max-width: 1023px) {

  .back-to-top{
      right: 15px;
      z-index: 2;
  }

}

