
/* --------------------------------------------------
---------- BACK TO TOP ----------
----------------------------------------------------*/

.back-to-top{
  border-radius:1.5rem;
  margin:0 0 5px 0px;
  position: fixed;
  bottom: 50px;
  font-size: xx-large;
  left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:2;
  min-height: 20px;
  min-width: 20px;
  opacity: 0;
  padding: 1rem;
  color: #000;
  visibility: hidden;
  transition: all .2s ease-in-out;
}

.back-to-top.show-scrollTop {
  opacity: .58;
  visibility: visible;
}
@media (min-width: 320px ) and (max-width: 1023px) {

  .back-to-top{
      left: 15px;
      z-index: 2;
  }

}

