<div class="card vh-full">
  <div class="w-full mt-4 ml-6">
    <personalizados-lopes-social-network-links></personalizados-lopes-social-network-links>
  </div>

  <ul class="navigation" >

    <!-- Inicio -->
    <mat-list>
      <div mat-subheader></div>
      <mat-list-item *ngFor="let link of links">

      </mat-list-item>
    </mat-list>

    <mat-divider></mat-divider>
    <!-- Institucional -->
    <mat-list>
      <mat-list-item *ngFor="let link of links">

      </mat-list-item>
    </mat-list>

    <mat-divider></mat-divider>
    <!-- Produtos -->
    <mat-list>
      <mat-list-item *ngFor="let link of links">

      </mat-list-item>
    </mat-list>


    <mat-divider></mat-divider>
    <!-- Duvidas -->
    <mat-list>
      <mat-list-item *ngFor="let link of links">

      </mat-list-item>
    </mat-list>

    <!-- <li  [ngClass]="(NavState$ |async).activeNav == link.name ? 'active-nav': ''">
      <a  (click)="SetActiveNav(link)"
       (pageScrollFinish)="ToggleNav(0)"
       [routerLink]="link.href"
       routerLinkActive="Active"
       pageScroll
       href="#{{link.name}}"
       >
       {{link.name}}

       <mat-icon>{{link.icon}}</mat-icon>
      </a>

    </li> -->
    <li *ngIf="user?.Tipo == 1">
      <button mat-icon-button (click)="Logout()" title="logout">
        <mat-icon>login</mat-icon>
      </button>
    </li>
  </ul>
  <div class="flex-w flex-c w-full">
    <p class="mt-6 copyright-text">{{Copyright}}</p>
  </div>
</div>
