
@import '../../../variables';
.card {
  background-color: #ffffffe8;
}
.navigation {
	margin-top: 100px;
  }
  li {
    padding-left: 0em;
    display: block;
    line-height: 2em;
    font-family: Roboto;
    font-size: 21px;
    // font-weight: 600;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-align: center;
    line-height: 2;
    padding-bottom: 1em;

      -webkit-transition: .8s;
      -moz-transition: .8s;
      transition: .8s;
  }
  .blue-underline{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #072DEF;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
  }
  li.active-nav a{
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    color: #072DEF;
  }
  a {
    position: relative;
    color: #111;
    text-decoration: none;
  }


  a:before {
   @extend .blue-underline
  }

  li:hover a::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    }


    a:hover {
    color: #000;
      text-decoration: none;
    }
  @media only screen and (min-width: 768px) {

    #nav-menu .navigation {
      margin-top: 150px;
    }


  }
