<div class="card of-y-scroll vh-full">

  <div class="ml-3"></div>
  <p class="pb-0 mb-0">
    <mat-toolbar color="" class="">
      <mat-toolbar-row class="py-6">
        <a href="#" class="logo"><img  src="assets/images/icons/Logo.png" alt="LOGO" height="90"></a>
        <span class="spacer"></span>

  <!-- <button mat-icon-button aria-label="fechar carrinho" (click)="close()">
          <mat-icon>close</mat-icon>
        </button> -->
      </mat-toolbar-row>

    </mat-toolbar>
  </p>

  <div class="card w-full px-6 pt-0 mt-0">
    <button *ngIf="!Logado" (click)="Logout()" mat-flat-button class="box  w-full">
      <mat-icon>login</mat-icon>
      <span>Entrar</span>
    </button>
    <h1 *ngIf="Logado">Olá {{usuario.Nome}}</h1>
  </div>

  <div class="pt-4 px-4 mb-0 pt-0">
    <div class="columns py-0 is-mobile is-gapless">
      <div class="column">
        <button
          [matMenuTriggerFor]="appMenu2"
          class="w-full  card box has-text-centered border-light" mat-flat-button
          title="Perfil">
          <mat-icon>person_outline</mat-icon>
          <p>Minha conta</p>
        </button>
      </div>

      <div class="column">
        <button [routerLink]="['/minha-conta/pedidos']"
        href="#topo"
        (pageScrollFinish)="ToggleNav(0)"
        routerLinkActive="Active"
        pageScroll
        class="w-full card box has-text-centered border-light" mat-flat-button>
          <mat-icon>receipt_long</mat-icon>
          <p>Meus pedidos</p>
        </button>
      </div>
    </div>

  </div>

  <mat-menu mat-menu #appMenu2="matMenu">
    <ng-template matMenuContent let-name="name">
      <button mat-menu-item *ngIf="usuario"
      href="#topo"
      (pageScrollFinish)="ToggleNav(0)"
      routerLinkActive="Active"
      pageScroll
      [routerLink]="['/minha-conta/perfil']">{{usuario.Nome}}</button>
      <button mat-menu-item *ngIf="!usuario" (click)="Login()">Entrar</button>
      <button mat-menu-item *ngIf="usuario&&usuario?.Tipo == TipoUsuario.admin"
      href="#topo"
      (pageScrollFinish)="ToggleNav(0)"
      routerLinkActive="Active"
      pageScroll
       [routerLink]="['/gerenciamento']">Gerenciamento</button>
      <button mat-menu-item *ngIf="usuario" (click)="Logout()">Sair</button>
    </ng-template>
  </mat-menu>

  <ul class="navigation">
      <!-- Produtos -->
      <mat-list>
        <mat-divider></mat-divider>
        <div mat-subheader>Produtos</div>
          <mat-list-item
          matRipple
            *ngFor="let link of linksProdutos"
            >
            <a
              [ngClass]="(NavState$ |async).activeNav == link.name ? 'active-nav': ''"
              matLine
              (click)="SetActiveNav(link)"
              (pageScrollFinish)="ToggleNav(0)"
              [routerLink]="link.href"
              routerLinkActive="Active"
              pageScroll
              href="#{{link.name == 'Básicos' ? 'topo' : link.name}}">
              <mat-icon *ngIf="link.icon" mat-list-icon>{{link.icon}}</mat-icon>
              <span>{{link.name}}</span>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <div mat-subheader>Institucional</div>
          <mat-list-item
            *ngFor="let link of linksIntitucional">
            <a
              [ngClass]="(NavState$ |async).activeNav == link.name ? 'active-nav': ''"
              matLine (click)="SetActiveNav(link)" (pageScrollFinish)="ToggleNav(0)" [routerLink]="link.href"
              routerLinkActive="Active" pageScroll href="#{{link.name}}">
              <mat-icon mat-list-icon class="inst">{{link.icon || 'check_box_outline_blank'}}</mat-icon>
              <span>{{link.name}}</span>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <div mat-subheader>Dúvidas</div>
          <mat-list-item
            *ngFor="let link of linksDuvidas"
            >
            <a
              [ngClass]="(NavState$ |async).activeNav == link.name ? 'active-nav': ''"
              matLine (click)="SetActiveNav(link)" (pageScrollFinish)="ToggleNav(0)" [routerLink]="link.href"
              routerLinkActive="Active" pageScroll href="#{{link.name}}">
              <mat-icon *ngIf="link.icon" mat-list-icon>{{link.icon}}</mat-icon>
              <span>{{link.name}}</span>
            </a>
          </mat-list-item>
      </mat-list>

    <li *ngIf="user?.Tipo == TipoUsuario.admin">
      <button mat-icon-button (click)="Logout()" title="logout">
        <mat-icon>login</mat-icon>
      </button>
    </li>
  </ul>
  <mat-toolbar class="w-full pt-3 pos-sticky bottom-0">
    <mat-toolbar-row class="">
      <div class="dis-flex flex-c w-full a-i-c">
        <personalizados-lopes-social-network-links class="flex-w"></personalizados-lopes-social-network-links>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
