<div class="pb-0">

  <p><em>Cores</em></p>
  <mat-form-field
    class="field w-full"
    *ngIf="Produto?.Cores"
    appearance="fill"
  >
    <mat-label>Selecione uma cor</mat-label>
    <mat-select
      matNativeControl
      [(ngModel)]="Produto.Cor"
      name="Cor"
      [value]="Produto?.Cor"
    >
      <mat-option
        *ngFor="let opt of Produto?.Cores"
        [value]="opt"
        class="w-full"
      >
        <div
          class="cor-produto card box w-full"
          [style.backgroundColor]="opt.cor"
          (click)="Produto.Cor = opt"
        >
          <p>{{ opt.nome }}</p>
        </div>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
