<h1 mat-dialog-title class="tem-cor-primaria is-uppercase" style="border-bottom: 4px solid #f0f0f0;">Selecione um Design</h1>

<div mat-dialog-content>
  <div class="popup">
    <div class="header-container">
      <a class="close" (click)="close(null)">&times;</a>
    </div>
    <div class="columns is-multiline container-modal">
      <div class="column is-4 category-list">
        <div class="category-item is-disabled" (click)="changeImgSrc(imgSrc)">
          <span class="button">Imagens</span>
        </div>
        <div class="category-item is-disabled" (click)="changeImgSrc(imgSrc)">
          <span class="button">Ilustrações</span> <em>Em breve..</em>
        </div>
        <div class="category-item is-disabled" (click)="changeImgSrc(imgSrc)">
          <span class="button">Infantis</span> <em>Em breve..</em>
        </div>
      </div>
      <div class="column is-8 is-12-mobile">
        <div class="columns is-vcentered is-multiline" >
          <div class="column clickable is-12-mobile" *ngFor="let item of list">
              <figure class="image is-128x128">
                <img
               [src] = "item.Imagem[0].Src"
               class="img-stock"
               (click)="addStockImg($event)">
              <div class="infos-item z-index-2">
                <span class="name">{{item.Nome}}</span>
                <span class="price">{{item.Preco != 0 ? 'R$ '+ formatarPreco(item.Preco) : 'GRÁTIS'}}</span>
              </div>
              </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
