<section [@cardFlip]="state" class="section py-0">

  <div #Sucesso *ngIf="status == StatusPagamento.aprovado">
    <!-- <personalizados-lopes-confirmacao [edit]="false"></personalizados-lopes-confirmacao> -->

    <div class="has-text-left">
      <h2 class="subtitle mb-0 pt-0">Sucesso, pedido recebido!</h2>
      <span class="subtitle">Entraremos em contato para combinar a entrega da sua compra.</span>
      <span class="subtitle">Um e-mail será enviado com mais informações.</span>
    </div>

    <div class=" w-full">
      <figure class="image is-square">
        <img src="/assets/images/figures/undraw_successful_purchase_uyin.svg">
      </figure>
    </div>

    <div class="a-i-c pt-3">

      <a pageScroll
        href="#TOPO"
        [routerLink]="['/produtos/']"
        routerLinkActive="router-link-active">
        <button mat-stroked-button mat-stroked-button class="button is-success">
          Confirmar via Whatsapp
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </a>
      <a pageScroll
        href="#TOPO"
        [routerLink]="['/minha-conta/pedidos/']"
        routerLinkActive="router-link-active">
        <a mat-stroked-button mat-stroked-button class="button is-warning">
          Meus pedidos
          <mat-icon>keyboard_arrow_right</mat-icon>
        </a>
      </a>
    </div>
  </div>

  <div #Pendente *ngIf="status == StatusPagamento.pendente">
    <!-- <personalizados-lopes-confirmacao [edit]="false"></personalizados-lopes-confirmacao> -->
    <div class=" has-text-left py-4">
      <a
        pageScroll
        href="#TOPO"
        [routerLink]="['/checkout/dados']"
        class="preco dis-flex flex-m ">
        <mat-icon class="">keyboard_arrow_left</mat-icon>
        voltar
      </a>
    </div>
    <div class=" w-full flex-c">
      <figure class="image is-128x128">
        <img src="/assets/images/figures/undraw_loading_frh4.svg">
      </figure>
    </div>
    <div class="has-text-left">
      <h2 class="subtitle mb-0 pt-0">Seu pagamento está sendo processado, avisaremos assim que for aprovado.</h2>
      <span class="subtitle">Agradeçemos pela sua paciência.</span>
    </div>
    <div class="a-i-c pt-3">

      <div *ngIf="_init_point" class="w-full flex-w a-i-c flex-m flex-sb">
        <personalizados-lopes-mercadopago-button [init_point]="_init_point"></personalizados-lopes-mercadopago-button>
      </div>

    </div>

  </div>

  <div #Erro *ngIf="status == StatusPagamento.rejeitado || status == StatusPagamento.desistencia">
    <!-- <personalizados-lopes-confirmacao [edit]="false"></personalizados-lopes-confirmacao> -->
    <div class=" has-text-left py-4">
      <a
        pageScroll
        href="#TOPO"
        [routerLink]="['/checkout/dados']"
        class="preco dis-flex flex-m ">
        <mat-icon class="">keyboard_arrow_left</mat-icon>
        voltar
      </a>
    </div>
    <div class=" w-full">
      <figure class="image is-128x128">
        <img src="/assets/images/figures/undraw_cancel_u1it.svg">
      </figure>
    </div>
    <div class="has-text-left">
      <h2 class="subtitle mb-0 pt-0">Ocorreu um erro ao processar o seu pagamento.</h2>
      <span class="subtitle">Fique tranquilo, pode tentar novamente..</span>
    </div>
    <div class="a-i-c pt-3">

      <div *ngIf="_init_point" class="w-full flex-w a-i-c flex-m flex-sb">
        <personalizados-lopes-mercadopago-button [init_point]="_init_point"></personalizados-lopes-mercadopago-button>
      </div>
      <div *ngIf="!_init_point" class="w-full flex-w a-i-c flex-m flex-sb">
        <button mat-flat-button color="accent" (click)="goCheckout()">Tentar novamente</button>
      </div>

    </div>

  </div>

</section>
