<div class="bg-white min-h-50" [class.example-is-mobile]="mobileQuery.matches">

  <mat-sidenav-container class="has-background-white-bis vh-full" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
    <mat-sidenav #snav [opened]="true" [mode]="mobileQuery.matches ? 'over' : 'side'"
      fixedTopGap="56">
      <mat-nav-list>
        <a *ngFor = "let nav of navs"
        (click)="activenav = nav.name"
        [ngClass]="activenav == nav.name ? 'nav active-nav' : 'nav'"
        [ngClass]="nav.name == 'Pedidos' ? 'has-background-warning' : ''"
        mat-list-item
        [routerLink]="[nav.href]"
        routerLinkActive="active">
          <mat-icon>
            {{activenav == nav.name ? 'done' : 'arrow_left'}}
          </mat-icon>
          {{nav.name}}
          <mat-divider></mat-divider>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content

      class="has-background-white-bis pos-relative min-h-50">
      <mat-toolbar class="">
        <button mat-icon-button (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar>
      <div
        class="px-3 py-3">
        <router-outlet  [@routeAnimations]="prepareRoute(outlet4)" @fadeIn #outlet4></router-outlet>
        <footer class="card-footer py-4">
          @RobertPersonalizados - Último login : {{user?.DataHoraAlteracao}}
        </footer>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
