<div class="columns is-ancestor">
  <div class="column is-parent">
    <article class=" is-child box">
      <p class="title">Vendas</p>
      <p class="subtitle">Por categoria</p>
      <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-elshadday-rpiox/embed/charts?id=bc9f70e7-b34c-4885-953a-a63b0eeb576f&theme=dark"></iframe>
    </article>
  </div>
  <div class="column is-parent">
    <article class=" is-child box">
      <p class="title">Vendas</p>
      <p class="subtitle">Por mês</p>
      <div class="content">
        <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-elshadday-rpiox/embed/charts?id=b6b9d869-c70d-4613-a39d-3cfcb882e1e9&theme=dark"></iframe>
      </div>
    </article>
  </div>
</div>

<div class="columns">
  <div class="column">
    <article class=" is-child box">
      <p class="title">Vendas</p>
      <p class="subtitle">Último mês</p>
      <div class="content">
        <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-elshadday-rpiox/embed/charts?id=73ed7ca5-ac07-4705-9367-c02877fdd929&theme=dark"></iframe>
      </div>
    </article>
  </div>
  <div class="column">
    <article class="is-child box">
      <p class="title">Vendas</p>
      <p class="subtitle">Ùltimo trimestre</p>
      <div class="content">
        <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-elshadday-rpiox/embed/charts?id=a82193ce-e26a-4683-82f8-e1ff5425898e&theme=dark"></iframe>
      </div>
    </article>
  </div>
</div>

<div class="columns">
  <div class="column ">
    <article class="  box">
      <p class="title">Vendas</p>
      <p class="subtitle">Por produto</p>
      <div class="content">
        <iframe
          style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
          width="640" height="480"
          src="https://charts.mongodb.com/charts-elshadday-rpiox/embed/charts?id=5d267fb2-aa6b-474a-8800-5568db6edee3&theme=dark"></iframe>
      </div>
    </article>
  </div>
  <div class="column">
    <article class="  box">
      <p class="title">Lucro</p>
      <p class="subtitle">Total</p>
      <div class="content">
        <iframe
          style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
          width="640" height="480"
          src="https://charts.mongodb.com/charts-elshadday-rpiox/embed/charts?id=b25fd9d5-9b0f-48a5-993a-2da24302e45c&theme=dark"></iframe>
      </div>
    </article>
  </div>
</div>

<div class="columns ">
    <div class="column">
      <article class="  box">
        <p class="title">Likes</p>
        <p class="subtitle">Por produto</p>
        <div class="content">
          <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-elshadday-rpiox/embed/charts?id=60d7f778-cca7-44b2-bcfa-9f0b855363e8&theme=dark"></iframe>
        </div>
      </article>
    </div>
    <div class="column">
      <article class="  box">
        <p class="title">Avaliações</p>
        <p class="subtitle">Por produto</p>
        <div class="content">
          <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-elshadday-rpiox/embed/charts?id=c0ccb458-3385-42ae-8af2-2aaebef6bc4e&theme=dark"></iframe>
        </div>
      </article>
    </div>
</div>

<div class="columns ">
  <div class="column">
    <article class=" is-child box">
      <p class="title">Visualizações</p>
      <p class="subtitle">Por produto</p>
      <div class="content">
        <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-elshadday-rpiox/embed/charts?id=07a5d12d-47be-495a-92d1-4483355fbafb&theme=dark"></iframe>
      </div>
    </article>
  </div>

  <div class="column ">
    <article class="  box">
      <p class="title">Usuários</p>
      <p class="subtitle">Por mês</p>
      <div class="content">
        <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-elshadday-rpiox/embed/charts?id=3ddaa285-c012-467f-b472-035ea8b612ee&theme=dark"></iframe>
      </div>
    </article>
  </div>
</div>

