<footer data-aos="fade-up"  data-aos-offset="-100" class="footer footer-color flex-w flex-sb py-0 px-0">

  <div class="w-full bg-footer py-3 shadow-light bbr">
    <div class="margin w-full dis-flex flex-sa flex-m">
      <div class="columns is-gapless is-multiline is-vcentered">
        <div class="column pb-0 w-full dis-flex flex-m  flex-c">
          <h2 class="has-text-white">ASSINE NOSSA NEWSLETTER</h2>
        </div>
        <div class="column">
          <div class="dis-flex flex-m">
            <mat-icon class="has-text-light">mail</mat-icon>
            <!-- <div class="control">
              <input #nome  [(ngModel)]="Nome"   class="input" placeholder="nome">
            </div> -->
            <div class="control">
              <input #email [(ngModel)]="Email"  class="input" type="email" placeholder="email">
            </div>
            <a mat-icon-button class="has-background-light has-text-black nsw-btn" (click)="AssinarNewsLetter()">
              <mat-icon>chevron_right</mat-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hero is-medium w-full pink shadow-light bbr ">
    <div class="hero-body columns margin ">

      <div class="column">
        <h3 class="footer-title">Sobre</h3>
        <div class="txt-justify footer-text" [innerHTML]="(Sobre$ | async)?.Historia"></div>
      </div>

      <div class="column text-center">
        <h3 class="mb-2 footer-title">Acesso Rápido</h3>
        <a *ngFor="let link of Links"
          class="footer-text links"
          pageScroll
          href="#{{link.id}}"
          [routerLink]="[link.href]"
          routerLinkActive="active">
          <p >{{link.name}}</p>
        </a>
      </div>

      <div class="column social">
        <div class="footer-widget">
          <h3 class="mb-2 footer-title">Contate-nos</h3>
          <div class="contact-info">
            <p class="footer-text">{{(InformacoesContato$ | async)?.HorarioAtendimento}}</p>
            <p class="footer-text"><i class="pi pi-map-marker"></i>{{(InformacoesContato$ | async)?.Endereco}}</p>
            <br>
            <p class="footer-text"><i class="pi pi-mobile"></i> <a class="footer-text reset-a" href="tel:{{(InformacoesContato$ | async)?.Telefone}}">{{(InformacoesContato$ | async)?.Telefone}}</a></p>
            <p class="footer-text has-text-bold"><i class="pi pi-mobile"></i> Whatsapp: {{(InformacoesContato$ | async)?.Whatsapp}}</p>
            <p class="footer-text"><i class="pi pi-envelope"></i><a class="footer-text reset-a" href="mailto:{{(InformacoesContato$ | async)?.Email}}">{{(InformacoesContato$ | async)?.Email}}</a></p>
            <personalizados-lopes-social-network-links data-aos="fade-up" data-aos-offset="-200"></personalizados-lopes-social-network-links>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="dis-flex flex-sa flex-m w-full has-background-dark px-6 py-3 is-vcentered ">
    <div class="txt-center">
      <h4 class="">Formas de pagamento</h4>
      <img
        loading="lazy"
        src="assets/images/icons/bandeiras-mercado-pago-removebg-preview.png"
        width="150"
        height="50"
        [style.height]="'150px !important'"
        [style.width]="'50px !important'"
        class="img-badge"
       >
      </div>
      <div class="txt-center">
        <h4 class="">Site seguro</h4>
        <img
          loading="lazy"
          src="assets/images/icons/SSL_certificate.png"
          width="150"
          height="50"
          [style.height]="'150px !important'"
          [style.width]="'50px !important'"
          class="img-badge"
         >
    </div>
  </div>

  <mat-toolbar-row class="w-full has-background-dark">
    <div class="w-full margin py-4 pr-1">
      <div class="w-full flex-sb">
        <span class="has-text-light"><b>{{(Sobre$ | async)?.Nome}}</b> Todos os direitos reservados</span>

      </div>
    </div>
  </mat-toolbar-row>
  <div class="w-full px-3 flex-sa"  title="Desenvolvido por Devportable -Jackson Pires">
    <p>
      CNPJ {{(Sobre$|async).CNPJ}}
    </p>

  </div>

</footer>

