
@import '../../../variables';
::ng-deep p{
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
}
.z-top{
  z-index: 1;
  position: relative;
}
.footer{
  @extend .z-top;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.margin{
  max-width: 1250px;
  margin: 0px auto;
}
.base{
  /* identical to box height */
  color:white;
  color:#3a3a3a;
  opacity: .8;
}
a{
  @extend .base;
  text-decoration: none;
  display: inline;
}
.footer-title{
  @extend .base;
  line-height: 33px;
  display: flex;
  font-size: 15px;
  font-weight: 500;
  align-items: center;
  letter-spacing: 0.08em !important;
  text-transform: uppercase;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  padding: 10px 0;
  border-left: none;
  border-right: none;
  margin-bottom: 15px;
}
.footer-text{
  @extend .base;
  font-size: 14px;
  // color:#999;
}
.footer-color{
  // background: #ff4081;
  background: #f1f1f1 !important;
  // background: rgba(0, 0, 0, 0.52);
}
.footer::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 30%;
  width: 298px;
  height: 70px;
  background-repeat: no-repeat;
  background: url(/assets/images/footer_curve.svg);
}
@media only screen and  (min-width: 320px ) and (max-width: 1023px) {

  .footer::before{
    left: 0;
  }

}
span{
  font-family: Open Sans;
  color: white;
  text-transform: lowercase;
}
.bg-azul{
  background:#4d69b1
}
