
@import '../../../variables';

.z-top{
  z-index: 1;
  position: relative;
}
.footer{
  @extend .z-top;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow-y: hidden;
  img{
    filter:none !important;
  }
}
.base{
  color: $footercolor;
}
span{
  color:  $footercolor;
  text-transform: lowercase;
}
a{
  @extend .base;
  text-decoration: none;
  display: inline;
  &.footer-text.links p{
    text-align: left;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
  }
  &.footer-text.links p:hover{
    color: gold !important;
    padding-left: 5px;
    transition: .31s all;
  }
  &.footer-text.links p::before {
    content: "- ";
    font-family: 'primeicons';
    font-weight: 900;
    padding-right: 5px;
  }

}
.nsw-btn:hover{
  background: transparent!important;
}
.footer-title{
  @extend .base;
  line-height: 33px;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 1px;
  padding-bottom: 10px;
  margin-bottom: 25px;
  border-bottom: 4px double #5f5858af;
  margin-bottom: 15px;
}
.footer-text{
  @extend .base;
  font-size: 16px !important;
  & :hover{
    color: #3a3a3a;
  }
}
.footer-color{
  background: $background-light;
}
.txt-justify.footer-text.has-text-white p{
  color: $footercolor
}

.footer::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 30%;
  width: 298px;
  height: 70px;
  background-repeat: no-repeat;
  background: url(/assets/images/footer_curve.svg);
}
h4{
  letter-spacing: 1px;
}
@media only screen and  (min-width: 1023px) {

  .img-badge{
    height: 60px !important;
    width: 180px !important;
  }

}

.control{
  & .input{

    border-radius: 1rem;
  }
  margin: 10px;
}

/**********************************/
/********** Footer CSS ************/
/**********************************/
.footer {
  position: relative;
  padding: 60px 0 0 0;
  background: #FF4A4A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer .footer-widget {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
}

.footer .footer-widget .title {
  color: #ffffff;
  letter-spacing: 1px;
  padding-bottom: 10px;
  margin-bottom: 25px;
  border-bottom: 3px double #ffffff;
}

.footer .footer-widget p {
  color: #ffffff;
}

.footer .footer-widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer .footer-widget ul li {
  margin-bottom: 12px;
}

.footer .footer-widget ul li:last-child {
  margin-bottom: 0;
}

.footer .footer-widget ul li a{
  color: $footercolor;
   $footercolor-space: nowrap;
  display: block;
  line-height: 23px;
}

.footer .footer-widget ul li a:hover {
  // padding-left: 10px;
  color: #c5c3c3;
}
.footer .footer-widget ul li a::before {
  content: "\e91b";
  font-family: 'primeicons';
  font-weight: 900;
  padding-right: 5px;
}


.footer .contact-info p {
  margin-bottom: 10px;
  color: $footercolor
}
.footer > div.w-full.pink.shadow-light > div > div.column.text-center > a > p,
.footer .contact-info p i {
  color: $footercolor;
  margin-right: 5px;
}

.footer .newsletter {
  position: relative;
  width: 100%;
}

.footer .newsletter form {
  position: relative;
  width: 100%;
}

.footer .newsletter input {
  width: 100%;
  height: 35px;
  padding: 0 15px;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.footer .newsletter .btn {
  position: absolute;
  width: 80px;
  height: 35px;
  top: 0;
  right: 0;
  padding: 0 10px;
  border: none;
  background: #111111;
  // color: #ffffff;
  font-size: 14px;
  border: 1px solid #ffffff;
  border-radius: 0 4px 4px 0;
}

.footer .newsletter .btn:hover {
  background: #FF6F61;
}

.footer .newsletter input:focus,
.footer .newsletter .btn:focus {
  box-shadow: none;
}
@media only screen and  (min-width: 00px ) and (max-width: 1023px) {
  // .base{
  //   /* identical to box height */
  //   // color:#3a3a3a;
  //   color: #666;
  // }
  .footer::before{
    width: 70vw;
  }
  .footer-text{
    font-size: 14px;
  }
  span{
    font-family: Open Sans;
    // color: #666;
    text-transform: lowercase;
  }
}
