<mat-toolbar
  class='py-4 mt-3 bbr of-y-scroll w-full has-background-white is-hidden-tablet shadow-light pos-sticky top-0 z-index-top'
>
  <mat-toolbar-row class='py-0'>
    <div class='columns is-gapless my-2 is-mobile w-full'>
      <div class='column has-background-white bo-0'>
        <div
          mat-flat-button
          class='pointer clickable txt-center a-i-c bo-0 w-full py-2 px-3'
          (click)='AbrirDialogoCategorias()'
        >
          <p class='is-size-5'>Categoria</p>
          <span class='subtitle is-size-7'
          ><em>({{ JoinCategoriasAtivas() }})</em></span
          >
        </div>
      </div>
      <div class='column has-background-white bo-0'>
        <div
          mat-flat-button
          class='pointer clickable txt-center a-i-c bo-0 w-full py-2 px-3'
          (click)='AbrirDialogoOrdenacao()'
        >
          <p class='is-size-5'>Ordenação</p>
          <span class='subtitle is-size-7'
          ><em>({{ translate(activeOrderFilter) }})</em></span
          >
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
