<div @fadeIn class="box hoverable">
  <article class="media">
    <div class="media-left">
      <mat-icon>person</mat-icon>
    </div>

    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{Comentario.Comentario.Autor.Nome}}</strong> {{Comentario.idUsuario?'':' sem perfil'}} <small>{{Comentario.DataHoraCriacao}}</small> <span>
            <star-rating *ngIf="Comentario.Avaliacao"
             class="subtitle is-size-7"
            [showHalfStars]="true"
            [step]="0.5" size="medium"
            [rating]="Comentario.Avaliacao"
            staticColor="ok"
             [readOnly]="true">
          </star-rating></span>
        </p>


        <div *ngIf="querEditar">
          <ckeditor [editor]="Editor" [(ngModel)]="Comentario.Comentario.Texto" [data]="Comentario.Comentario.Texto"></ckeditor>
          <button mat-flat-button class="border" (click)="Editar()">Editar</button>
        </div>

        <div [innerHTML]="Comentario.Comentario.Texto"></div>

      </div>

      <nav class="level is-mobile">
        <div class="level-right">
          <a class="level-item" aria-label="reply" (click)="querResponder = !querResponder">
            <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="reply" (click)="querEditar = !querEditar"
          *ngIf="this.usr?._id == Comentario.Comentario.idUsuario || ''">
            <span class="icon is-small">
              <i class="fas fa-edit" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="reply" (click)="like()">
            {{Comentario.Comentario.Likes}}
            <span class="icon is-small">
              <i class="fas fa-thumbs-up" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="reply" (click)="dislike()">
            {{Comentario.Comentario.Dislikes}}
            <span class="icon is-small">
              <i class="fas  fa-thumbs-down" aria-hidden="true"></i>
            </span>
          </a>
          <a *ngIf="this.usr?.Tipo == tipoUsuario.admin" class="level-item" aria-label="reply" (click)="deletar()">
            <span class="icon is-small">
              <mat-icon>close</mat-icon>
            </span>
          </a>
        </div>
      </nav>
    </div>
  </article>
  <div *ngIf="querResponder">
    <p>Responder</p>
    <personalizados-lopes-escrever-comentario (EnviarComentario)="responder($event)"></personalizados-lopes-escrever-comentario>
  </div>
</div>
