<div class="">
  <mat-card class="card">

    <mat-card-title class="title is-5 is-uppercase">Cadastrar estampas</mat-card-title>

    <mat-card-content class="card-body">
      <personalizados-lopes-editar-estampa-form
        [Estampa]="Estampa"
        (onUpdate)="Atualizar()"
        >
      </personalizados-lopes-editar-estampa-form>
    </mat-card-content>

  </mat-card>

  <div class="section w-full">
    <div class="columns is-multiline">
      <div class="column is-2" *ngFor="let estampa of Estampas">
        <mat-card >
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{estampa.Nome}}</mat-card-title>
            <mat-card-subtitle>{{''}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="{{estampa?.Imagem[0]?.Src}}" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p></p>
          </mat-card-content>
          <mat-card-actions>
            <button class="button is-rounded" (click)="Editar(estampa)" >Editar</button>
            <button class="button is-rounded" (click)="Remover(estampa)" >Remover</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
