<div >
  <div class="popup">
    <div class="header-container">
      <h2>Selecione um Design</h2>
      <a class="close" >&times;</a>
    </div>
    <div class="columns is-multiline container-modal">
      <div class="column is-4 category-list">
        <div class="category-item" (click)="changeImgSrc(imgSrc)">
          <span>Imagens</span>
        </div>
        <div class="category-item" (click)="changeImgSrc(illuSrc)">
          <span>Ilustrações</span>
        </div>
        <div class="category-item" (click)="changeImgSrc(girlSrc)">
          <span>Infantis</span>
        </div>
      </div>
      <div class="column is-8 content">
        <ul class="assets" >
          <li class="item-modal" *ngFor="let item of list">
              <img
               [src] = "item.img"
               class="img-stock"
               (click)="addStockImg($event)">
              <div class="infos-item">
                <span class="name">{{item.name}}</span>
                <span class="price">{{item.price}}</span>
              </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
