<h1 mat-dialog-title class="tem-cor-primaria is-uppercase" style="border-bottom: 4px solid #f0f0f0;">Selecione um Design</h1>

<div mat-dialog-content>
  <div class="popup">
    <div class="header-container">
      <a class="close" (click)="close(null)">&times;</a>
    </div>
    <div class="columns is-multiline container-modal">
      <div class="column is-4 category-list">
        <div class="category-item is-disabled" (click)="changeImgSrc(imgSrc)">
          <span>Imagens</span>
        </div>
        <div class="category-item is-disabled" (click)="changeImgSrc(imgSrc)">
          <span>Ilustrações</span> <em>Em breve..</em>
        </div>
        <div class="category-item is-disabled" (click)="changeImgSrc(imgSrc)">
          <span>Infantis</span> <em>Em breve..</em>
        </div>
      </div>
      <div class="column is-8 content is-12-mobile">
        <ul class="assets" >
          <li class="item-modal" *ngFor="let item of list">
              <img
               [src] = "item.Imagem[0].Src"
               class="img-stock"
               (click)="addStockImg($event)">
              <div class="infos-item">
                <span class="name">{{item.Nome}}</span>
                <span class="price">{{item.Preco}}</span>
              </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
