<div>
  <ng-container
  *ngIf="
    Produto.Status == enumStatusProduto.promocao;
    then preco_promo;
    else preco_normal
  "
>
</ng-container>
<ng-template #preco_promo>
  <div class="">
    <p class="linethr"><span class="is-size-7 preto6">de</span> R$ {{ Produto?.Preco.toFixed(2) || '0.00' }}<span class="is-size-7 preto6"> Por</span> </p>
    <p class="preco promocao ">
      R$ {{ Produto?.PrecoPromocional.toFixed(2) || '0.00' }}
    </p>
  </div>
</ng-template>
<ng-template #preco_normal>
  <div class="w-full">
    <p class="preco "><span class="is-size-7 preto6">Por</span> R$ {{ Produto?.Preco.toFixed(2) || '0.00' }}</p>
  </div>
</ng-template>
<div class="my-1" *ngIf="Produto.Parcelas && Produto.Parcelas > 0">
  <p class="preto6">
    Em até {{ Produto.Parcelas }}x
    <span class="preco-produto"
      ><b>R${{ (Produto.Preco / Produto.Parcelas).toFixed(2) }}</b></span
    >
    sem juros
  </p>
</div>
</div>
