
  <div class="flex-w flex-c pt-6 card">
    <mat-divider></mat-divider>
    <mat-card>
      <h1>Não está cadastrado?</h1>
      <span>Digite os dados para criar sua conta ou para entrar caso já tenha uma.</span>
      <mat-tab-group animationDuration="0ms" #tabs [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
        <mat-tab label="Cadastre-se">
          <mat-vertical-stepper [linear]="true" #stepper>
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Insira o seu nome completo</ng-template>
                <mat-form-field>
                  <mat-label>Nome</mat-label>
                  <input matInput
                    placeholder="Meu nome"
                    formControlName="nomeCtrl"
                    name="Nome"
                    required>
                </mat-form-field>
                <div>
                  <button mat-raised-button matStepperNext>Próximo</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Insira credenciais de acesso</ng-template>
                <mat-form-field>
                  <mat-label>Email</mat-label>
                  <input matInput
                    #email
                    formControlName="emailCtrl"
                    name="Email"
                    type="email"
                    placeholder="e-mail@dominio.com"
                         required>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Senha</mat-label>
                  <input matInput
                    formControlName="senhaCtrl"
                    name="Senha"
                    type="password"
                    placeholder="********"
                    required>
                </mat-form-field>
                <div>
                  <button mat-raised-button matStepperPrevious>Voltar</button>
                  <button mat-raised-button matStepperNext>Próximo</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Concluído</ng-template>
              <p>Para completar, clique em finalizar.</p>
              <div>
                <button mat-raised-button matStepperPrevious>Voltar</button>
                <button mat-raised-button (click)="Cadastro()">Finalizar</button>
              </div>
            </mat-step>
          </mat-vertical-stepper>
        </mat-tab>
        <mat-tab label="Entrar">
          <personalizados-lopes-login-form></personalizados-lopes-login-form>
        </mat-tab>
      </mat-tab-group>

    </mat-card>
  </div>
