<h1 mat-dialog-title class="tem-cor-primaria" style="border-bottom: 4px solid #f0f0f0;">Qual arte será usada?</h1>

<div mat-dialog-content class="margin w-half">
  <div class="columns is-multiline is-vcentered">

    <div class="column is-6">
      <personalizados-lopes-costumization #customization (DesignSaved)="attCanvas($event)" [Produto]="Produto"></personalizados-lopes-costumization>
    </div>

    <div class="column is-6">
      <ng-container *ngIf="Produto?.Arte then arte else novaArte"></ng-container>
      <ng-template #arte>
        <mat-card>
          <mat-card-header>
            <mat-card-subtitle>Arte Primaria</mat-card-subtitle>
          </mat-card-header>
          <figure class="image is-128x128">
            <img mat-mat-card-image [src]="this.Produto?.Arte" height="200">
          </figure>
          <mat-card-actions>
            <a mat-icon-button (click)="Produto.Arte = null">
              <mat-icon>clear</mat-icon>
            </a>
          </mat-card-actions>
        </mat-card>
      </ng-template>
      <ng-template #novaArte>
        <div class="px-2 txt-center">
          <em>Sem Arte</em>
          <button mat-flat-button class="button file is-outlined has-name pb-3 px-0">
            <label class="file-label">
              <input class="file-input" type="button" (click)="customization.importFile()">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="pi pi-cloud-upload"></i>
                </span>
              </span>
            </label>
          </button>
        </div>
      </ng-template>
    </div>
    <div @fadeIn *ngIf="Produto?.ArteSecundaria" class="column is-3">
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>Arte Secundaria</mat-card-subtitle>
        </mat-card-header>
        <figure class="image is-128x128">
          <img mat-mat-card-image [src]="this.Produto?.ArteSecundaria" height="200">
        </figure>
        <mat-card-actions>
          <a mat-icon-button (click)="Produto.ArteSecundaria = null">
            <mat-icon>clear</mat-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div class="column">
    <mat-checkbox class="mr-3" matNativeControl [(ngModel)]="arte_traseira" [checked]="arte_traseira">
      Tem arte traseira
    </mat-checkbox>
  </div>
  <div class="column px-2">
    <button @fadeIn *ngIf="arte_traseira && !Produto.ArteSecundaria" mat-flat-button
      class="button file is-info has-name pb-3" title="Enviar arte para usar no produto">
      <label class="file-label">
        <input class="file-input" multiple type="file" (change)="uploadSecundario($event)">
        <span class="file-cta">
          <span class="file-icon">
            <i class="pi pi-cloud-upload"></i>
          </span>
          <span class="file-label">
            Enviar arte secundaria <span class="mr-1"> </span>
          </span>
          <span class="file-name">
            {{' '+ secondaryfileNames}}
          </span>
        </span>
      </label>
    </button>
  </div>

  <div class="">
    <h4 class="has-text-danger py-3"><em>Atenção às regras de personalização!</em></h4>

    <div class="columns is-vcentered">
      <div class="column" *ngFor="let rule of rules">
        <mat-card class="box border shadow-light hoverable" style="min-height: 200px;">
          <mat-card-content>
            <span class="">{{rule}}</span>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color=""
    [mat-dialog-close]="Produto"
    class="border"
    #toCheckout
    [disabled]="!Produto.Canvas['objects'].length||[] > 0"
    [ngClass]="{'wp-btn is-success':!toCheckout.disabled}">
    {{!Produto.Canvas['objects'].length||[] > 0?"Adicione uma arte":"Concluir"}}
  </button>
  <button mat-raised-button color="basic" [mat-dialog-close]="" cdkFocusInitial>
    Cancelar
  </button>
</div>
