<h1 mat-dialog-title class="tem-cor-primaria">Criação de produto</h1>

<div mat-dialog-content>

  <personalizados-lopes-editar-produto-form
    [Produto]="Produto"
  ></personalizados-lopes-editar-produto-form>

  <div class="py-3">
  </div>

</div>

<div mat-dialog-actions>
  <button mat-raised-button color="basic" [mat-dialog-close]="Produto">
    Enviar
  </button>
  <a mat-stroked-button (click)="CriarPostagem()">Criar postagem para o produto</a>
  <a mat-stroked-button (click)="CriarDepoimento()">Adicionar Depoimento</a>
  <button mat-raised-button color="basic" (click)="onNoClick()" cdkFocusInitial>
    Cancelar
  </button>
</div>
