<h1 mat-dialog-title class="tem-cor-primaria">Criação de produto</h1>
<div mat-dialog-content>
  <mat-card class="box">
    <mat-card-title>Dicas</mat-card-title>
    <mat-card-subtitle>Cadastro de produto:</mat-card-subtitle>
    <mat-card-content>
      <div>
        <div class="card">
          <h2>Titulo completo e descritivo</h2>
          <p> ex: <em>Tinta para parede xyz 3.6 Litros rosa</em></p>
          <p> ex: <em>(1)Sapatilha (2)Classica (3)Couro (4)Rosa</em></p>
          <span class="ml-3">
            (1)Categoria
            (1)(2)Nome
            (3)Tipo
            (3)Material do produto
            (4)Cor (se houver)
           </span>
        </div>
        <div class="card">
          <h2>Fotos de qualidade e padronizadas</h2>
          <ul class="ml-3">
            <li>Fotos ambientadas, mostrando a utilidade do produto e diferentes formas de aplicação</li>
            <li>Comparação do tamanho real do produto</li>
          </ul>
        </div>
        <div class="card">
          <h2>Descrição útil</h2>
          <ul class="ml-3">
            <li>Descrições úteis, não apenas a descrição do fabricante.</li>
            <li>Jamais deixar dúvidas</li>
          </ul>
        </div>
        <div class="card">
          <h2>Categorização</h2>
          <ul class="ml-3">
            <li>Categorização em desdobramento mercadológico e em subcategorias.</li>
          </ul>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-form-field class="w-full">
    <input matInput type="text" [(ngModel)]="Produto.Nome" placeholder="Nome" title="Nome">
  </mat-form-field>

  <div class="w-full">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Descrição</mat-card-title>
        <mat-card-content>
          Explore a ferramenta
          <p>Aqui é possível inserir conteúdos externos como fotos e videos, postagens de redes sociais e criação de tabelas de caracteristicas</p>
        </mat-card-content>
      </mat-card-header>
    </mat-card>
    <ckeditor [editor]="Editor" [(ngModel)]="Produto.Descricao" [data]="Produto.Descricao" ></ckeditor>
  </div>

  <mat-form-field class="w-full">
    <textarea matInput type="text" [(ngModel)]="Produto.DescricaoRapida" placeholder="Descricao Rapida"></textarea>
  </mat-form-field>
  <mat-form-field class="w-full">
    <input matInput type="text" [(ngModel)]="Produto.Subtitulo" placeholder="Subtitulo">
  </mat-form-field>
  <mat-form-field appearance="">
    <mat-label>Categoria</mat-label>
    <mat-select matNativeControl (selectionChange)="SelecionarCategoria($event)" [(ngModel)]="Produto.NomeCategoria" [value]="Produto.NomeCategoria">
      <mat-option *ngFor="let opt of Categorias" [value]="opt.Nome">
        {{opt.Nome}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="">
    <input matInput type="text" min="1" [(ngModel)]="Produto.Preco"[value]="Produto.Preco" placeholder="Preco" mask='00.00'>
  </mat-form-field>
  <mat-form-field class="">
    <input matInput type="text" min="1" [(ngModel)]="Produto.Parcelas"[value]="Produto.Parcelas" placeholder="Parcelas" mask='1'>
  </mat-form-field>
  <mat-form-field class="">
    <mat-label>Quantidade Minima</mat-label>
    <input matInput type="number" min="1" [(ngModel)]="Produto.QuantidadeMinima"[value]="Produto.QuantidadeMinima">
  </mat-form-field>

  <mat-form-field class="">
    <mat-label>Preco Promocional</mat-label>
    <input matInput type="number" min="1" [(ngModel)]="Produto.PrecoPromocional"[value]="Produto.PrecoPromocional">
  </mat-form-field>
  <mat-checkbox matNativeControl  [(ngModel)]="Produto.Destaque"  [checked]="Produto.Destaque">
    Destaque
  </mat-checkbox>

  <mat-form-field class="w-full">
    <mat-chip-list #chipTagList aria-label="Tag selection">
      <mat-chip
        *ngFor="let tag of Produto.Tags"
         [selectable]="selectable"
         [removable]="removable"
         (removed)="removeTag(tag)">
        {{tag}}
        <mat-icon matChipRemove
         *ngIf="removable">
         cancelar
        </mat-icon>
      </mat-chip>
      <input
        placeholder="Tags"
        #tagInput
        [formControl]="tagCtrl"
        [matChipInputFor]="chipTagList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addTag($event)">
    </mat-chip-list>
  </mat-form-field>

  <mat-form-field  class="w-full"  appearance="fill">
    <mat-label>Status</mat-label>
    <mat-select matNativeControl [(ngModel)]="Produto.Status"  [value]="Produto.Status">
      <mat-option *ngFor="let opt of statusProduto; let i = index" [value]="i">
        {{opt}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="file has-name pb-3">
    <label class="file-label">
      <input class="file-input" multiple type="file" (change)="upload($event)">
      <span class="file-cta">
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
        <span class="file-label">
          Escolha as imagens…
        </span>
        <span class="file-name">
          {{fileNames}}
        </span>
      </span>
    </label>
  </div>
  <div class="w-full">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Especificações</mat-card-title>
      </mat-card-header>
    </mat-card>
    <ckeditor [editor]="Editor" [(ngModel)]="Produto.Especificacoes" [data]="Produto.Especificacoes" ></ckeditor>
  </div>
  <mat-form-field class="w-full">
    <mat-chip-list #chipList aria-label="Color selection">
      <mat-chip
        *ngFor="let cor of Produto.Cores"
         [selectable]="selectable"
         [removable]="removable"
         (removed)="removeCor(cor)">
        {{cor.nome}}
        <mat-icon matChipRemove
         *ngIf="removable">
         cancelar
        </mat-icon>
      </mat-chip>
      <input
        placeholder="Nova cor... Separe o nome do valor com ponto e vírgula = branco;#fffff insira com ENTER ou TAB"
        #colorInput
        [formControl]="colorCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addCor($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedCor($event)">
      <mat-option *ngFor="let cor of filteredColors | async" [value]="cor.nome">
        {{cor.nome}}
        <div [style.backgroundColor]="cor.cor" style="width: 20px;height: 20px;"></div>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-chip-list #chipList2 aria-label="Size selection">
      <mat-chip
        *ngFor="let tamanho of Produto.Tamanhos"
         [selectable]="selectable"
         [removable]="removable"
         (removed)="removeTamanho(tamanho)">
        {{tamanho}}
        <mat-icon matChipRemove
         *ngIf="removable">
         cancelar
        </mat-icon>
      </mat-chip>
      <input
        placeholder="Novo tamanho..."
        #colorInput
        [formControl]="sizeCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList2"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addTamanho($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTamanho($event)">
      <mat-option *ngFor="let size of filteredSizes | async" [value]="size">
        {{size}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-raised-button color="basic" [mat-dialog-close]="Produto">
      Enviar
  </button>
  <button mat-raised-button color="basic" (click)="onNoClick()" cdkFocusInitial>
      Cancelar
  </button>
</div>
