<form [formGroup]="fornecedorProdutoForm">
  <div class="columns is-multiline">
    <div class="column is-6">
      <mat-form-field class="field">
        <div class="control">
          <input matInput class="input" formControlName="Nome" type="text" placeholder="Nome" />
        </div>
      </mat-form-field>
    </div>

    <div class="column is-12-touch">
      <mat-form-field class="field">
        <div class="control">
          <input matInput class="input" formControlName="Website" type="text" placeholder="Website" />
        </div>
      </mat-form-field>
    </div>

    <button
      class="button is-success w-full"
      [disabled]="fornecedorProdutoForm.invalid"
      (click)="Criar()"
    >
      Cadastrar
    </button>
  </div>
</form>
