<mat-form-field appearance="fill" class="w-full">
  <mat-label>Cores</mat-label>
  <mat-select
    [multiple]="Multiple"
    matNativeControl
    [compareWith]="compareObjects"
    [(value)]="selected"
    (selectionChange)="this.onSelected.emit($event.value)"

  >
    <mat-option *ngFor="let opt of Cores" [value]="opt">
      <div class="dis-flex flex-sb">
        <p>{{ opt?.Nome }}</p>
        <div class="square" [style.background]="opt?.Cor"></div>
      </div>
    </mat-option>
  </mat-select>
</mat-form-field>
