<section class="section ">
  <div class="has-background-white columns">
    <div class="column is-12-mobile">
      <router-outlet @fadeIn #outlet3></router-outlet>
    </div>
    <div class="column is-2-desktop is-12-mobile">
      <!--================Blog Area =================-->
      <section id="blog-section" class="blog_area section-paddingr">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div id="blogs-list" class="blog_left_sidebar">

                       teste

                    </div>
                </div>
            </div>
        </div>
      </section>
    </div>
  </div>
</section>

