<div id="Blog">

  <mat-toolbar>
    <mat-toolbar-row>
      <h1 [routerLink]="'/blog'">
        Blog
      </h1>
      <span class="spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
  <section class="bg-blog main-content margin has-background-white" id="Blog">
    <div class="columns  margin">
      <div class="column is-12 ">
        <router-outlet [@routeAnimations]="prepareRoute(outlet3)" @fadeIn #outlet3></router-outlet>

        <mat-divider></mat-divider>
        <personalizados-lopes-produto-swiper></personalizados-lopes-produto-swiper>
      </div>
      <!-- <div class="column is-4-desktop is-12-mobile">
        <personalizados-lopes-sidebar></personalizados-lopes-sidebar>
      </div> -->
    </div>
  </section>
</div>
