<div class="section vh-full bg-img">
  <mat-card class="">
    <mat-card-header class="flex-w flex-c flex-m has-text-centered">
      <mat-card-subtitle>Página não encontrada</mat-card-subtitle>
      <mat-card-subtitle> <mat-icon>sentiment_dissatisfied</mat-icon></mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button mat-flat-button onclick="window.history.back()" class="w-full">Voltar</button>
    </mat-card-actions>
  </mat-card>
  <div class="section">
    <div class="px-6 pt-4">
      <p class="header2">Últimos lançamentos</p>
      <div class="columns is-mobile portfolio-container">
        <div class="column is-4" *ngFor="let produto of Produtos$ | async">
          <personalizados-lopes-card-produto class="portfolio-item" [Produto]="produto" [MostarOpcoes]="false"></personalizados-lopes-card-produto>
        </div>
      </div>
    </div>
  </div>
</div>
