@import '../../../../variables';

.testimonial{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.bg{
  background:#f1f1f1;
  // background:#3ab8ff;
  z-index: -1;
  // background:url(/assets/images/figures/3445.png);
  background-attachment: fixed;
    background-position: right;
}
.bg-img{
  background:no-repeat center/100% url(/assets/images/inicio/abstract.png);
  background-attachment: fixed;
}
.shadow{
  box-shadow: 0 10px 60px #00000057;
}
@keyframes show{
  0%{
    visibility: hidden;
    opacity: 0;
    display: none;
    position: absolute;
    display: block;
  }
  100%{
    visibility: show;
    opacity: 1;
    position: relative;
    display: block !important;
  }
}
