@import '../../../../variables';

.testimonial{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.bg{
  background:rgb(234, 234, 244);
  // background:#3ab8ff;
  z-index: -1;
}
.shadow{
  box-shadow: 0 10px 60px #00000057;
}
