<div id="INICIO" class="has-background-white">
  <div class="">
    <personalizados-lopes-carrousel></personalizados-lopes-carrousel>
  </div>
  <div class="section">
    <personalizados-lopes-header-footer></personalizados-lopes-header-footer>
  </div>
  <div class="section">
    <section
        data-aos-offset="-10"
        data-aos="zoom-up"
        class=""
        *ngIf="(Clientes$ | async)?.length > 0"
      >
        <app-testimonial [sliderData]="Clientes$ | async"></app-testimonial>
    </section>
  </div>
  <div class="section">
    <personalizados-lopes-produto-swiper></personalizados-lopes-produto-swiper>
  </div>
</div>
