<div>
  <h1>Dimensões</h1>
  <p>Para envios normais (PAC, SEDEX E E-SEDEX), as dimensões não podem passar de 105 centímetros e os mínimos são C=16  L=11  A=2.</p>
  <div class="columns">

    <mat-form-field class="field column is-3">
      <mat-label class="label">Altura</mat-label>
      <div class="control">
        <input
          matInput
          class="input"
          type="number"
          min="2"
          name="Dimensoes.Altura"
          placeholder="Altura em cm"
          (change)="onAlturaChange.emit($event.target.value)"
          [value]="Produto.Dimensoes.Altura"
        />
      </div>
    </mat-form-field>
    <mat-form-field class="field column is-3">
      <mat-label class="label">Largura</mat-label>
      <div class="control">
        <input
          matInput
          class="input"
          type="number"
          name="Dimensoes.Largura"
          min="11"
          placeholder="Largura em cm"
          (change)="onLarguraChange.emit($event.target.value)"
          [value]="Produto.Dimensoes.Altura"
        />
      </div>
    </mat-form-field>
    <mat-form-field class="field column is-3">
      <mat-label class="label">Comprimento</mat-label>
      <div class="control">
        <input
          matInput
          class="input"
          type="number"
          min="16"
          name="Dimensoes.Comprimento"
          placeholder="Comprimento em cm"

          (change)="onComprimentoChange.emit($event.target.value)"
          [value]="Produto.Dimensoes.Comprimento"
        />
      </div>
    </mat-form-field>
    <mat-form-field class="field column is-3">
      <mat-label class="label">Peso</mat-label>
      <div class="control">
        <input
          matInput
          class="input"
          type="number"
          min="1"
          name="Peso"
          placeholder="Peso em gramas"

          (change)="onPesoChange.emit($event.target.value)"
          [value]="Produto.Peso"
        />
      </div>
    </mat-form-field>
  </div>
</div>
