<div class="flex-w m-t-5 m-b-0">
  <a

    href="https://facebook.com/{{(InformacoesContato$ | async)?.Facebook}}"
    target="_blank"
    rel="noopener"
    aria-label="Botão abrir Facebook"
    title="Visite o nosso Facebook"
    class="size4 px-3 flex-c-m how-social facebook trans-04 m-r-5 m-b-3 m-t-3">
    <fa-icon [icon]="FIcon"></fa-icon>
    <p class="is-hidden-touch">Facebook</p>
  </a>

  <a

   href="https://instagram.com/{{(InformacoesContato$ | async)?.Instagram}}"
   target="_blank"
   rel="noopener"
   aria-label="Botão abrir Instagram"
   title="Visite o nosso Instagram"
   class="size4 px-3 flex-c-m how-social instagram trans-04 m-r-5 m-b-3 m-t-3">
      <fa-icon [icon]="InstaIcon"></fa-icon>
      <p class="is-hidden-touch">Instagram</p>
  </a>

  <a

   href="mailto:{{(InformacoesContato$ | async)?.Email}}"
   title="Orçamento"
   aria-label="Botão abrir Orçamento"
   class="size4 px-3 flex-c-m how-social orcamento trans-04 m-r-5 m-b-3 m-t-3">
      <fa-icon [icon]="InboxIcon"></fa-icon>
  </a>
</div>
