@import '../../../../variables';
.how-social {
  color: #999999;
  font-size: 15px;
  transition:all .5s ease-in;
  // box-shadow: 2px 0px 0px #3636360a, 1px 0px 1px #4a4a4a63;
  background-color: #fff;
  border-radius: 5%;
}

.how-social.facebook:hover {
  background-color: #4267B2;
  color: #fff;
}
.how-social.instagram:hover {
  background: linear-gradient(to top, #b224ef, #7579ff);;
  color: #fff;
}
.how-social.orcamento:hover {
  background-color: $capri;
  color: #fff;
}
.size4 {
  width: 36px;
  height: 36px;
}
@media (min-width: 1024px){
  .size4 {
    width: auto;
    height: auto;
  }
}
