<!-- <div class="flex-w m-t-5 m-b-0">
  <a

    href="https://facebook.com/{{(InformacoesContato$ | async)?.Facebook}}"
    target="_blank"
    rel="noopener"
    aria-label="Botão abrir Facebook"
    title="Visite o nosso Facebook"
    class="size4 px-3 flex-c-m how-social facebook trans-04 m-r-5 m-b-3 m-t-3">
    <fa-icon [icon]="FIcon" class="mr-1"></fa-icon>
    <p class="is-hidden-touch">Facebook</p>
  </a>

  <a

   href="https://instagram.com/{{(InformacoesContato$ | async)?.Instagram}}"
   target="_blank"
   rel="noopener"
   aria-label="Botão abrir Instagram"
   title="Visite o nosso Instagram"
   class="size4 px-3 flex-c-m a-i-c how-social instagram trans-04 m-r-5 m-b-3 m-t-3">
      <fa-icon [icon]="InstaIcon" class="mr-1"></fa-icon>
      <p class="is-hidden-touch">Instagram</p>
  </a>

  <a
   href="mailto:{{(InformacoesContato$ | async)?.Email}}"
   title="Orçamento"
   aria-label="Botão abrir Orçamento"
   class="size4 px-3 flex-c-m how-social orcamento trans-04 m-r-5 m-b-3 m-t-3">
      <fa-icon [icon]="InboxIcon"></fa-icon>
  </a>
</div> -->

<div class="social">
  <a href=""><i class="pi pi-twitter"></i></a>

  <a href="https://facebook.com/{{(InformacoesContato$ | async)?.Facebook}}"
  target="_blank"
  rel="noopener"
  aria-label="Botão abrir Facebook"
  class="how-social facebook"
  title="Visite o nosso Facebook"><i class="pi pi-facebook"></i></a>

  <!-- <a href="" class="how-social facebook"><i class="fab fa-linkedin-in"></i></a> -->

  <a href="https://instagram.com/{{(InformacoesContato$ | async)?.Instagram}}"
  target="_blank"
  rel="noopener"
  aria-label="Botão abrir Instagram"
  title="Visite o nosso Instagram"
  class="how-social instagram"><img class="how-social "[src]="ObterIcone('instagram')"></a>

  <!-- <a href="" class="how-social instagram"><img class="how-social "[src]="ObterIcone('youtube')"></a> -->

</div>
