@mixin hover{
  filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: rotate(1deg);

}
@mixin unhover{
  box-shadow: none;
  transform: rotate(0deg);
  filter:grayscale(1)
}
.mat-card{
  transition: all .25s ease-out;
  // max-width: 400px;
  min-height: 210px;
  max-height: 210px;
  box-shadow: none;
  border-radius: 0;
  transform: rotate(0deg);
  opacity: 1;
  // &:hover{
  //   @include hover;
  // }
  img{
    max-height: 180px !important
  }
}
.mat-card.active{
  @include hover;
  & article > mat-card-header > div.mat-card-avatar{
    @include hover;
  }
}
.card-bg.active{
  @include hover;
  & .mat-card > article > .mat-card-header > div.mat-card-avatar{
    @include hover;
  }
}
.mat-card.inactive{
  @include unhover;
}
a{
  text-decoration: none;
  color: black;
  opacity: .9;
}
p{
  font-family: 'Open Sans';
  // font-size: medium;
  letter-spacing: initial;
}
.flex-c{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mat-card-header-text,.mat-card-header .mat-card-title{
  @extend .flex-c;

}
.mat-card-avatar{
  cursor: default;
  padding:3rem;
  border-top-left-radius: 0px;
  transition: border-radius 1s ease;
  border-radius: 0;
  @extend .flex-c;
  & :hover{
    // box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  }
}
.mat-icon{
  font-size: xx-large;
  height: initial;
  width: initial;
  color: white;
}

.red .card-bg .mat-card{
  transition: .25s hoverAnim ease forwards;
}
.yellow .card-bg .mat-card{
  transition: .25s hoverAnim ease forwards;
  // filter:drop-shadow(0px 4px 4px rgba(252, 186, 43, 0.5));
  & :hover{
    filter:drop-shadow(0px 4px 4px rgba(252, 186, 43, 0.5));
  }

}
.blue .card-bg .mat-card{
  transition: .5s hoverAnim ease forwards;
}
.yellow,.red,.blue{
  &:hover{
    @include hover;
    & mat-card > article > mat-card-header > div.mat-card-avatar{
      @include hover;
    }
  }
  transition: all 1s;
}
@media screen and (max-width:720px){
  .yellow,.red,.blue{
    &:hover{
      @include hover;
      & mat-card > article > mat-card-header > div.mat-card-avatar{
        @include hover;
      }
    }
    transition: all .2s;
  }
}
.grey{
  opacity: .5;
  pointer-events: none;
}
.yellow{
  background: #FFB041 !important;
  &.active{
    @include hover;
  }
}
.red{
  background:#FF4A4A !important;
  a{
    background: none;
    color: #FF4A4A !important;
  }
  &.active{
    @include hover;
  }
}
.blue{
  background:#00c3d6 ;
  p{
    background: none;
    color: #00c3d6 !important;
  }
  &.active{
    @include hover;
  }
}
@keyframes hoverAnim {
  0%{
    background-color: black;
  }
  100%{
    @include unhover;
  }
}
