<div class="a-i-c columns is-multiline bg flex-m dis-flex m flex-c-lr-auto">
  <div class="column is-4 {{card.class}} my-1" *ngFor="let card of Cards;let i = index;">
    <!-- pageScroll href="#{{card.link.replace('/','')}}" [routerLink]="[card.link]" routerLinkActive="Ative" -->
    <div data-aos="zoom-in-up"  class="card-bg" [style.backgroundColor]="card?.color">
      <mat-card [attr.data-aos]="i == 0 ? '' : 'flip-left'" >
        <article class="media min-h-full">
          <a [routerLink]="card.link" href="{{card.id}}" pageScroll class="min-h-full">
            <img *ngIf="card.img_src" src="{{card.img_src}}" class="min-h-full">
          </a>
          <mat-card-header class="ml-4">
            <div *ngIf="!card.img_src" mat-card-avatar [style.backgroundColor]="card?.color">
              <a [routerLink]="card.link" href="{{card.id}}" pageScroll>
                <mat-icon>{{card.icon}}</mat-icon>
              </a>
            </div>
          </mat-card-header>
          <div class="media-content">
            <div class="content">
              <mat-card-title>
                <a [routerLink]="card.link" href="{{card.id}}" pageScroll><p class="title header-card header">{{card.title}}</p></a>
              </mat-card-title>

              <mat-card-content>
                <p [innerHtml]="card.content" class="has-text-justified mt-3">
                </p>
                <button [routerLink]="card.link" class="border" mat-flat-button>Acessar</button>
              </mat-card-content>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">

              </div>
            </nav>
          </div>
        </article>

      </mat-card>
    </div>
  </div>
</div>
