<div class="flex-w flex-sa bg">
  <div class="{{card.class}} my-1" *ngFor="let card of Cards;let i = index;">
    <!-- pageScroll href="#{{card.link.replace('/','')}}" [routerLink]="[card.link]" routerLinkActive="Ative" -->
    <div data-aos="zoom-in-up"  class="card-bg" [style.backgroundColor]="card?.color">
      <mat-card [attr.data-aos]="i == 0 ? '' : 'flip-left'" >
        <article class="media">
          <mat-card-header>
            <div mat-card-avatar [style.backgroundColor]="card?.color">
              <a [routerLink]="card.link" href="{{card.id}}" pageScroll><mat-icon>{{card.icon}}</mat-icon></a>
            </div>

          </mat-card-header>
          <div class="media-content">
            <div class="content">
              <mat-card-title>
                <a [routerLink]="card.link" href="{{card.id}}" pageScroll><p class="title header-card header">{{card.title}}</p></a>
              </mat-card-title>

              <mat-card-content>
                <p [innerHtml]="card.content" class="has-text-justified mt-3">
                </p>
              </mat-card-content>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">

              </div>
            </nav>
          </div>
        </article>

      </mat-card>
    </div>
  </div>
</div>
