@mixin hover{
  filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: rotate(2deg);
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}
@mixin unhover{
  box-shadow: none;
  transform: rotate(0deg);
}
.mat-card{
  transition: all .25s ease-out;
  max-width: 400px;
  min-height: 210px;
  box-shadow: none;
  transform: rotate(0deg);
  &:hover{
    @include hover;
  }
}

a{
  text-decoration: none;
  color: black;
  opacity: .9;
}
p{
  font-family: 'Open Sans';
  // font-size: medium;
  letter-spacing: initial;
}
.flex-c{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mat-card-header-text,.mat-card-header .mat-card-title{
  @extend .flex-c;

}
.mat-card-avatar{
  cursor: default;
  padding:3rem;
  border-top-left-radius: 0px;
  @extend .flex-c;
  & :hover{
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  }
}
.mat-icon{
  font-size: xx-large;
  height: initial;
  width: initial;
}

.red .card-bg .mat-card{
  transition: .5s hoverAnim ease forwards;
}
.yellow .card-bg .mat-card{
  transition: .5s hoverAnim ease forwards;
  filter:drop-shadow(0px 4px 4px rgba(252, 186, 43, 0.5));
}
.blue .card-bg .mat-card{
  transition: .5s hoverAnim ease forwards;
}

@keyframes hoverAnim {
  0%{
    background-color: black;
  }
  100%{
    @include unhover;
  }
}
