<section class="section mvh-full pos-relative pb-6 pt-3 au am de ft iv cs ct iw cw cz fn bf d3 d4 d5 d6 ">
  <div class="checkout-background has-background-blue1-ck pos-fixed bellow-nav"></div>
  <div class="has-background-white px-3 box pt-4 py-3 af cs i2 i3 i4 w-full am de w-half z-index-2">
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step [completed]="IsDadosCompleto()" (click)="openPage('/checkout')" routerLinkActive="active" label="Carrinho">

      </mat-step>
      <mat-step [completed]="IsDadosCompleto()" (click)="openPage('/checkout/dados')" routerLinkActive="active" label="Dados do comprador">

      </mat-step>
      <mat-step [completed]="IsDadosCompleto()&&IsEnderecoCompleto()" (click)="openPage('/checkout/endereco')" routerLinkActive="active" label="Dados da entrega">

      </mat-step>
      <mat-step [completed]="IsDadosCompleto()&&IsEnderecoCompleto()&&IsPagamentoCompleto()" label="Pagamento">

      </mat-step>
    </mat-horizontal-stepper>
    <router-outlet @fadeIn #outlet2></router-outlet>
    <mat-toolbar class="dis-flex flex-sb py-6">
      <a class="is-size-7	">aviso legal</a>
      <span class="spacer"></span>
      <!-- <figure class="image px-4 ">
        <img src="assets/images/icons/selos-seguranca-mp.gif" height="100">
      </figure> -->
      <figure class="image py-1 px-4">
        <img src="assets/images/icons/bandeira-dos-cartoes-de-credito.png">
      </figure>
      <!-- <a href="#"><img class="logo" src="assets/images/icons/Logo_dark.png" alt="LOGO"></a> -->
    </mat-toolbar>
  </div>


</section>
