.section{
  background: #ededed;
  // margin-top: -200px;
}
.checkout-background{
  top: 0;
  height: 30vh;
  width: 100%;
  position: absolute;
  z-index: 0;
}
.has-background-blue1-ck{
  background:#9acaff14;

}
