.section{
  background: #ededed;
  // margin-top: -200px;
  border-radius:0;
}
.checkout-background{
  top: 0;
  height: 30vh;
  width: 100%;
  position: absolute;
  z-index: 0;
}
.has-background-blue1-ck{
  background:#4983e0;
  background: center/ cover no-repeat url(https://source.unsplash.com/daily?sky);
  background-attachment: fixed;
}
.check-img{
  margin-bottom: -80px;
}
@media screen and (max-width: 768px){

.check-img{
  margin-bottom: -160px;
}
}
