<div class="card-image has-background-white">
  <slideshow
    style="min-height: 300px !important;"
    *ngIf="imageUrls.length"
    [imageUrls]="imageUrls"
    [arrowSize]="(Carrosel$ | async)?.arrowSize"
    [showArrows]="true"
    [disableSwiping]="false"
    [autoPlay]="false"
    [backgroundSize]="'contain'"
    [backgroundPosition]="(Carrosel$ | async)?.backgroundPosition"
    [backgroundRepeat]="(Carrosel$ | async)?.backgroundRepeat"
    [showDots]="true"
    [dotColor]="'white'"
    [showCaptions]="(Carrosel$ | async)?.showCaptions"
    [captionColor]="(Carrosel$ | async)?.captionColor"
    [captionBackground]="(Carrosel$ | async)?.captionBackground"
    [lazyLoad]="true"
    [hideOnNoSlides]="(Carrosel$ | async)?.hideOnNoSlides"
    [fullscreen]="(Carrosel$ | async)?.fullscreen"
    [autoPlayWaitForLazyLoad]="true"
  >
  </slideshow>
  <figure class="image is-128x128 is-hidden-touch"></figure>
  <figure class="image is-64x64 is-hidden-tablet"></figure>

</div>
