
.factory-steps{
    height: 70px;
    z-index: 1;
    place-items: center;
    /* margin-top: 12px; */
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    max-width: 100vw;
    display: flex;
    font-family: "Nunito", sans-serif;
    justify-content: center;
    padding: 6px 0;
    width: 100vw;
    margin: 0;
}
li{
    width: 71px;
}
@media (min-width: 320px ) and (max-width: 1023px) {

    .fix-bottom-on-mobile{
        bottom: 0;
        top: initial;
        /* background: #8c8c8ccf; */
        /* position: fixed; */
    }

}

  li {
    width: 50px;
    float: left;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    cursor: pointer;
  }
  .li:nth-of-type(1):hover ~ .underbar {
    margin-left: 5%;
  }

  .li:nth-of-type(2):hover ~ .underbar {
    margin-left: 7%;
  }

  li:nth-of-type(3):hover ~ .underbar {
    margin-left: 15%;
  }
