<section id="SERVICO" class="mt-3 w-full">

  <div class="columns" *ngFor="let card of Cards">
      <div class="column is-6" data-aos="slide-right" >
        <mat-card *ngIf="card.class == 'left'" class="w-full card empresa-card">
          <mat-card-header class="py-1 mx-0">
            <mat-card-title>
              <p class="header is-uppercase">{{card?.title}}</p>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="txt-justify card-text">{{card?.content}}</p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="column is-6">
        <mat-card *ngIf="card.class == 'right'" class="w-full card empresa-card">
          <mat-card-header class="py-1 mx-0">
            <mat-card-title>
              <p class="header is-uppercase">{{card?.title}}</p>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="txt-justify card-text">{{card?.content}}</p>
          </mat-card-content>
        </mat-card>
      </div>
  </div>

</section>
