.mat-card{
  padding:2rem;
  min-height:500px;
}
.column{
  padding:0;
}
::ng-deep .mat-card-header-text{
  margin: 0 !important;
}
.box {
  background-color: #ffffffe8;
  border-radius: 0;
  height: 100%;
}
section{
  background-size: cover !important;
  background: url('/assets/images/servico/equipamentos-necessarios-empresa-serigrafia.jpg') no-repeat;
}
