@import './cores.scss';
/*Mixins*/
@mixin BuenardHeading40(){
  font-family: Buenard;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
}
@mixin BuenardHeading32($font-size :32px, $weight:400, $color:$neutral-darkest){
  // font-family: Buenard !important;
  font-style: #{$weight};
  font-weight: #{$weight};
  font-size: #{$font-size};
  color: #{$color};

  @if $font-size == 32{
      line-height: 42px;
  }
  @if $font-size == 24{
      line-height: 31px;
  }
}
@mixin BuenardHeading24{
  font-family: Buenard !important;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  color: $neutral-darkest;
}
@mixin NunitoParagraphy24($font-size :24px, $weight:normal, $color:$neutral-darkest, $line-height:0){
  font-family: Nunito !important;
  font-style: normal;
  font-weight: #{$weight};
  color: #{$color};
  font-size: #{$font-size};
  line-height: $line-height;

  @if($font-size == 12px and $line-height == 0){
      line-height: 16px;
  }
  @else if ($font-size == 16px and $line-height == 0){
      line-height: 22px;
  }
  @else if ($font-size == 24px and $line-height == 0){
      line-height: 33px;
  }

}
@mixin NunitoParagraphy16($font-size :16px, $weight:400, $color:$neutral-base){
  /* Nunito Paragraphy 16px */
  font-family: Nunito !important;
  font-style: normal;
  font-weight: #{$weight};
  color: #{$color};
  font-size: #{$font-size};
  @if($font-size == 12px){
      line-height: 16px;
  }
  @if $font-size == 16px{
      line-height: 22px;
  }
  @if $font-size == 24px{
      line-height: 33px;
  }
}
@mixin NunitoParagraphy14($font-size :14px, $weight:normal, $color:$black2){
  /* Nunito Paragraphy 14px */
  font-family: Nunito;
  font-style: normal;
  font-weight: #{$weight};
  color: #{$color};
  font-size: #{$font-size};
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
}
@mixin NunitoParagraphy12($font-size :12px, $weight:normal, $color:$neutral-darkest){
  font-family: Nunito;
  font-style: normal;
  font-weight: #{$weight};
  font-size: #{$font-size};
  line-height: 16px;
  color: #{$color};
}
@mixin NunitoLink16($weight:700){
  /* Nunito Link 16px */
  font-family: Nunito !important;
  font-style: normal;
  font-weight: #{$weight};
  font-size: 16px;
  line-height: 22px;
  color: $light-white;
}
@mixin NunitoLink12($weight:bold){
  /* Nunito Link 12px */
  font-family: Nunito;
  font-style: normal;
  font-weight: #{$weight};
  font-size: 12px;
  line-height: 16px;
  color:$neutral-base;
  text-align: start;
}
@mixin NunitoLabel16($font-size :16px, $weight:600, $color:$neutral-darkest, $line-height:23px){
  /* Nunito Label 16px */
  font-family: Nunito;
  font-style: normal;
  font-weight: #{$weight};
  font-size: #{$font-size};
  line-height: #{$line-height};
  color:#{$color};
}
@mixin NunitoLabel12($text-align, $weight:600){
  /* Nunito Label 12px */
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color:$neutral-base;
}
/*Classes*/
.buenard40{
  @include BuenardHeading40
}
.buenard32{
  @include BuenardHeading32
}
.buenard24{
  @include BuenardHeading24
}
.nunitoParagraphy24{
  @include NunitoParagraphy24()
}
.nunitoParagraphy24noLineHeight{
  @include NunitoParagraphy24($line-height:0px)
}
.nunitoParagraphy16{
  @include NunitoParagraphy16
}
.nunitoParagraphy14{
  @include NunitoParagraphy14
}
.nunitoParagraphy12{
  @include NunitoParagraphy12
}
.nunitoLink16{
  @include NunitoLink16
}
.nunitoLink12{
  @include NunitoLink12
}
.nunitoLabel16{
  @include NunitoLabel16
}
.nunitoLabel12{
  @include NunitoLabel12($text-align:left)
}
/*setting default caligraphy*/
h1{
  @extend .buenard32;
  line-height: 52px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2{
  // @extend .buenard24;
  line-height: 31px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h4{
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}
.mat-error{
@include NunitoLabel12($text-align:left);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
