<a>
  <mat-card class="clickable"
  (click)='onClick.emit(Estampa)'
>
  <mat-card-title class="mb-0">
    <div class="mb-0">
      <mat-card-subtitle class="mb-0">{{Estampa?.Nome}}</mat-card-subtitle>
    </div>
  </mat-card-title>
  <figure class="image is-32x32">
    <img mat-card-image class="is-rounded" src="{{(Estampa?.Imagem)[0]?.Src}}" alt="Foto de {{Estampa?.Descricao}}">
  </figure>
  <mat-card-content>
    <p>{{Estampa?.Descricao}}</p>
    <p class="preco">R${{FormatarPreco(Estampa?.Preco)}}</p>
  </mat-card-content>
  <mat-card-actions *ngIf='is_edicao'>
    <ng-container *ngIf='is_edicao then editar else exibir'></ng-container>
    <ng-template #editar>
      <button class="button is-rounded" (click)="this.onEditar.emit(Estampa)" >Editar</button>
      <button class="button is-rounded" (click)="this.onRemover.emit(Estampa)" >Remover</button>
    </ng-template>
    <ng-template #exibir></ng-template>
  </mat-card-actions>
</mat-card>

</a>
