<div class="field">
  <mat-label class="label is-small">
    Quantidade:
  </mat-label>
  <div class="control border is-large flex-m">
    <div class=" w-full dis-flex flex-sb">
      <button
        (click)="DecrescerQuantidade()"
      >
        <mat-icon class="less fs-14">remove</mat-icon>
      </button>
      <input
        id="quantidade"
        *ngIf="Produto"
        placeholder="{{ Produto?.QuantidadeMinima }}"
        value="{{
          Produto?.QuantidadeMinima <= 1
            ? 1
            : Produto?.QuantidadeMinima
        }}"
        type="number"
        (change)="VerificarQuantidade($event)"
        min="{{
          Produto?.QuantidadeMinima <= 1
            ? 1
            : Produto?.QuantidadeMinima
        }}"
        class="quantidade-produto input"
        [ngClass]="{ 'is-danger': ErroQuantidade() }"
        [(ngModel)]="Produto.Quantidade"
      />
      <button
        (click)="IncrementarQuantidade()"
      >
        <mat-icon class="more fs-14">add</mat-icon>
      </button>
    </div>
  </div>
  <span
    class="has-text-grey-light subtitle is-size-7"
    *ngIf="Produto?.QuantidadeMinima"
  >
    <em>
      *Minimo {{ Produto?.QuantidadeMinima }} unidade(s)
    </em>
  </span>
</div>
