<mat-card>
  <mat-card-title>Dicas</mat-card-title>
  <mat-card-subtitle>Cadastro de produto:</mat-card-subtitle>
  <mat-card-content>
    <div>
      <div class="box">
        <h2>Titulo completo e descritivo</h2>
        <ul>
          <li>
            <p>ex: <em>Tinta para parede xyz 3.6 Litros rosa</em></p>
          </li>
          <li>
            <p>ex: <em>(1)Sapatilha (2)Classica (3)Couro (4)Rosa</em></p>
          </li>
          <li>
            <span class="ml-3">
              (1)Categoria (1)(2)Nome (3)Tipo (3)Material do produto (4)Cor (se
              houver)
            </span>
          </li>
        </ul>
      </div>
      <div class="box">
        <h2>Fotos de qualidade e padronizadas</h2>
        <ul class="ml-3">
          <li>
            Fotos ambientadas, mostrando a utilidade do produto e diferentes
            formas de aplicação
          </li>
          <li>Comparação do tamanho real do produto</li>
        </ul>
      </div>
      <div class="box">
        <h2>Descrição útil</h2>
        <ul class="ml-3">
          <li>Descrições úteis, não apenas a descrição do fabricante.</li>
          <li>Jamais deixar dúvidas</li>
        </ul>
      </div>
      <div class="box">
        <h2>Categorização</h2>
        <ul class="ml-3">
          <li>
            Categorização em desdobramento mercadológico e em subcategorias.
          </li>
        </ul>
      </div>
    </div>
  </mat-card-content>
</mat-card>
