<div class="my-3">
  <div class="">
    <div class="hr hr-custom hr-center hr-icon-no avia-builder-el-8 el_after_av_one_third  el_before_av_textblock ">
      <span class="hr-inner inner-border-av-border-fat" style="width: 100px;
      border-color: #b893ff;
      border-top-width: 3px;
      border-radius: 30px;">
        <span class="hr-inner-style"></span>
      </span>
    </div>
    <div class="titleContent pb-0 w-full z-index-2">
      <fa-icon class="has-text-light" [icon]="quoteL" [size]="'xl'"></fa-icon>
      <h1 class='testimonial-title has-text-info'>
        O que os nossos clientes dizem sobre o nosso serviço
      </h1>
    </div>
    <div class="swiper-container" #swiperElTestimonial (mouseenter)="onSwiperHover( true )"
      (mouseleave)="onSwiperHover( false )" [swiper]="swiperConfig$ |async">

      <div class="swiper-button-prev z-index-top clickable hoverable"></div>
      <div class="swiper-button-next z-index-top clickable hoverable"></div>

      <div class="w-full z-index-0">
        <ng-content></ng-content>
      </div>

      <div class="swiper-wrapper pt-3">
        <div class="swiper-slide" *ngFor='let item of sliderData'>
          <mat-card class="my-3 shadow-light mat-elevation-z2" title='Avaliação de {{item.Nome}}'>
            <div mat-card-header class="w-full dis-flex flex-c flex-m txt-center">
              <p class="card-text text-content txt-center">
                <fa-icon class="has-text-danger" [icon]="quoteL" [size]="'md'"></fa-icon><br>
                {{item?.Comentario}}
              </p>
            </div>
            <mat-card-footer>
              <div class="userInfo">
                <img class='userLogo' loading="lazy" mat-card-avatar [src]='item?.Foto'>
                <div class='userName has-text-weight-medium'>
                  {{item?.Nome}}
                  <div class='userName'>{{item?.Tipo}} {{item?.Origem}}</div>
                </div>
              </div>
            </mat-card-footer>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
