.mat-card{
  padding: 3rem 2rem;
  max-width: 400px;
  min-height: 150px;
  transition: all .25s ease-out;
  // box-shadow: none;
  background:#eaeaf4;
  cursor: default;
  &:hover{
    filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
.allContent{
  overflow: hidden;
}
.titleContent{
  width: 100%;
  height: 250px;
  display: flex;
  // justify-content: center;
  align-content: center;
  font-family: 'Open Sans';
  padding: 4rem;
  padding-top: 40px;
}
.testimonial-title{
  font-family: 'Open Sans',sans-serif;
  font-weight: bolder;
  line-height: 31px;
  letter-spacing: 0.04em;
  border-top: 3px solid #000000b3;
}
.title{
  width: 550px;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  line-height: 60px;
  color: #363636;
}
.testimonialContent{
  margin-top: -160px;
  position: relative;
  width: 100%;
  min-height: 350px;
  cursor: pointer;
}
.buttonsContent{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding-right: 15%;
  padding-left: 15%;
}
.arrowContentLeft{
  width: 100%;
  height: 30px;
  overflow: hidden;
}
.turnButtonLeft {
  border-radius: 5px 5px 5px 36px;
  width: 72px;
  height: 72px;
  border: 2px solid rgba(91,94,119,.1);
  cursor: pointer;
  padding-left: 28px;
  padding-right: 28px;
  display: flex;
  align-items: center;
  transition: width ease .5s;

}
.nextToLeft{
  opacity: .5;
  transform: rotate(180deg);
}
.turnButtonLeft:hover {
  width: 152px;
}
.turnButtonLeft:hover .nextToLeft {
  opacity: 1;
}
.arrowContentRight{
  width: 100%;
  height: 12px;
  overflow: hidden;
  position: relative;

}
.turnButtonRight{
  border-radius: 5px 5px 36px 5px;
  width: 72px;
  height: 72px;
  border: 2px solid rgba(91,94,119,.1);
  cursor: pointer;
  padding-left: 28px;
  padding-right: 28px;
  display: flex;
  align-items: center;
  transition: width ease .5s;
}
.nextToRight{
  opacity: .5;
  position: absolute;
  right: 0px;
}
.turnButtonRight:hover {
  width: 152px;
}
.turnButtonRight:hover .nextToRight {
  opacity: 1;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}
.commentContent{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 30%;
  box-shadow: 0 80px 80px 0 rgba(30,35,66,.07);
  padding:20px;
  border-radius: 2rem;

  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  background: rgba(255, 255, 255, 0.95);
}
.bigContent{
  position: relative;

}
.text-content{
  position: relative;
  font-size: medium;
  color: #5b5e77;
  line-height: 28px;
  min-height: 150px;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}
.text-content::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}
.userInfo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.userLogo{
  // width: 200px;
  // height: 200px;
  border-radius: 50%;
}
.userName {
  text-transform: uppercase;
  padding-left: 15px;
  opacity: .5;
  color: #1e2342;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 12px;
}
.textHiden{
  width: 100%;
  height: 100px;
  background-image: linear-gradient(rgba(255, 255, 255, 0),rgb(253, 253, 253), rgb(253, 253, 253));
  position: absolute;
  bottom: 48px;
  left: 0px;
}
@media only screen and (max-width: 1200px) {
  .commentContent{
      height: 300px;
  }
  .text-content{
      height: 200px;
      font-size: 20px;
      line-height: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .buttonsContent{
      padding-left: 2%;
      padding-right: 2%;
  }
  .commentContent{
      height: 300px;
  }
  .text-content{
      height: 200px;
      font-size: 18px;
      line-height: 25px;
  }
  .title{
      font-size: 28px;
      line-height: 38px;
  }
}
p-0 {
  padding: 0!important;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
