<div
  #swiperEl4
  (mouseenter)="onSwiperHover(true)"
  (mouseleave)="onSwiperHover(false)"
  class="swiper-container z-index-1 px-1  mh-full"
  [swiper]="swiperConfig$ | async"
>
  <mat-label class="label is-small">Estampas</mat-label>
  <div class="swiper-wrapper of-x-hidden mh-full">
    <div class="swiper-slide
    " *ngFor="let estampa of Estampas">
      <personalizados-lopes-card-estampa
        [Estampa]="estampa"
        [is_edicao]="false"
        (onClick)="onSelecionarEstampa.emit($event)"
      ></personalizados-lopes-card-estampa>
    </div>
  </div>
</div>
