<div
  class=""
  [ngClass]="{ 'is-danger': ErroTamanho() }"
  *ngIf="Produto?.Tamanhos"
>
  <mat-label class="label"  [ngClass]="{'': !(Produto.Tamanho?.Nome || Produto?.Tamanho)}"
    >Escolha o <strong>Tamanho</strong>: </mat-label><span class=" is-size-7">{{Produto?.Tamanho?.Nome || Produto?.Tamanho || ''}} {{Produto?.FaixaTamanho?.Tamanho}}</span>
    <br>
    <div
    *ngFor="let opt of Produto?.Tamanhos"
    [value]="opt"
    class="shadow-light button"
    [ngClass]="{'is-active':(Produto.Tamanho?.Nome == opt?.Nome)}"

  >
    <div (click)="SetTamanho(opt)">
      <p>{{ opt.Nome || opt}}</p>
    </div>
    <div
      *ngFor="let faixa of Produto?.Tamanho?.Tamanhos"
      [value]="faixa"
      class="shadow-light button"
      [ngClass]="{'is-active':(Produto.FaixaTamanho?.Tamanho == faixa)}"
      (click)="SetFaixaTamanho(faixa)"
    >
      <div >
        <p class="is-size-6">{{ faixa.Tamanho }}</p>
      </div>
    </div>
  </div>
</div>
