<div
  class=""
  [ngClass]="{ 'is-danger': ErroTamanho() }"
  *ngIf="Produto?.Tamanhos"
>
  <mat-label class="label is-small"
    >Tamanho: <b>{{Produto.Tamanho?.Nome || Produto?.Tamanho}}</b></mat-label>
  <div
    *ngFor="let opt of Produto?.Tamanhos"
    [value]="opt"
    class="shadow-light is-rounded button is-outlined is-small"
    [ngClass]="{'is-focused':(Produto.Tamanho?.Nome == opt?.Nome)}"
    (click)="SetTamanho(opt)"
  >
    <div >
      <p>{{ opt.Nome || opt}}</p>
    </div>
  </div>
</div>
