<div class="w-full">
  <mat-card class="card">

    <mat-card-title class="title is-5 is-uppercase">Cadastrar Tamanho</mat-card-title>

    <mat-card-content class="card-body">
      <personalizados-lopes-editar-tamanho-produto-form
        (onSend)="Criar($event)"
      ></personalizados-lopes-editar-tamanho-produto-form>
    </mat-card-content>

  </mat-card>
  <div class="section dis-flex flex-sb">
    <personalizados-lopes-tamanho-produto-selector *ngIf="tamanhosProduto"
      [TamanhosProduto]="tamanhosProduto"
      (onSelected)="SelecionarTamanho($event)"
      [Multiple]="true"
    ></personalizados-lopes-tamanho-produto-selector>
    <div>
      <ng-container *ngIf="tamanhoProdutoSelecionado">
        <button class="button is-small is-roudend" (click)="Editar()" mat-icon-button><mat-icon>edit</mat-icon></button>
        <button class="button is-small is-roudend" (click)="Remover()" mat-icon-button><mat-icon>remove</mat-icon></button>
      </ng-container>
    </div>
  </div>
</div>
