
@import './theme/cores.scss';
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
$gray-web: rgba(123, 123, 123, 1);
$white: rgba(255, 255, 255, 1);
$capri: rgba(58, 184, 255, 1);
$crayola: rgba(253, 178, 60, 1);
$red: #ff0000;
// $red2: rgba(254, 0, 0, 1);
$red2: #aa2c2e;
$dark: #484848;
$brown: #565659;
/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #7B7B7Bff, #FFFFFFff, #3AB8FFff, #FDB23Cff, #FE0000ff);
$gradient-right: linear-gradient(90deg, #7B7B7Bff, #FFFFFFff, #3AB8FFff, #FDB23Cff, #FE0000ff);
$gradient-bottom: linear-gradient(180deg, #3AB8FFff,  #FFFFFFff, #3AB8FFff, #FFFFFFff);
$gradient-left: linear-gradient(270deg, #7B7B7Bff, #FFFFFFff, #3AB8FFff, #FDB23Cff, #FE0000ff);
$gradient-top-right: linear-gradient(45deg, #7B7B7Bff, #FFFFFFff, #3AB8FFff, #FDB23Cff, #FE0000ff);
$gradient-bottom-right: linear-gradient(135deg, #7B7B7Bff, #FFFFFFff, #3AB8FFff, #FDB23Cff, #FE0000ff);
$gradient-top-left: linear-gradient(225deg, #7B7B7Bff, #FFFFFFff, #3AB8FFff, #FDB23Cff, #FE0000ff);
$gradient-bottom-left: linear-gradient(315deg, #7B7B7Bff, #FFFFFFff, #3AB8FFff, #FDB23Cff, #FE0000ff);
$gradient-radial: radial-gradient(#7B7B7Bff, #FFFFFFff, #3AB8FFff, #FDB23Cff, #FE0000ff);

//$default_font:'Titillium Web', sans-serif;
//$default_font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji", sans-serif;
//$default_font:'Work Sans', sans-serif;
$default_font:'Rubik', sans-serif;

$background-light : #f1f2fa;
$main-background : #ededed;
$navcolor : rgb(0, 0, 0);
//$footercolor : rgb(255, 255, 255);
$footercolor : #ffffffd9;
$footerbg : #FF4A4A;
$naviconcolor : #f70404;
$navlinkbordercolor : #e6dbdb41;
$navlinkweight: 400;
$navlinksize: 1rem;

:root{
  --darkgrey-darker: #111;
  --darkgrey-dark: #25282a;
  --darkgrey-dark2: #3c3c41;
  --darkgrey-medium: #545859;
  --darkgrey-light: #999;
  --lightgrey-light: #e5e5e5;
  --lightgrey-lighter: #f2f2f2;
  --lightgrey-medium: #ccc;
  --primary-default: #df585a;
  --primary-light: #f6d8da;
  --primary-dark: #f6323e;
  --black-dark: #000;
  --fresh-blue: #0067c7;
  --fresh-blue-dark: #0067c7;
  --fresh-blue-lightest: #f3f9ff;
  --fresh-orange: #ff5f00;
  --fresh-darkest: #003364;
  --green-dark: #468a2e;
  --black-medium: #717786;
  --bg-header: #fff;
  --blue-medium: #597298;
  --b2b-blue-darkest: #1b3255;
  --lines-dark: #bdc9d6;
  --lines-darker: #a3afbc;
  --lines-light: #dee7ef;
  --serious-blue-dark: #214d8e;
  --serious-black: #142032;
  --serious-orange: #ff7d30;
  --base: #fff;
}
