@import './_variables.scss';
@import './theme/cores.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import '~ngx-sharebuttons/themes/default/default-theme';
@import '~ngx-sharebuttons/themes/modern/modern-light-theme';
@import '~ngx-sharebuttons/themes/modern/modern-dark-theme';
@import url('https://fonts.googleapis.com/css2?family=Buenard:wght@400;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
html, body { height: 100%; }
body {
  margin: 0;
  font-family: soleil, sans-serif;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
}
#jcont{
  --right:17px;
}
table td, table th {
  vertical-align: middle;
}
p{

  font-style: normal;
  font-weight: normal;
  line-height: 122.19%;
  /* or 27px */
  letter-spacing: 0.04em;
}
.hoverable{
  opacity: .8;
  transition: .21s all ease-in-out;
  &:hover{
    opacity: 1;
    // box-shadow:1px 1px 30px rgba(0, 05, 0, 0.80)
  }
}
.border-light{
  border:1px solid $neutral-lightest
}
.logo{
  width: 100px;
  margin-left: 40px;
}
.button.is-success{
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  border-radius: 4px;
  font-weight: 600;
  background: #0DC78B;
  height: 56px;
  &:hover{
    background: #0FE39F;
  }
}
.color-primary-cold{
  color:$capri;
}

.color-primary-hot{
  color:$red;
}

.background-primary{
  background: $red2;
}

.background-dark{
  background: $dark;
  transition: .5s all ease-in-out;
  &:hover{
    background: black;
  }
}

.background-primary-cold{
  background: $capri;
}

.background-light-blue{
  background: #1DA1F2;
  @extend .hoverable;
}


.background-dark-blue{
  background: #3B5999;
  @extend .hoverable;
}

.background-light-red{
  background: #D66363;
  &:hover{
    background: $red2;
  }
}

.color-light-red{
  color: #D66363;
  &:hover{
    color: $red2;
  }
}
/**/
.mat-form-field.mat-warn .mat-input-element, .mat-form-field-invalid .mat-input-element{
  caret-color: initial;
}
.mat-form-field.mat-form-field-invalid .mat-form-field-label{
  color:$crayola;
}
.mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6{
  font-family: Open Sans;
}
.no-padding .mat-dialog-container{
  padding: 0 !important;
}
.mat-toolbar.mat-primary {
  background: #f9f9f9;
  color: #000000;
}
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary{
  background: $blue1;
}
.background-primary-warmer{
  background: $crayola;
}
.preco{
  font-size: 14px;
  color:rgb(105, 109, 140);
  font-weight: 500;
}
.preco strong{
  color:#fe0000
}
.card-bg{
  z-index: 0;
  content: "";;
  border-radius: 1rem;
  position: relative;
  bottom: -8px;
}
.card-bg-rot::before{
  z-index: 0;
  content: "";
  width: 100%;
  height: 107%;
  border-radius: 1rem;
  position: relative;
  bottom: -8px;
  transform: rotate(2deg);
  transition: all .25s ease-out;
  background: wheat;
}
.card-text{
  font-family: Roboto;
  font-style: normal;
  font-weight: lighter;
  line-height: 122.19%;
  /* or 27px */

  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.04em;
  font-size: medium
}
.mat-card:not([class*="mat-elevation-z"]){
  box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  box-shadow: none !important
}
.shadow{
  box-shadow: 0 10px 60px #00000057;
}
.shadow-light{
  box-shadow: rgba(133, 133, 133, 0.12) 0px 2px 4px;
}
.border{
  border: 1px solid #B6B9D0;
}
.subtitle{
  font-size:14px;
  color: rgb(105, 109, 140);
}
.titulo{
  font-family: Open Sans !important;
  font-style: normal;
  font-weight: bold;
  font-size: large;
  line-height: 47px;
  display: flex;
  align-items: center;
  letter-spacing: 0.07em;
  text-transform: capitalize;
}

.header{
  // font-family: Open Sans !important;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 47px;
  display: flex;
  align-items: center;
  letter-spacing: 0.07em;
  text-transform: capitalize;
  color: $red2;
}
.header-card{
  // font-family: Open Sans;
  font-style: normal;
  font-size: 1em;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
.empresa-card{
  background: white;
  border-radius: 11px;
  padding:20% 46px !important;
  margin-bottom:28px;
  width: 100%;
}
.imagem-empresa{
  height: 100%;
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  width: 100%;
  background-color: #5b5b5d;
}
.spacer {
  flex: 1 1 auto;
}




/* ----------------------------------------------------
----------- Portfolio Filter Styling Starts -----------
-----------------------------------------------------*/

.portfolio nav {
 padding-bottom: 30px;
 text-align: center;
}

.portfolio .categories ul li {
  display: inline;
  list-style: none;
}

.portfolio .categories ul li a {
   display: inline;
   line-height: 2.5;
   text-decoration: none;
   margin-right: 20px;
}

.portfolio .categories ul li a.active {
   text-decoration: line-through;
   color: #000000;
}

.portfolio_filter {
   padding-left: 0;
}
:root {
  /* Dominio */

  --logo-campanha-size: 30px;
  --logo-campanha-margin: 10px auto;

  --cor-texto-partido:yellow;
  --numero-campanha-color: yellow;

  --numero-campanha-size: 30px ;
  --numero-campanha-margin: 0 0 10px 0;

  --primario-default: #1b79b4;
  --foreground-default: #08090a;
  --background-default: #f4faff;
}
