a {
  color: #7D74DC;
  font-weight: bolder;

}
h3{
  color: rgb(49, 47, 79);
  font-weight: normal;
  overflow-wrap: break-word;
  font-size: 16px;
}
.image{
  -webkit-box-align: center;
    align-items: center;
    border-radius: 8px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
img{
  border-radius: 8px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
span{
  font-size: 16px;
  color: rgb(49, 47, 79);
}
.mat-card{
  min-height: 250px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: rgba(49, 47, 79,.25);
  padding: 0;
}
.mat-card-header{
  padding:1rem;
}
.mat-card:hover{
    background: rgb(255, 255, 255);
    // cursor: pointer;
    // transform: perspective(1px) scale(1.02);
    transition: all 0.2s ease-in-out 0s;
    box-shadow: rgba(105, 109, 140, 0.4) 0px 0px 16.8766px;
}
::ng-deep .mat-card-header-text{
  width: 100%;

}
.mat-card-actions{
  margin-bottom: 20px;
  width: 92%;
  margin-top: -35px;
}
.mat-card-title{
  color: rgb(49, 47, 79);
  font-size: 16px;
  margin: 0rem 0;
}
.zoom{
  filter: opacity(1);
  transition: .5s all ease-in-out;
  &:hover{
    opacity: 1;
    filter: opacity(1);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
}
@media (min-width: 320px ) and (max-width: 1023px) {

  .zoom{
    filter: opacity(1);
  }
  // .mat-card{
  //   background: rgb(255, 255, 255);
  // }
}

.portfolio-item {
  margin-bottom: 10px;
  display: block;
  -webkit-box-align: stretch;
  align-items: stretch;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* ----- Portfolio Filter Styling Ends ----- */

.portfolio-overlay {
  background: rgba(255, 255, 255, 0.20);
  pointer-events: none;
  position:absolute;
  top: 0;
  left: 5px;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  opacity: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
    transition: 0.5s;
}

.overlay-items {
 height: 100px;
 position: absolute;
 top: 45%;
 left: 0;
 right: 0;
 visibility: hidden;
}

.overlay-items p {
 margin-top: 1em;
 opacity: 0;
 font-size: 12px;
 font-weight: 600;
 letter-spacing: 2px;
 color: #FFF;
 padding: 5px 5px;
 height: min-content;
 background: #111111;
 display: inline-block;
 -webkit-transform: translateY(20px);
 -moz-transform: translateY(20px);
 transform: translateY(20px);
 -webkit-transition: 0.3s;
 -moz-transition: 0.3s;
 transition: 0.3s;
 -webkit-transition-delay: 0.3s;
 -moz-transition-delay: 0.3s;
 transition-delay: 0.2s;
}

.portfolio-item:focus, .portfolio-item:hover {
    text-decoration: none;
}

.portfolio-item:hover .portfolio-overlay {
 transform: scale(1);
 opacity: 1;
}

.portfolio-item:hover .overlay-items {
 visibility: visible;
}

.portfolio-item:hover h5, .portfolio-item:hover p {
 opacity: 1
}

.portfolio-item:hover p {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
  text-decoration: none;
}
