<ng-container *ngIf="MostarOpcoes then Padrao else Minimalista"></ng-container>

<ng-template #Padrao>
  <mat-card
   class="portfolio-item zoom"
   [style.backgroundColor]="Produto.Categoria.Cor"
   >
  <a
    (mouseout)="imgProduto.src = Produto.Imagem[0]"
    (mouseover)="imgProduto.src = Produto.Imagem[1]"
    [href]="['/produtos/'+ Produto._id]"
    routerLinkActive="router-link-active">
    <img
      @fadeIn
      mat-card-image
      #imgProduto
      [src]="Produto.Imagem[0]"
      alt="Foto de {{Produto?.NomeCategoria}} {{Produto?.Cor}} - {{Produto?.Nome}}">
  </a>
   <mat-card-footer class="px-2">
     <mat-card-header class="w-full txt-center">
        {{Produto.Categoria.Cor}}
        <mat-card-title class="w-full txt-center titulo-produto">{{Produto?.Nome}}</mat-card-title>
        <mat-card-subtitle class="mat-card-subtitle preco is-6">{{Produto?.Subtitulo}}</mat-card-subtitle>
        <mat-card-subtitle class="is-3 preco">
          <p>R$ {{Produto?.Preco || '0.00'}}</p>
          <button mat-stroked-button (click)="AdicionarAoOrcamento(Produto)" color="primary" class="background-light">
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card-footer>
    <a [href]="['/produtos/'+ Produto._id]" routerLinkActive="router-link-active">
      <mat-card-actions class="mat-card-actions flex-w flex-c flex-m w-full mx-3">
        <button mat-stroked-button color="accent"
          class="mat-focus-indicator w-full has-text-white mat-raised-button mat-button-base">Veja mais</button>
        </mat-card-actions>
      <div class="">
        <div class="content">
          <div class="portfolio-overlay w-full">
            <div class="overlay-items w-full flex-w flex-c">
              <p>
                {{Produto?.Nome}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </a>
    </mat-card>
    <figure class="image is-64x64 img-orcamento" [ngClass]="isOrcamento ? 'active' : ''">
      <img src="{{Produto?.Imagem[0]}}" alt="">
    </figure>
</ng-template>

<ng-template #Minimalista>
  <mat-card data-aos="flip-down" class="flex-w flex-c portfolio-item zoom">
    <a pageScroll href="#PRODUTO" [routerLink]="['/produtos/',Produto._id]" routerLinkActive="router-link-active">
      <img src="{{Produto?.Imagem[0]}}" alt="Foto de {{Produto?.NomeCategoria}} {{Produto?.Cor}} - {{Produto?.Nome}}">
      <mat-card-content class="flex-w flex-c">
        <div class="portfolio-overlay w-full">
          <div class="overlay-items w-full flex-w flex-c">
            <p>
              {{Produto?.Nome}}
            </p>
          </div>
        </div>
      </mat-card-content>
    </a>
  </mat-card>
</ng-template>
