<ng-container *ngIf="MostarOpcoes then Padrao else Minimalista"></ng-container>

<ng-template #Padrao>
  <ng-container *ngIf="TrocaImagem then troca else naotroca"> </ng-container>

  <ng-template #troca>

    <a>
    <mat-card
    (mouseenter)="
      this.imgProduto.classList.add('hide');
      this.imgProduto.classList.remove('show');
      " (mouseout)="
      this.imgProduto.classList.remove('hide');
      this.imgProduto.classList.add('show');
      "
      routerLinkActive="router-link-active"
      matRipple class="portfolio-item zoom of-y-scroll card clickable"
      [style.backgroundColor]="Produto.Categoria.Cor" [style.flexDirection]="flex_direction">

      <div
      #imgProduto matRipple class="dis-flex flex-w mx-2 my-2 w-full" >
       <span class="prod-status ">
        <i class="pi pi-tag  product-category-icon"></i>
        <span class="product-category"></span>
        <span [class]="'subtitle is-size-7 is-capitalized product-badge status-' + Produto.Status.toString().toLowerCase()">{{Produto?.Status == statusProduto.promocao ? 'Promoção' : translateStatusProduto(Produto.Status) }}</span>
      </span>
        <!-- <img
          mat-card-image #imgProduto
          class=""
          [src]="Produto.Imagem[0]" [style.opacity]="'1'" [style.display]="'block'"
          alt="Foto de {{Produto?.NomeCategoria}} {{Produto?.Cor}} - {{Produto?.Nome}}">
        <img
          mat-card-image #imgProduto2
          class="hide" [src]="Produto.Imagem[1] || Produto.Imagem[0]"
          alt="Foto de {{Produto?.NomeCategoria}} {{Produto?.Cor}} - {{Produto?.Nome}}"> -->
          <slideshow mat-card-image
              *ngIf="imageUrls.length"
              [imageUrls]="imageUrls"
              [arrowSize]="(Carrosel$|async)?.arrowSize"
              [showArrows]="false"
              [disableSwiping]="false"
              [autoPlay]="false"
              [backgroundSize]="'contain'"
              [backgroundPosition]="(Carrosel$|async)?.backgroundPosition"
              [backgroundRepeat]="(Carrosel$|async)?.backgroundRepeat"
              [showDots]="(Carrosel$|async)?.showDots"
              [dotColor]="'black'"
              [showCaptions]="(Carrosel$|async)?.showCaptions"
              [captionColor]="(Carrosel$|async)?.captionColor"
              [captionBackground]="(Carrosel$|async)?.captionBackground"
              [lazyLoad]="true"
              [hideOnNoSlides]="(Carrosel$|async)?.hideOnNoSlides"
              [fullscreen]="(Carrosel$|async)?.fullscreen"
              [autoPlayWaitForLazyLoad]="true"
               >
            </slideshow>
      </div>

      <mat-card-footer class="px-3 z-index-2 w-full of-y-scroll ">
        <!-- <div class="my-3" *ngIf="Produto.Rating.length>0">
          <star-rating [size]="'small'" [rating]="meanRating()" [hoverEnabled]="true" [readOnly]="true" [showHalfStars]="true"
            [step]="0.5" staticColor="ok" [starType]="'svg'"></star-rating>
        </div> -->
        <mat-card-title class="w-full txt-center titulo-produto  mb-0">
          <a  matRipple class="reset-a" pageScroll href="#topo"
          [routerLink]="['/produtos/'+ Produto._id]">
          {{Produto?.Nome}}
        </a>

        <!-- <ng-container *ngIf="Produto.Status == statusProduto.promocao then preco_promo else preco_normal">
        </ng-container>
        <ng-template #preco_promo>
          <div class="txt-left">
            <p class="preco-produto linethr">R$ {{Produto?.Preco.toFixed(2) || '0.00'}}</p>
            <p class="preco-produto promocao">R$ {{Produto?.PrecoPromocional.toFixed(2) || '0.00'}}</p>
          </div>
        </ng-template>
        <ng-template #preco_normal>
          <div class="txt-left">
            <p class="preco-produto">R$ {{Produto?.Preco.toFixed(2) || '0.00'}}</p>
          </div>
        </ng-template> -->

        </mat-card-title>


        <mat-card-header class="w-full txt-left pt-1 of-y-scroll">

          <!-- <mat-card-subtitle class="mat-card-subtitle is-6">{{Produto?.Subtitulo}}</mat-card-subtitle> -->

          <mat-card-subtitle

            class="w-full z-index-2 px-3 pb-4 pt-2 is-3 preco ">
            <ng-container *ngIf="Produto.Status == statusProduto.promocao then preco_promo else preco_normal">
            </ng-container>
            <ng-template #preco_promo>
              <div
              class="txt-left pt-0 mt-0">
                <p class="preco-produto linethr">R$ {{Produto?.Preco.toFixed(2) || '0.00'}}</p>
                <p class="preco-produto promocao">R$ {{Produto?.PrecoPromocional.toFixed(2) || '0.00'}}</p>
              </div>
            </ng-template>
            <ng-template #preco_normal>
              <p class="preco-produto">R$ {{Produto?.Preco.toFixed(2) || '0.00'}}</p>
            </ng-template>
            <div class="my-3" *ngIf="Produto.Parcelas && Produto.Parcelas > 0">
              <p class=" parcelas" *ngIf="Produto.Parcelas > 1">
                Em até {{Produto.Parcelas}}x de <span
                  class="parcelas">
                  <b>R${{(Produto.Status == statusProduto.promocao ? Produto.PrecoPromocional : Produto.Preco / Produto.Parcelas).toFixed(2)}}</b></span>
                sem juros
              </p>
              <p class=" parcelas" *ngIf="Produto.Parcelas == 1 || Produto.Parcelas == 0">
                <span
                class="parcelas"> Á vista por <b>R${{(Produto.Status == statusProduto.promocao ? Produto.PrecoPromocional : Produto.Preco / Produto.Parcelas).toFixed(2)}}</b>
                sem juros</span>
              </p>
            </div>

          </mat-card-subtitle>
        </mat-card-header>
      </mat-card-footer>
      <mat-card-actions class="w-full flex-c">
        <div
        class="hoverable w-full">
          <a href="#topo"
          class="fw-600 level-item button is-warning is-small shadow-light"
          style="height: 100%;"
          [routerLink]="['/produtos/'+ Produto._id + '?produto=' + encodeURI(Produto?.Nome)]" routerLinkActive="router-link-active">
            <span class="flex-w flex-c-m fw-600"><span class="fw-500 mr-1 pi pi-wallet"></span> Comprar</span>
          </a>
          <a (click)="AdicionarAoOrcamento()" routerLinkActive="router-link-active"
          class=" level-item button is-light is-small shadow-light"
          style="height: 100%; text-decoration: none;">
            <span class="flex-w flex-c-m"><span class="mr-1 pi pi-shopping-cart"></span> Adicionar</span>
          </a>
        </div>
        <a *ngIf="Produto.Status == statusProduto.esgotado" [routerLink]="['/produtos/'+ Produto._id + '?produto=' + encodeURI(Produto?.Nome)]"  routerLinkActive="router-link-active"
            class="wp-btn button border is-small box mb-2 pb-2" style="text-decoration: none;">
          Esgotado
        </a>
      </mat-card-actions>


      <div class="z-index-1">
        <div class="content" >
          <div class="portfolio-overlay events-none w-full" style="top:10px;"
            [style.width]="flex_direction == 'row'?'50%':'100%'">
              <div class="overlay-items w-full txt-center">
                <p>
                  {{Produto?.DescricaoRapida ? Produto?.DescricaoRapida: Produto?.Nome}}
                </p>
              </div>

          </div>
          <a title="Comprar" matRipple pageScroll
          href="#topo"
          class="reset-a button shadow-light hoverable is-success m-lr-auto"
          [style.top]="flex_direction == 'row'?'33%':'37%'"
          [style.left]="flex_direction == 'row'?'2%':'28%'"
          [routerLink]="['/produtos/'+ Produto._id + '?produto=' + encodeURI(Produto?.Nome)]" routerLinkActive="router-link-active"
          mat-flat-button class=""><mat-icon color='accent'>shopping_bag</mat-icon></a>
        </div>
      </div>
    </mat-card>
  </a>
    <figure class="image is-64x64 img-orcamento" [ngClass]="isOrcamento ? 'active' : ''">
      <img src="{{Produto?.Imagem[0]}}" alt="">
    </figure>
  </ng-template>

  <ng-template #naotroca>
    <mat-card @fadeIn
    (mouseenter)="
      this.imgProduto.classList.add('hide');
      this.imgProduto.classList.remove('show');
      " (mouseout)="
      this.imgProduto.classList.remove('hide');
      this.imgProduto.classList.add('show');
      "
      matRipple style="height: 100%;" class="portfolio-item of-y-scroll z-index-top card" [style.backgroundColor]="Produto.Categoria.Cor" [style.flexDirection]="flex_direction">

      <div

      #imgProduto matRipple class="dis-flex flex-w w-full">

          <slideshow mat-card-image
              *ngIf="imageUrls.length"
               [imageUrls]="imageUrls"
               [arrowSize]="(Carrosel$|async)?.arrowSize"
               [showArrows]="false"
               [disableSwiping]="false"
               [backgroundSize]="'contain'"
               [autoPlay]="false"
               [backgroundPosition]="(Carrosel$|async)?.backgroundPosition"
               [backgroundRepeat]="(Carrosel$|async)?.backgroundRepeat"
               [showDots]="(Carrosel$|async)?.showDots"
               [dotColor]="'black'"
               [showCaptions]="(Carrosel$|async)?.showCaptions"
               [captionColor]="(Carrosel$|async)?.captionColor"
               [captionBackground]="(Carrosel$|async)?.captionBackground"
               [lazyLoad]="(Carrosel$|async)?.lazyLoad"
               [hideOnNoSlides]="(Carrosel$|async)?.hideOnNoSlides"
               [fullscreen]="(Carrosel$|async)?.fullscreen"
               [autoPlayWaitForLazyLoad]="true"
               >
            </slideshow>
      </div>

      <!-- <span class="prod-status is-hidden-desktop is-hidden-touch">
        <i class="pi pi-tag"></i>
        {{Produto?.Status == statusProduto.promocao ? 'Promoção' : translateStatusProduto(Produto.Status) }}
      </span> -->



      <mat-card-footer class="px-2 z-index-2">

        <mat-card-header
        class="w-full txt-center pt-1">

          <mat-card-title
          class="w-full titulo-produto mb-0">
            <a matRipple class="reset-a" [routerLink]="['/produtos/'+ Produto._id + '?produto=' + Produto?.Nome.replace('/','')]">
              {{Produto?.Nome}}
            </a>
            <!-- <div class="my-3">
              <star-rating [rating]="meanRating()" [hoverEnabled]="true" [readOnly]="true" [showHalfStars]="true"
                [step]="0.5" staticColor="ok" [starType]="'svg'"></star-rating>
            </div> -->

          </mat-card-title>
          <!-- <mat-card-subtitle class="txt-center w-full is-6">{{Produto?.Subtitulo}}</mat-card-subtitle> -->

        </mat-card-header>

        <mat-card-actions class="w-full pos-relative z-index-1 txt-center left-0 bottom-0 is-3 preco of-y-scroll">
          <!-- <mat-divider class="my-2"></mat-divider> -->
          <a matRipple class="dis-flex flex-w  w-full"  [href]="'/produtos/'+Produto._id">
          <span class="prod-status ">
           <i class="pi pi-tag  product-category-icon"></i>
           <span class="product-category"></span>
           <span [class]="'subtitle is-size-7 is-capitalized product-badge status-' + Produto.Status.toString().toLowerCase()"> Em {{Produto.Cores?.length}} cores</span>
         </span>
         </a>
          <div class="px-4 py-1">
            <div class="my-3" *ngIf="Produto.Parcelas && Produto.Parcelas > 0">
              <p class=" parcelas" *ngIf="Produto.Parcelas > 1">
                Em até {{Produto.Parcelas}}x de <span
                  class="parcelas">
                  <b>R${{(Produto.Status == statusProduto.promocao ? Produto.PrecoPromocional : Produto.Preco / Produto.Parcelas).toFixed(2)}}</b></span>
                sem juros
              </p>
              <p class=" parcelas" *ngIf="Produto.Parcelas == 1">
                <span
                class="parcelas"> Á vista por <b>R${{(Produto.Status == statusProduto.promocao ? Produto.PrecoPromocional : Produto.Preco / Produto.Parcelas).toFixed(2)}}</b>
                sem juros</span>
              </p>
            </div>
            <ng-container *ngIf="Produto.Status == statusProduto.promocao then preco_promo else preco_normal">
            </ng-container>
            <ng-template #preco_promo>
              <div class="txt-center">
                <p class="preco-produto linethr">R$ {{Produto?.Preco.toFixed(2) || '0.00'}}</p>
                <p class="preco-produto promocao">R$ {{Produto?.PrecoPromocional.toFixed(2) || '0.00'}}</p>
              </div>
            </ng-template>
            <ng-template #preco_normal>
              <div class="txt-center">
                <p class="preco-produto ">R$ {{Produto?.Preco.toFixed(2) || '0.00'}}</p>
              </div>
            </ng-template>
          </div>
        </mat-card-actions>
        <a href="javascript:void(0)" class="pos-absolute top-0 left-0" (click)='AdicionarAoOrcamento()'>
          <span
            class=" border is-small is-fullwidth box px-4 mb-2 pb-2">
            <span><i class="pi pi-shopping-cart"></i> </span>
          </span>
        </a>


        <div class="z-index-1">
          <div class="content a-i-c m-lr-auto w-full">
            <div class="portfolio-overlay events-none w-full" style="top:10px;"
            [style.width]="flex_direction == 'row'?'50%':'100%'">
              <div class="overlay-items w-full txt-center">
                <p>
                  {{Produto?.DescricaoRapida ? Produto?.DescricaoRapida: Produto?.Nome}}
                </p>
              </div>

            </div>
            <a title="Comprar" matRipple pageScroll
            href="#topo"
            class="reset-a button shadow-light hoverable is-success m-lr-auto"
            style="top:27%;left: 25%;"

            [routerLink]="['/produtos/'+ Produto._id + '?produto=' + encodeURI(Produto?.Nome)]" routerLinkActive="router-link-active"
            mat-flat-button class=""><mat-icon color='accent'>shopping_bag</mat-icon></a>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
    <figure class="image is-64x64 img-orcamento" [ngClass]="isOrcamento ? 'active' : ''">
      <img src="{{Produto?.Imagem[0]}}" alt="">
    </figure>
  </ng-template>

</ng-template>

<ng-template #Minimalista>
  <mat-card data-aos="flip-down" class="flex-w flex-c portfolio-item zoom mat-elevation-z4">
    <a pageScroll href="#PRODUTO" [routerLink]="['/produtos/',Produto._id + '?produto=' + encodeURI(Produto?.Nome)]" routerLinkActive="router-link-active">
      <img src="{{Produto?.Imagem[0]}}" alt="Foto de {{Produto?.NomeCategoria}} {{Produto?.Cor}} - {{Produto?.Nome}}">
      <mat-card-content class="flex-w flex-c">
        <div class="portfolio-overlay w-full">
          <div class="overlay-items w-full flex-w flex-c">
            <p>
              {{Produto?.Nome}}
            </p>
          </div>
        </div>
      </mat-card-content>
    </a>
  </mat-card>
</ng-template>
