

.prod{
  &-status{
    position: absolute;
    top: 13px;
    right: -5px;
    color: #000000;
    padding: 5px 10px;
    z-index: 3;
    border-radius: .51em;
    background: white;
  }
  &-cores{
    position: absolute;
    max-width: 170px;
    top: -5px;
    left: -35;
    color: #000000;
    padding: 5px 10px;
    z-index: 3;
    border-radius: .51em;
    background: white;
  }
}
.mat-badge-medium, .mat-badge-content {
  min-width: 32px;
  min-height: 28px;
}
.image{
  -webkit-box-align: center;
    align-items: center;
    border-radius: 8px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
img{
  border-radius: 8px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.mat-card{
  min-height:  100%;
  // max-height: 550px;
  background:#ffffff none repeat scroll 0% 0%;
  display: flex !important;
  align-items: center;
  // border: 1px solid #e7e7e7;
  height: 100%;
  // padding: 0 !important;
  margin: 0 !important;
  &:hover{
    // box-shadow: rgba(105, 109, 140, 0.4) 0px 0px 16.8766px !important;
    // background: #ffffffc9 none repeat scroll 0% 0%;
    // background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    // border: 1px solid rgb(215, 215, 215);
    &button{
      display: block;
    }
  }
  &:hover > .mat-card-footer .titulo-produto{
    // color:#3273dc;
    font-size: 16px !important;
  }
  // &:hover > .mat-card-footer .parcelas{
  //   color: black ;
  // }
  // &:hover > .mat-card-footer .preco{
  //   background-color: white ;
  // }
  // &:hover > .mat-card-footer .preco-produto{
  //   color: white ;
  // }
}
.titulo-produto {
  font-size: 16px!important;
  // font-weight: 600;
  // color: #495057;
}
.mat-card-header .mat-card-title{
  text-align: center;
  margin-bottom: 0;
}

.mat-card-image,img{
  background: rgb(255, 255, 255);
  position: relative;
  border-radius: 0;
  transition: 1s all;
  display: flex;
  margin:0;
  border-bottom-left-radius: .31em;
  border-bottom-right-radius: .31em;
  min-height: 270px;
  // max-height: 270px !important;
  // width: 70%;
  // min-width: 161px;
  object-fit: cover;
  filter: grayscale(0) !important;
  margin-top: -16px;
  width: 100%;
  min-width: 161px;
  &.show{
    animation: show 1s ease forwards !important;
    filter: brightness(0.9) !important;
    margin-top: -16px;
  }
  &.hide{
    animation: hide 1s ease forwards !important;

  }
}
// .mat-card-image{
//   margin:0 -16px 16px -16px;
// }
.w-full-i{
  width: 400px;
  margin: 0;
}
.w-small{
  width: 385px;
  height: 300px;
  margin: inherit;
}
.zoom{
  filter: opacity(1);
  transition: .2s all ease;
  &:hover{
    opacity: 1;
    filter: opacity(1);
    transform: scale(1.02) !important;
    -webkit-transform: scale(1.02) !important;
    z-index: 2;
  }
}
@keyframes show{
  0%{
    visibility: hidden;
    opacity: 0;
    display: none;
    position: absolute;
    display: block;
  }
  100%{
    visibility: show;
    opacity: 1;
    position: relative;
    display: block !important;
  }
}
@keyframes hide{
  0%{
    visibility: show;
    opacity: 1;
    display: flex;
    position: relative;
  }
  100%{
    display: none ;
    opacity: 0;
    position: absolute;
    visibility: hidden;
  }
}
.mat-card-subtitle{
  margin-bottom: 0;
}
.preco-produto{
  // color: #f05558;
  // font-size: 12px;
  &.linethr{
    font-size: small;
    font-weight: 400;
  }
  &.promocao{
    color:f05558;
  }
}
::ng-deep .mat-card-header-text{
  width: 100%;
  margin: 0 16px;
}
.mat-card-header{
  // height: 75px;
  // overflow: hidden;
  &-text{
    width: 100%;
    margin: 0 16px;
  }
}
.btn-cart{
  // background: #0b4d88;
    color: #fff;
    font-weight: 700;
    text-transform: lowercase;
    border: none;
    border-radius: .5rem;
    width: 100%;
    font-size: 16px;
}
@media (min-width: 00px ) and (max-width: 1223px) {
  .preco-produto{
    font-size: 16px;
  }
  .mat-card{
    flex-direction: column;
  }

  .mat-card-subtitle{
    position: relative;
  }
  .zoom{
    filter: opacity(1);
  }
  .mat-card-image,img{
    object-fit: fit;

    // height: 240px;
    // min-height: auto;
  }
  .mat-card-header{
    // height: 75px;
    // overflow: hidden;
    &-text{
      width: 100%;
      margin: 0 16px;
    }
  }
}

.portfolio-item {
  margin: 0px;
  display: block;
  border-radius: 30px;
  display: flex;
  background: #ffffff;
  height: 90%;
  overflow: hidden;
  &:hover{
    .slideshow-container .slides:not(.link) {
      &:hover{
        background:  #e5e5e5 none repeat scroll 0% 0%
      }
    }
  }
}

/* ----- Portfolio Filter Styling Ends ----- */

.portfolio-overlay {
  // background: rgba(255, 255, 255, 0.20);
  z-index: 8;
  &a{
    transition:.5s all ease ;
  }
  position:absolute;
  top: 0;
  left: 5px;
  height: calc(100% - 10px);
  height: 60%;
  width: 50%;
  // opacity: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
    transition: 0.5s;
    & ~ button, ~ a{
      opacity: 0;
      // pointer-events: none;
      display: flex;
      position: absolute;
      font-size: 12px;
      justify-content: center;
      align-items: center;
      width: 45%;
      top: 35%;
      left: 0px;
      z-index: 10;
      border-radius: 50%;
    }
}

.overlay-items {
  height: 100px;
  position: absolute;
  top: 25%;
  z-index: 5;
  left: -5px;
  right: 0;
  visibility: hidden;
}

.overlay-items p {
 margin-top: 1em;
 opacity: 0;
 font-size: 12px;
 font-weight: 600;
 letter-spacing: 2px;
 color: #FFF;
 padding: 5px 5px;
 height: min-content;
 top: -250px;
 background: #16161642;
 display: inline-block;
 -webkit-transform: translateY(20px);
 -moz-transform: translateY(20px);
 transform: translateY(20px);
 -webkit-transition: 0.1s;
 -moz-transition: 0.1s;
 transition: 0.1s;
}

.portfolio-item:focus, .portfolio-item:hover {
    text-decoration: none;
}

.portfolio-item:hover .portfolio-overlay {
 transform: scale(1);
 opacity: 1;
}
.portfolio-item:hover .portfolio-overlay ~button,.portfolio-item:hover .portfolio-overlay ~a{
  pointer-events: all;
  border-radius: 0.25rem;
  transition: all ease .2s;
  transition-delay: .2s;
  opacity: 1;
  z-index: 2;
  &:hover{
    opacity: 1;
    transition-duration: .25s;
    transition-delay: 0s;
  }
}

.portfolio-item:hover .overlay-items {
 visibility: visible;
}

.portfolio-item:hover h5, .portfolio-item:hover p {
 opacity: 1
}

.portfolio-item:hover p {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
  text-decoration: none;
}

.img-orcamento{
  display: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.img-orcamento.active{
  display: block;
  position: absolute;
  z-index: 10;
  animation: flyToCart 1s ease-out forwards;
}

@keyframes flyToCart{
  0%{
    bottom: 0px;
    right: 35%;
  }
  95%{
    bottom: 100%;
    right: 5%;
    opacity: .7;
  }
  100%{
    bottom: 95%;
    right: 10%;
    // display: none;
    opacity: 0;
    pointer-events: none;
  }
}

:host ::ng-deep slideshow{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &.mat-card-image{
    border-radius: 30px;
  }
}

.btn-vejamais{
  background: rgba(0, 0, 0, 1);
  border-radius: 5px;

}
.mat-accent{
  background: rgb(231, 5, 81);    background: #788dc4;
  opacity: 0.5 !important;
  opacity: .5;
}
