<div class="bg">
  <div class="section has-background-white-bis mb-3 pt-3">
    <nav class="breadcrumb is-left pt-0" aria-label="breadcrumbs">
      <ul class="">
        <li class="">
          <a [routerLink]="'/produtos'" href="#" class="">Todos os produtos</a>
        </li>
        <li >
          <a [routerLink]="'/produtos'" href="#" class="" (click)="editarCategoriaFiltroProduto()">{{Produto?.Categoria.Nome}}</a>
        </li>
        <li class="is-active desb">
          <a href="#" class="">{{Produto?.Nome}}</a>
        </li>
      </ul>
    </nav>
    <div class="columns has-background-white" id="PRODUTO">
      <div class="column box mb-0 pos-sticky top-0 pt-3">
        <gallery id="myGallery" class="pos-sticky bellow-nav" *ngIf="galleryConfig$ | async; let config" [counter]="false"
        [thumbWidth]="config.thumbWidth" [thumbHeight]="config.thumbHeight" [thumbPosition]="config.thumbPosition">
      </gallery>
    </div>

    <div class="column px-3">
      <!-- <div [ngClass]="Produto.Status != statusProduto.esgotado ? 'has-background-success':'has-background-danger'">
        <p class="mx-1 py-1 box px-6 is-capitalized">{{translateStatusProduto(Produto.Status)}}</p>
      </div> -->
        <div class="mh-70 px-2 txt-left">

          <h1 class="titulo-produto">{{Produto?.Nome}}</h1>
          <div class="my-1 star-width dis-flex flex-w">
            <star-rating
              [ngClass]="loading ? 'button is-loading':''"
              class="subtitle is-size-7"
              labelText="{{meanRating()}}"
              [showHalfStars]="true"
              [step]="0.5"
              size="medium"
              [rating]="meanRating()"
              staticColor="ok"
              [readOnly]="true"
              (starClickChange)="onClick($event)"
              (ratingChange)="onRatingChange($event)"
              [hoverEnabled]="true"
              [starType]="'svg'"
              (hoverRatingChange)="onHoverRatingChange($event)">
              </star-rating>
              <span class="subtitle is-size-7">({{Produto.Rating.length}} avaliações)</span>
            </div>

          <div class="my-1">
            <ng-container *ngIf="Produto.Status == statusProduto.promocao then preco_promo else preco_normal"></ng-container>
            <ng-template #preco_promo>
              <div class="txt-left">
                <p class="preco linethr">R$ {{Produto?.Preco.toFixed(2) || '0.00'}}</p>
                <p class="preco promocao">R$ {{Produto?.PrecoPromocional.toFixed(2) || '0.00'}}</p>
              </div>
            </ng-template>
            <ng-template #preco_normal>
              <div class="txt-left">
                <p class="preco">R$ {{Produto?.Preco.toFixed(2) || '0.00'}}</p>
              </div>
            </ng-template>
            <div class="my-1" *ngIf="Produto.Parcelas && Produto.Parcelas > 0">
              <p class="preto6">
                Em até {{Produto.Parcelas}}x <span class="preco-produto"><b>R${{(Produto.Preco / Produto.Parcelas).toFixed(2)}}</b></span> sem juros
              </p>
            </div>
          </div>
          <div class="columns is-multiline is-vcentered pb-0">
            <div class="column is-4">
              <p *ngIf="Produto?.QuantidadeMinima > 1"><em>Quantidade</em></p>
              <div class="field w-full">
                <div class="control border is-large flex-c flex-m w-full">
                  <button mat-icon-button (click)="DecrescerQuantidade()">
                    <mat-icon class="less">remove</mat-icon>
                  </button>
                  <input placeholder="{{Produto?.QuantidadeMinima}}" value="{{Produto?.QuantidadeMinima}}"
                    type="number" (change)="VerificarQuantidade($event)" min="{{Produto?.QuantidadeMinima}}"
                    class="quantidade-produto input" [(ngModel)]="(Produto).Quantidade">
                  <button mat-icon-button (click)="IncrementarQuantidade()">
                    <mat-icon class="more">add</mat-icon>
                  </button>
                </div>
              </div>
              <span class="has-text-grey-light" *ngIf="Produto?.QuantidadeMinima > 1">
                <em>
                *Minimo {{Produto?.QuantidadeMinima}} unidades
                </em>
              </span>
            </div>
            <div class="column is-12-mobile is-8-desktop">
              <div *ngIf="Produto?.Status != statusProduto.esgotado" class="dis-flex flex-m txt-center ">
                <button mat-raised-button
                [disabled]="Produto?.Status == statusProduto.esgotado || !Produto?.Cor ||  !Produto?.Tamanho"
                (click)="AdicionarAoOrcamento()"
                class="share-button w-full flex-m flex-c pb-2 mx-2 background-light-red has-text-white has-text-weight-medium">
                {{textoAdicionar}}
                <mat-icon>shopping_bag</mat-icon>
                </button>
                <mat-list>
                  <mat-list-item *ngIf="! Produto?.Tamanho">
                    <p class="subtitle is-size-6 has-text-grey-light">Selecione o tamanho*</p>
                  </mat-list-item>
                  <mat-list-item *ngIf="! Produto?.Cor">
                    <p class="subtitle is-size-6 has-text-grey-light">Selecione a cor*</p>
                  </mat-list-item>
                </mat-list>
              </div>
              <div *ngIf="Produto?.Status == statusProduto.esgotado" class="box pt-5 w-full">
                <personalizados-lopes-botao-esgotado [Produto]="Produto"></personalizados-lopes-botao-esgotado>
              </div>
            </div>
            <div class="column">
              <button
                 *ngIf="this.isOrcamento"
                  mat-flat-button
                  title="Criar novo pedido"
                  [disabled]="Produto?.Status == statusProduto.esgotado || !Produto?.Cor ||  !Produto?.Tamanho"
                  (click)="DuplicarOrcamento()"
                  color="accent"
                  class="background-light-red  mx-2 has-text-white has-text-weight-medium bo-cir">
                  Novo
                  <mat-icon>add</mat-icon>
                </button>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <button mat-flat-button class="button file is-info has-name pb-3">
                <label class="file-label">
                  <input class="file-input" multiple type="file" (change)="upload($event)">
                  <span class="file-cta">
                    <span class="file-icon">
                      <mat-icon>image</mat-icon>
                    </span>
                    <span class="file-label">
                      Enviar arte <span class="mr-1">  </span>
                    </span>
                    <span class="">
                      {{' '+ fileNames}}
                    </span>
                  </span>
                </label>
              </button>
            </div>
            <div class="column">
              <mat-checkbox
                class="mr-3"
                matNativeControl
                [(ngModel)]="arte_traseira"
                [checked]= "arte_traseira">
                Tem arte traseira
              </mat-checkbox>
            </div>
            <div class="column">
              <button
              *ngIf="arte_traseira"
               mat-flat-button
               class="button file is-info has-name pb-3">
                <label class="file-label">
                  <input class="file-input" multiple type="file" (change)="uploadSecundario($event)">
                  <span class="file-cta">
                    <span class="file-icon">
                      <mat-icon>image</mat-icon>
                    </span>
                    <span class="file-label">
                      Enviar arte secundaria <span class="mr-1">  </span>
                    </span>
                    <span class="file-name">
                      {{' '+ secondaryfileNames}}
                    </span>
                  </span>
                </label>
              </button>
            </div>
          </div>
          <div class="box columns"  *ngIf="this.Produto.Arte">
            <a>Como essa arte será usada no produto?</a>
            <div class="column">
              <mat-card>
                <mat-card-header>
                  <mat-card-subtitle>Frente</mat-card-subtitle>
                </mat-card-header>
                <figure class="image is-128x128">
                  <img mat-mat-card-image [src]="this.Produto.Arte" height="200">
                </figure>
                <mat-card-actions>
                  <a mat-icon-button (click)="Produto.Arte = null">
                    <mat-icon>clear</mat-icon>
                  </a>
                </mat-card-actions>
              </mat-card>
            </div>
            <div class="column">
              <mat-card *ngIf="Produto.ArteSecundaria">
                <mat-card-header>
                  <mat-card-subtitle>Secundaria</mat-card-subtitle>
                </mat-card-header>
                <figure class="image is-128x128">
                  <img mat-mat-card-image [src]="this.Produto.ArteSecundaria" height="200">
                </figure>
                <mat-card-actions>
                  <a mat-icon-button (click)="Produto.ArteSecundaria = null">
                    <mat-icon>clear</mat-icon>
                  </a>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>

          <mat-divider></mat-divider>
          <div class="descricao-produto w-full py-4">
            <p class="preto6">{{Produto?.DescricaoRapida || ''}}</p>
          </div>
          <mat-divider></mat-divider>
          <div class="w-full">

            <div class="w-full pt-3">

              <p><em>Tamanhos</em></p>
              <div class="pb-3 w-full flex-l">
                <div *ngIf="Produto?.Tamanhos" class="columns is-mobile">
                  <div *ngFor="let tamanho of Produto?.Tamanhos" class="column is-2">
                    <button mat-stroked-button class="descricao-produto card tamanho-produto"
                      [ngClass]="Produto?.Tamanho == tamanho?'active':''"
                      (click)="SelecionarTamanho(tamanho)">{{tamanho}}</button>
                  </div>
                </div>
              </div>
              <mat-divider></mat-divider>
              <div class="py-3">
                <div class="columns is-mobile">
                  <div class="column ">
                    <p><em>Cores</em></p>
                    <mat-form-field class="w-full" *ngIf="Produto?.Cores" appearance="fill">
                      <mat-label>Selecione uma cor</mat-label>
                      <mat-select matNativeControl [(ngModel)]="Produto.Cor" [value]="Produto?.Cor">
                        <mat-option *ngFor="let opt of Produto?.Cores" [value]="opt" class="w-full">
                          <div class="cor-produto card box w-full" [style.backgroundColor]="opt.cor"
                            (click)="Produto.Cor = opt">
                            <p>{{opt.nome}}</p>
                          </div>
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                </div>
              </div>
              <mat-divider></mat-divider>

            </div>

            <div class="">

              <mat-divider></mat-divider>
              <div class="columns w-full py-2 is-gapless is-multiline">
                <div class="column w-full is-6 is-12-mobile">
                  <button mat-raised-button (click)="EntrarEmContato()" routerLinkActive="router-link-active"
                    class="button mb-2 is-success w-full has-text-white has-text-weight-medium">
                    <span class="nunitoParagraphy16 has-text-white">Entrar em contato via whatsapp</span>
                  </button>
                </div>

                <div class="column">
                  <div class="colums">
                    <div class="column pt-0 mt-0">
                      <share-button class="mt-0" button="facebook" theme="modern-dark" [showText]="true"
                        [text]="'Compartilhar'">
                      </share-button>
                      <share-button class="mt-0" button="twitter" theme="modern-dark" [showText]="true" [text]="'Twittar'">
                      </share-button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <button (click)="Like()" mat-icon-button [ngClass]="loading ? 'button is-loading':''">
              <mat-icon [ngClass]="Liked? 'liked': ''" class="heartbutton color-light-red">
                {{Liked? 'favorite': 'favorite_border'}}</mat-icon>
              {{Produto?.Likes ? Produto?.Likes : 0}} coraç{{Produto?.Likes == 1 ? "ão" : "ões"}}
              {{Liked? '- Obrigado por nos apoiar ' : ''}}
            </button>

            <mat-divider></mat-divider>
            <div class="descricao-produto w-full py-4">
              <h2 class="preto6"><b>Especificações</b></h2>
              <div [innerHTML]="Produto?.Especificacoes || 'Sem especificações'"></div>
            </div>

          </div>
        </div>
      </div>

      <figure class="image is-64x64 img-orcamento" [ngClass]="isOrcamento ? 'active' : ''">
        <img src="{{Produto?.Imagem[0]}}" alt="">
      </figure>
    </div>

    <div class="w-full columns">

      <div class="descricao-produto column is-12 w-full"
        [innerHTML]="el.innerHTML || 'Este produto está sem uma descrição'"></div>
    </div>
  </div>
</div>

<div class="w-full flex-w flex-sa px-6 shadow-light ">
  <a [routerLink]="'/produtos'" class="has-text-grey-light">
    <button mat-icon-button>
      <mat-icon>chevron_left</mat-icon>
      <span>Produtos</span>
    </button>
  </a>
  <a [routerLink]="'/showcase'" class="has-text-grey-light">
    <button mat-icon-button>
      <mat-icon>collections</mat-icon>
      <!-- <span>Galeria</span> -->
    </button>
  </a>
</div>
