gallery{
  background-color:transparent !important;
}
:host ::ng-deep gallery-slider:hover{
  transition: 2s all ease-in-out;
  cursor: grab;
  transform:scale(1);
}
.heartbutton {
  font-size: larger;
  transition: .21s  all ease-in-out;
}
.heartbutton.liked{
  opacity: 1;
  color:red;
  font-size: xx-large;
  margin: 10px;
  cursor: default;
}
.control{
  border:1px solid #B6B9D0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 122.19%;
  padding:11px;
  height: 56px;
  border-radius: 4px;
}
.control input{
  border:none;
  border-color: transparent;
  overflow: visible;

  max-width: 75px;

  font-size: 20px;
}
.less:hover{
  color:rgb(230, 76, 45);
}
.more:hover{
  color:rgb(13, 199, 139);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.mat-icon{
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  width: 20px;
  color:rgb(182, 185, 208);
}
.mat-label{
  color:#312F4F;
}
@media (min-width: 1024px) {
  .section{
    min-height: 82vh;
  }
}
.heartbutton:hover {
  bottom: 1px;
}
.share-button{
  min-width: 221px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 122.19%;
  display: flex;
  padding:16px;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.04em;
  height: 56px;
}
.share-button-text{
  max-width: 188px;
  overflow-wrap: break-word;
}
.share-button-image{
  display: flex;
  flex-direction: column;
  margin: 0;
}
.titulo-produto{
  font-size: 26px;
  line-height: 47px;
  color: rgb(49, 47, 79);
  line-height: 130%;
  font-weight: 600;
}
.cor-produto{
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.descricao-produto{
  font-size: large;
  font-style: normal;
  font-weight: normal;
  line-height: 33px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}
.mh-70{
  min-height: 70%;
}
.img-orcamento{
  display: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.img-orcamento.active{
  display: block;
  position: absolute;
  z-index: 10;
  animation: flyToCart 2s ease-out forwards;
}

@keyframes flyToCart{
  0%{
    bottom: 0px;
    right: 35%;
  }
  95%{
    bottom: 100%;
    right: 5%;
    opacity: .7;
  }
  100%{
    bottom: 95%;
    right: 10%;
    // display: none;
    opacity: 0;
    pointer-events: none;
  }
}
