<div class="loading-bg">
  <div class="sk-chase pos-fixed flex-c a-i-c top-0 bottom-0 left-0 right-0 vh-full z-index-top">
    <div class="sk-chase-dot fas fa-paper-plane"></div>
    <div class="sk-chase-dot fas fa-paper-plane"></div>
    <div class="sk-chase-dot fas fa-paper-plane"></div>
    <div class="sk-chase-dot fas fa-paper-plane"></div>
    <div class="sk-chase-dot fas fa-paper-plane"></div>
    <div class="sk-chase-dot fas fa-paper-plane"></div>
    <p class="px-2" style="width: 100px;font-size: small;pointer-events: none;">{{Mensagem}}...
    </p>
  </div>
</div>
