<div class="pos-fixed flex-c a-i-c top-0 bottom-0 left-0 right-0 vh-full z-index-top">
  <div _ngcontent-ljj-c240="" class="sk-folding-cube shadow">
    <div _ngcontent-ljj-c240="" class="sk-cube1 sk-cube"></div>
    <div _ngcontent-ljj-c240="" class="sk-cube2 sk-cube"></div>
    <div _ngcontent-ljj-c240="" class="sk-cube4 sk-cube"></div>
    <div _ngcontent-ljj-c240="" class="sk-cube3 sk-cube"></div>
  </div>
  <p class="card px-2" style="width: 100px;font-size: small;background:#f0f0f0">{{Mensagem}}...
    <mat-progress-bar mode="query"></mat-progress-bar>
  </p>
</div>
