$canvas-height : 494px;
canvas {
  width: 100% !important;
}
.canvas-container {
  width: 100% !important;
}
.export-btn {
  background-color: #131313;
  color: white;
  padding: 0 24px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    background-color: #056ffa;
  }
}
.prod-img {
  position: static;
  height: 470px;
  width: 100%;
  width: -webkit-fill-available;
  margin-bottom: -500px;
  margin-top: 0;
}
.container-app {
  display: flex;
  justify-content: space-around;
}
.controls-container{

  height: 100%;
}
.controls {
  display: flex;
  flex-direction: column;
  // width: 80px;
  padding: 0;
  .button {
    height: 80px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    border: none;
    background-color: white;
    border-radius: 0px;
    cursor: pointer;
    user-select: none;
    overflow-wrap: anywhere;
    &:hover {
      color: white;
      background-color: #131313;
    }
  }
}
.header-control {
  display: flex;
  border-bottom: 3px solid #131313;
  padding-bottom: 16px;
  p {
    margin: 0 auto;
  }
  span {
    cursor: pointer;
  }
}
.item-panel {
  padding: 16px;
  max-width: 250px;
}
#general-controls {
  display: block;
  &.display {
    display: none;
  }
}
#color-controls {
  display: none;
  &.display {
    display: block;
  }
}
#color-list {
  display: flex;
  flex-wrap: wrap;
  .color-item {
    height: 32px;
    // width: 32px;
    margin: 8px;
    cursor: pointer;
    box-sizing: border-box;
    &.active {
      border: 3px solid #056ffa !important;
    }
    &#FFFFFF {
      border: 1px solid #131313;
    }
  }
}
.caption {
  font-size: 10px;
  text-align: center;
  color: #131313;
}
.color-select {
  height: 40px;
  // width: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  &:hover {
    background-color: #e2e2e2;
  }
  .color-item {
    margin: auto auto 2px auto;
    height: 16px;
    width: 16px;
  }
  .caption {
    margin: 0 auto auto auto;
  }
}
#text-controls-additional {
  border: 3px solid #131313;
  // display: flex;
  width: fit-content;
}
input[type='checkbox'] {
  display: none;
  &:checked {
    + .text-control {
      background-color: #131313;
      color: rgb(126, 114, 114);
    }
  }
}
.text-control {
  height: 40px;
  // width: 40px;
  text-align: center;
  line-height: 40px;
  display: block;
  cursor: pointer;
  &:hover {
    background-color: #e2e2e2;
  }
}
.item-panel {
  visibility: hidden;
  &.visible {
    visibility: visible;
  }
}
