<div class="container-app columns is-gapless  py-4 w-full mx-0">
  <div class="column is-9 is-10-mobile section border-light" data-aos="zoom-in">
    <figure data-aos="zoom-in">
      <img [src]="(Produto?.Imagem)[0]" class="prod-img" />
    </figure>
    <canvas id="c" height="400"></canvas>
  </div>
  <div class="column is-2 mh-full shadow-light">
    <div class="controls-container">
      <div
        data-aos="zoom-in"
        class="controls txt-center shadow-light pos-relative z-index-top"
      >
        <a id="add" class="button" (click)="addText()"><p>Inserir texto</p></a>
        <a class="button" (click)="importFile()"><p>Importar uma foto</p></a>
        <a class="button" (click)="addStockImg()"><p>Inserir um Design</p></a>
      </div>
      <div class="item-selected box w-full">
        <p>Escolher Fontes e Cores</p>
        <div id="i-text" class="item-panel">
          <div id="general-controls">
            <div id="text-controls-additional columns">
              <div
                id="color-select"
                (click)="clickColor()"
                class="color-select column"
              >
                <div id="color-selected" class="color-item"></div>
                <span class="caption">Cor</span>
              </div>
              <div class="column">
                <input type="checkbox" name="fonttype" id="text-cmd-bold" />
                <label class="text-control" for="text-cmd-bold">
                  <b>B</b>
                </label>
              </div>
              <div class="column">
                <input type="checkbox" name="fonttype" id="text-cmd-italic" />
                <label class="text-control" for="text-cmd-italic">
                  <i>I</i>
                </label>
              </div>
              <div class="column">
                <input
                  type="checkbox"
                  name="fonttype"
                  id="text-cmd-underline"
                />
                <label class="text-control" for="text-cmd-underline">
                  <span style="text-decoration: underline;">U</span>
                </label>
              </div>
            </div>
            <label for="fontFamily" style="display: inline-block;"
              >Familia da Fonte:</label
            >
            <select id="fontFamily">
              <option value="arial">Arial</option>
              <option value="helvetica" selected>Helvetica</option>
              <option value="comic sans ms">Comic Sans MS</option>
            </select>
          </div>
          <div id="color-controls">
            <div class="header-control">
              <span onclick="back()"></span>
              <p>Ecolha uma cor</p>
            </div>
            <div id="color-list"></div>
          </div>
          <span class="label is-small is-italic"
            >*desmarque o texto para aplicar</span
          >
        </div>
        <div id="image" class="item-panel">
          <label for="text-color">color:</label>
          <input
            type="color"
            value=""
            style="height: 30px;"
            id="fill-color"
            size="10"
          />
        </div>
      </div>
    </div>
  </div>
</div>
