<div class='mx-0 dis-flex flex-l'>
    <span class='fs-14'
    ><a class='reset-a' href='/'
    ><span class=''>personalizados.br</span></a
    ><i class='pi pi-angle-right'></i>
      <a
        class=''
        href='/produtos/?categoria={{ CategoriaAtiva?.Nome }}'
      ><span class='has-color-primary'>{{
        JoinCategoriasAtivas()
        }}</span></a
      >
    </span>

  </div>
  <personalizados-lopes-exibicao-quantidade-produtos-filtrados></personalizados-lopes-exibicao-quantidade-produtos-filtrados>
