<table mat-table [dataSource]="dataSource" class=" of-x-scroll table-striped  w-full">

  <ng-container matColumnDef="Produtos">
    <th @fadeIn mat-header-cell *matHeaderCellDef> Produtos </th>
    <td @fadeIn mat-cell *matCellDef="let element">
      <div @fadeIn class="columns is-multiline a-i-c mt-3">
        <div class="column flex-m">
          <figure class="image is-64x64"  (click)="AbrirModalArte(element)">
            <img src="{{element?.Produto.Imagem[0]}}">
          </figure>
          <div class="d-block button" (click)="AbrirModalArte(element)">

            <ng-container *ngIf="element?.Produto.Arte then arte else novaArte"></ng-container>
            <ng-template #arte>

              <figure class="image is-64x64 is-pri-image dis-flex flex-c-m">
                <mat-icon>image</mat-icon>
                <!-- <span class="pos-absolute bott0m-0">Ver arte</span> -->
              </figure>

              <figure *ngIf="element?.Produto.ArteSecundaria" class="image is-64x64 is-sec-image">
                <img src="{{element?.Produto.ArteSecundaria}}">
              </figure>
            </ng-template>
            <ng-template #novaArte>
              <div class="px-2 txt-center">
                <label class="file-label">
                  <div class="file-input" type="file" (click)="AbrirModalArte(element)"></div>
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="pi pi-cloud-upload"></i>
                    </span>
                  </span>
                </label>
              </div>
            </ng-template>
          </div>
          <div class="is-hidden-desktop ml-3">
            <a href="#topo" [routerLink]="['/produtos/'+element?.Produto._id+'/'+element?.codOrcamento]"
              routerLinkActive="router-link-active"
              class="title is-size-6 ">{{element?.Produto.Nome}}
              <p class="">{{element?.Produto.Cor?.nome}}</p>
              <ng-container *ngIf="element?.Produto?.Tamanho?.Nome && Produto?.FaixaTamanho?.Tamanhos">
                <p><span class=" is-size-7">{{Produto?.Tamanho?.Nome == null ? '' : Produto?.Tamanho?.Nome}} {{Produto?.FaixaTamanho?.Tamanho || ''}}</span></p>
              </ng-container>
            </a>

            <ng-container *ngIf="!element?.Produto?.Tamanho && Produto?.FaixaTamanho?.Tamanhos">
              <mat-form-field class=" " appearance="fill">
                <mat-label>Tamanho:</mat-label>
                <mat-select matNativeControl [(ngModel)]="element.Produto.Tamanho"
                  [value]="element.Produto.Tamanho">
                  <mat-option *ngFor="let opt of element.Produto.Tamanhos" [value]="opt" class="w-full">
                    <div class="" (click)="SetarTamanho(element, opt)">
                      <p>{{opt.Nome || opt}}</p>
                    </div>
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <personallizados-lopes-selecao-tamanho-produto-edicao [Produto]="element.Produto">
              </personallizados-lopes-selecao-tamanho-produto-edicao>
            </ng-container>
            <ng-container *ngIf="!element?.Produto?.Cor">
              <personalizados-lopes-cor-produto-selector [Produto]="element?.Produto" (onSetColor)="setColor($event,element)"></personalizados-lopes-cor-produto-selector>
            </ng-container>
            <div>
              <button *ngIf="edit" class="mt-3 clickable bo-0 hoverable" (click)="removerProduto(element)">
                <i class="pi pi-trash has-text-danger "></i> remover
              </button>
            </div>
          </div>
        </div>
        <div class="column is-hidden-touch">
          <a href="#topo" [routerLink]="['/produtos/'+element?.Produto._id+'/'+element?.codOrcamento]"
            routerLinkActive="router-link-active"
            class="title is-size-6 ">{{element?.Produto.Nome}}
            <p class="subtitle">{{element?.Produto.Cor?.Nome || element?.Produto.Cor?.nome}}</p>
            <ng-container *ngIf="element?.Produto?.Tamanho">
              <div
                *ngFor="let opt of Produto?.Tamanhos"
                [value]="opt"
                class="shadow-light button is-outlined is-primary"
                [ngClass]="{
                  'is-active is-hovered':
                    Produto.Tamanho?.Nome == opt?.Nome || Produto.Tamanho == opt
                }"
              >
                <div (click)="SetarTamanho(opt)">
                  <p>{{ opt.Nome || opt }}</p>
                </div>
                <div
                  *ngFor="let faixa of Produto?.Tamanho?.Tamanhos"
                  [value]="faixa"
                  class="shadow-light button"
                  [ngClass]="{ 'is-active': Produto.FaixaTamanho?.Tamanho == faixa }"
                  (click)="SetFaixaTamanho(faixa)"
                >
                  <div>
                    <p class="is-size-6">{{ faixa.Tamanho }}</p>
                  </div>
                </div>
              </div>
            </ng-container>
          </a>
          <ng-container *ngIf="!element?.Produto?.Tamanho">
            <personallizados-lopes-selecao-tamanho-produto-edicao [Produto]="element.Produto">
            </personallizados-lopes-selecao-tamanho-produto-edicao>
          </ng-container>
          <ng-container *ngIf="!element?.Produto?.Cor">
            <personalizados-lopes-cor-produto-selector [Produto]="element?.Produto" (onSetColor)="setColor($event,element)"></personalizados-lopes-cor-produto-selector>


          </ng-container>
          <button *ngIf="edit" class="mt-3 clickable hoverable" (click)="removerProduto(element)">
            <i class="pi pi-trash has-text-danger "></i> remover
          </button>
        </div>
      </div>
      <div class="columns is-mobile is-hidden-desktop mb-2">
        <div class="column is-9">
          <div class="control is-small">
            <button *ngIf="edit" mat-icon-button (click)="DecrescerQuantidade(element)">
              <mat-icon class="less">remove</mat-icon>
            </button>
            <input placeholder="{{element?.Produto.QuantidadeMinima}}"
              value="{{element?.Produto.QuantidadeMinima}}" type="number"
              (change)="VerificarQuantidade($event,element)"
              min="{{element?.Produto.QuantidadeMinima==0?1:element?.Produto.QuantidadeMinima}}"
              class="quantidade-produto is-rounded" [(ngModel)]="(element).Produto.Quantidade">
            <button *ngIf="edit" mat-icon-button (click)="IncrementarQuantidade(element)">
              <mat-icon class="more">add</mat-icon>
            </button>
          </div>
        </div>
        <div class="column">
          <span class="preco">R$ {{CalcularPreco(element)}}</span>
        </div>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="Quantidade" class="is-hidden-touch">
    <th mat-header-cell *matHeaderCellDef class="is-hidden-touch"> qtd </th>
    <td @fadeIn mat-cell *matCellDef="let element" class="is-hidden-touch">
      <div class="control is-small ">
        <button *ngIf="edit" mat-icon-button (click)="DecrescerQuantidade(element)">
          <mat-icon class="less">remove</mat-icon>
        </button>
        <input placeholder="{{element?.Produto.QuantidadeMinima}}" value="{{element?.Produto.QuantidadeMinima}}"
          type="number" (change)="VerificarQuantidade($event,element)"
          min="{{element?.Produto.QuantidadeMinima}}" class="quantidade-produto is-rounded"
          [(ngModel)]="(element).Produto.Quantidade">
        <button *ngIf="edit" mat-icon-button (click)="IncrementarQuantidade(element)">
          <mat-icon class="more">add</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="Subtotal" class="is-hidden-touch summary">
    <th mat-header-cell *matHeaderCellDef class="is-hidden-touch"> Subtotal</th>
    <td mat-cell *matCellDef="let element" class="is-hidden-touch">
      <span class="preco">R$ <span>{{CalcularPreco(element)}}</span></span>
    </td>
  </ng-container>

  <ng-container matColumnDef="Canvas" class="summary">
    <th mat-header-cell *matHeaderCellDef class=""> Design</th>
    <td mat-cell *matCellDef="let element" class="">
        <personalizados-lopes-exibicao-canvas-design-produto
        [Produto]='element?.Produto'
        ></personalizados-lopes-exibicao-canvas-design-produto>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="ProdutoTable.displayedColumns"></tr>
  <tr @slideInOut mat-row *matRowDef="let row; columns: ProdutoTable.displayedColumns;"></tr>
</table>
