<div matRipple (click)="ToggleNav(0)" class="nav-trigger is-hidden-desktop is-hidden-tablet" [ngClass]="NavState.open? 'is-active': ''"
  role="button" title="Menu">

  <div matRipple class="hamburger">
    <div class="icon"></div>
  </div>

</div>

<div class="wrapper" id="topo">

  <div id="nav-menu" [ngClass]="NavState.open? 'is-active': ''" class="">
    <personalizados-lopes-navbar [NavState]="NavState"></personalizados-lopes-navbar>
  </div>

  <!-- [@cardFlip]="prepareRoute(outlet)" -->
  <div

    [@routeAnimations]="prepareRoute(outlet)"
    [ngClass]="NavState.open? 'main is-active': ''"
    (mouseover)="CloseNav()">
    <personalizados-lopes-header></personalizados-lopes-header>
    <section class="split-home">
      <div class="main-content ">
        <!-- <article class="message is-warning py-0 my-0" @slideInOut *ngIf="Alerta">
          <div class="message-body py-4">
            <a href="javascript:void(0)" class="pos-absolute right-0 is-right mr-4" (click)="Alerta = null"><i class="has-text-danger is-right pi pi-times-circle"></i></a>
            <p class="subtitle is-size-7">{{Alerta}}</p>
          </div>
        </article> -->
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </section>
    <personalizados-lopes-icone-whatsapp [Whatsapp]="(InformacoesContato$|async)?.Whatsapp" [Mensagem]="Mensagem">
    </personalizados-lopes-icone-whatsapp>
    <personalizados-lopes-scroll-top></personalizados-lopes-scroll-top>
  </div>
  <personalizados-lopes-footer></personalizados-lopes-footer>
</div>
