<section class="section">
  <div class="dis-flex flex-m has-text-left">
    <a onclick="window.history.back()" class="preco dis-flex flex-m ">
      <mat-icon>keyboard_arrow_left</mat-icon>
       voltar
    </a>
  </div>
  <div class="af cs i2 i3 i4 flex-c flex-col-c-sa w-full flex-l m-lr-auto w-full">
    <div class="has-text-left  w-full">
      <h2 class="subtitle">Insira seus dados pessoais</h2>
      <span class="subtitle">Verifique os campos obrigatórios.</span>
    </div>

    <div class="pt-3">
      <form>
      </form>
    </div>
  </div>
</section>
