<section [@cardFlip]="state">
  <div class="af cs i2 i3 i4 w-full" *ngIf="(Orcamento$ |async)?.Produto.length > 0">
    <form [formGroup]="enderecoForm">
      <div class="has-text-left  w-full">
        <h2 class="subtitle">Dados da entrega</h2>
        <span class="subtitle has-text-weight-bold">Iremos preencher o máximo de informações através do seu CEP.</span>
      </div>

      <div class="pt-3">
          <mat-form-field class="block  control has-icons-right" appearance="fill">
            <mat-label>CEP</mat-label>
            <input matInput required (change)="CarregarDetalhesCEP()" [formControlName]="'cep'"
              placeholder="000000-000" mask="00000-000">
            <mat-error *ngIf="enderecoForm.get('cep').hasError('required')">
              Campo obrigatório
            </mat-error>
            <span class="icon is-right"
              *ngIf="enderecoForm.get('cep').touched&&enderecoForm.get('cep').hasError('required')">
              <mat-icon class="color-light-red">warning</mat-icon>
            </span>
          </mat-form-field>

          <mat-form-field class="block w-full control has-icons-right" appearance="fill">
            <mat-label>Endereço</mat-label>
            <input class="w-full input" matInput required [formControlName]="'rua'" placeholder="">
            <mat-error *ngIf="enderecoForm.get('rua').hasError('required')">
              Campo obrigatório
            </mat-error>
            <span class="icon is-right"
              *ngIf="enderecoForm.get('rua').touched&&enderecoForm.get('rua').hasError('required')">
              <mat-icon class="color-light-red">warning</mat-icon>
            </span>
          </mat-form-field>

          <div class="columns is-multiline">
            <div class="column is-12-touch">
              <mat-form-field class="w-full control has-icons-right" appearance="fill">
                <mat-label>Número</mat-label>
                <textarea class="control has-icons-right  input" matInput required
                  [formControlName]="'numero'"></textarea>
                <mat-error *ngIf="enderecoForm.get('numero').hasError('required')">
                  Campo obrigatório
                </mat-error>
                <span class="icon is-right"
                  *ngIf="enderecoForm.get('numero').touched&&enderecoForm.get('numero').hasError('required')">
                  <mat-icon class="color-light-red">warning</mat-icon>
                </span>
              </mat-form-field>
            </div>
            <div class="column is-12-touch">
              <mat-form-field class="w-full control has-icons-right" appearance="fill">
                <mat-label>Complemento</mat-label>
                <textarea class="control has-icons-right  input" matInput
                  [formGroupName]="'complemento'"></textarea>
              </mat-form-field>
            </div>
          </div>

          <div class="columns is-multiline">
            <div class="column is-12-touch">
              <mat-form-field class="w-full control has-icons-right" appearance="fill">
                <mat-label>Bairro</mat-label>
                <textarea class="control has-icons-right  input" matInput required
                  [formControlName]="'bairro'"></textarea>
                <mat-error *ngIf="enderecoForm.get('bairro').hasError('required')">
                  Campo obrigatório
                </mat-error>
                <span class="icon is-right" *ngIf="enderecoForm.get('bairro').hasError('required')">
                  <mat-icon class="color-light-red">warning</mat-icon>
                </span>
              </mat-form-field>
            </div>
            <div class="column is-12-touch">
              <mat-form-field class="w-full control has-icons-right" appearance="fill">
                <mat-label>Cidade</mat-label>
                <textarea class="control has-icons-right  input" matInput required
                  [formControlName]="'cidade'"></textarea>
                <mat-error *ngIf="enderecoForm.get('cidade').hasError('required')">
                  Campo obrigatório
                </mat-error>
                <span class="icon is-right" *ngIf="enderecoForm.get('cidade').hasError('required')">
                  <mat-icon class="color-light-red">warning</mat-icon>
                </span>
              </mat-form-field>
            </div>
          </div>

          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Estado</mat-label>
            <mat-select matNativeControl class="w-full" [formControlName]="'estado'">
              <mat-option *ngFor="let opt of estados" [value]="opt.sigla">
                {{opt.nome}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="enderecoForm.get('estado').hasError('required')">
              Campo obrigatório
            </mat-error>
            <span class="icon is-right" *ngIf="enderecoForm.get('estado').hasError('required')">
              <mat-icon class="color-light-red">warning</mat-icon>
            </span>
          </mat-form-field>

          <div class="notification is-danger" *ngIf="ErroCadastro">
            <button class="delete" (click)="ErroCadastro = false"></button>
            Desculpe, não foi possível enviar o seu pedido. Por favor, verifique os campos obrigatórios.
          </div>

        <button *ngIf="!_init_point" class="button is-primary w-full is-uppercase" [disabled]="!checkoutService.getValid()" (click)="goCheckout()">Continuar para pagamento</button>
        <div *ngIf="Loading" class="w-full">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <p *ngIf="!user" class="subtitle is-size-7 my-3">*Você não está logado. Ao clicar em Finalizar, um
          perfil
          temporário será criado para que você possa acompanhar o seu pedido. Verifique o e-mail inserido em
          'dados do comprador' para mais informações.</p>
      </div>
    </form>
  </div>
</section>
