@import '../../../../variables';
.share-button{
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  font-family: 'Helvetica';

  font-style: normal;
  font-weight: 500;
  line-height: 122.19%;
  display: flex;
  padding:16px;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.04em;
  height: 56px;
  // background: #4d69b1;
  transition: all .2s ease;
  &:hover{
    opacity: .5;
  }
}

.img-produto{
  &::before{
    content: "SUA ARTE AQUI";
    margin: 0 auto;
    top: 40%;
    left: 28%;
    position: absolute;
    padding: 1rem;
    font-family: $default_font;
    color: white;
    box-shadow: 0px 0px 2px #acacac9e;
    font-size: medium;
    z-index: 1;
    background: #fc7f7f;
  }
}

.close.mat-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
}

.mat-dialog-content{
  max-height: 58vh;
}
