<h1 mat-dialog-title class="is-uppercase txt-center w-full" style="border-bottom: 4px solid #f0f0f0;">Escolha de estampa</h1>
<div mat-dialog-content class="margin w-half">
  <a mat-button color="basic" class="close bo-0" [mat-dialog-close]="" cdkFocusInitial>
    <mat-icon>close</mat-icon>
  </a>

  <div class="">
    <h4 class="has-text-danger py-3">Atenção às regras de personalização!</h4>

    <div class="columns is-vcentered">
      <div class="column" *ngFor="let rule of rules">
        <app-card class="button is-danger" style="min-height: 200px;">
          <p class="fw-500">{{rule}}</p>
        </app-card>
      </div>
    </div>
  </div>

  <div class="columns is-multiline is-vcentered">
    <div class="column is-12">
      <!-- <ng-container *ngIf="Produto?.Arte then arte else novaArte"></ng-container>
      <ng-template #arte>
        <mat-card>
          <mat-card-header>
            <mat-card-subtitle>Arte Primaria</mat-card-subtitle>
          </mat-card-header>
          <figure class="image is-128x128">
            <img mat-mat-card-image [src]="this.Produto?.Arte" height="200">
          </figure>
          <mat-card-actions>
            <a mat-icon-button (click)="Produto.Arte = null">
              <mat-icon>clear</mat-icon>
            </a>
          </mat-card-actions>
        </mat-card>
      </ng-template> -->
      <ng-container #novaArte>
        <div class="px-2 txt-center" *ngIf="Produto?.Arte">

          <div class="column px-2">
            <button @fadeIn *ngIf="!Produto.ArteSecundaria" mat-flat-button
              class="button file has-name pb-3" title="Enviar arte para usar no produto">
              <label class="file-label">
                <input class="file-input" multiple type="file" (change)="uploadSecundario($event)">
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="pi pi-cloud-upload"></i>
                  </span>
                  <span class="file-label">
                    Enviar arte secundaria <span class="mr-1"> </span>
                  </span>
                  <span class="file-name">
                    {{' '+ secondaryfileNames}}
                  </span>
                </span>
              </label>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
    <div @fadeIn *ngIf="Produto?.ArteSecundaria" class="column is-3">
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>Arte Secundaria</mat-card-subtitle>
        </mat-card-header>
        <figure class="image is-128x128">
          <img mat-mat-card-image [src]="this.Produto?.ArteSecundaria" height="200">
        </figure>
        <mat-card-actions>
          <a mat-icon-button (click)="Produto.ArteSecundaria = null">
            <mat-icon>clear</mat-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

    <div class="column is-12">
      <personalizados-lopes-costumization #customization (DesignSaved)="attCanvas($event)" [Produto]="Produto"></personalizados-lopes-costumization>
    </div>

</div>

<div>
  <button mat-raised-button color=""
    [mat-dialog-close]="Produto"
    class="button is-medium is-rounded w-full"
    #toCheckout
    [disabled]="!Produto.Canvas"
    [ngClass]="{'wp-btn is-success':!toCheckout.disabled}">
    {{!Produto.Canvas?"Adicione uma arte":"Salvar"}}
  </button>
  <button mat-raised-button color=""
    [mat-dialog-close]="null"
    class="button is-small is-rounded w-full"
  >Voltar
</button>

</div>
