<div class="columns mt-4 mb-6">
  <div class="column">
    <div class="columns is-vcentered">
      <div class="column-is-10" data-aos="zoom-up">
        <h1 class="title">Dados de contato</h1>
        <personalizados-lopes-formulario
          [compact]="true"
          [Orcamento]="Orcamento"
        ></personalizados-lopes-formulario>
        <button
          mat-flat-button
          (click)="EnviarOrcamento()"
          class="w-full wp-btn has-text-white submit"
        >
          Enviar
        </button>
      </div>
    </div>
  </div>
  <div class="column bg-contato" data-aos="zoom-up">
    <h1 class="title">Resumo do orçamento</h1>
    <personalizados-lopes-tabela-produtos></personalizados-lopes-tabela-produtos>
  </div>
</div>
