@import './../../../../variables';

.mat-card{
  padding:2rem;
  min-height:40vh;
}

.box {
  border-radius: 0;
  height: 100%;
}
  ::ng-deep .mat-card-header-text{
    margin: 0 !important;
  }
section{
  display: block;
  position: relative;
}
.columns{
  overflow-x: hidden;
  max-width: 103%;
}
.mute-btn{
  position: absolute;
  bottom: 17px;
  right: 90px;
  margin: 1rem;
}
