<section  id="Sobre" class="mt-3">
  <figure class="image is-square is-hidden-desktop pos-sticky top-0">
    <img class="imagem-empresa"  [src]='url'>
  </figure>
  <div class="columns is-vcentered py-0 my-0">
      <div class="column card py-0 px-0 is-hidden-mobile">
        <figure class="image is-square">
          <img class="imagem-empresa"  [src]='url'>
        </figure>
      </div>
      <div data-aos="slide-right" class="column py-0 px-0 card">
        <mat-card data-aos-offset="200" class="w-full box is-pulled-right empresa-card">
          <mat-card-header class="py-1 mx-0">
            <mat-card-title>
              <p class="header is-uppercase">Nossa História</p>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div class="txt-justify card-text" [innerHTML]="(Sobre$ | async)?.Historia"></div>
          </mat-card-content>
        </mat-card>
      </div>
  </div>
  <div class="columns is-vcentered mt-0 py-0 px-0">

      <div data-aos="slide-right"  class="column py-0 px-0">
        <div class="w-full">
          <figure class="image ">
            <video #video [muted]="true" onloadstart="this.volume=0.03" autoplay loop class="w-full" >
              <source src="assets/videos/longdrink.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </figure>
        </div>
        <button class="mute-btn" mat-icon-button (click)="video.muted = !video.muted"><mat-icon>{{video.muted? 'volume_up': 'volume_off'}}</mat-icon></button>
      </div>
      <div class="column card py-0 px-0 card">
        <mat-card data-aos-offset="200" class="w-full box is-pulled-left empresa-card">
          <mat-card-header class="py-1 mx-0">
            <mat-card-title>
              <p class="header is-uppercase">Nossos Produtos</p>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="txt-justify card-text" [innerHTML]="(Sobre$ | async)?.Fabricacao"></div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

</section>
