<section [@cardFlip]="state" id="Sobre" class="mt-3">

  <div class="columns mb-0 px-0">
      <div class="column card py-0 px-0 is-hidden-mobile">
        <div class="imagem-empresa"  [style.background]="'url(assets/images/empresa/caneca_files/1.jpg)'"></div>
      </div>
      <div data-aos="slide-right" class="column py-0 px-0 card">
        <mat-card data-aos-offset="200" class="w-full box is-pulled-right empresa-card">
          <mat-card-header class="py-1 mx-0">
            <mat-card-title>
              <p class="header is-uppercase">Nossa História</p>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <p class="txt-justify card-text" [innerHTML]="(Sobre$ | async)?.Historia"></p>
          </mat-card-content>
        </mat-card>
      </div>
  </div>
  <div class="columns mt-0 py-0 px-0">
      <div class="column card py-0 px-0 card">
        <mat-card data-aos-offset="200" class="w-full box is-pulled-left empresa-card">
          <mat-card-header class="py-1 mx-0">
            <mat-card-title>
              <p class="header is-uppercase">Nossos Produtos</p>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <p class="txt-justify card-text" [innerHTML]="(Sobre$ | async)?.Fabricacao"></p>
          </mat-card-content>
        </mat-card>
      </div>
      <div data-aos="slide-right"  class="column py-0 px-0">
        <div class="w-full">
          <video #video [muted]="true" onloadstart="this.volume=0.03" autoplay loop class="w-full" >
            <source src="assets/videos/longdrink.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
      <button class="mute-btn" mat-icon-button (click)="video.muted = !video.muted"><mat-icon>{{video.muted? 'volume_up': 'volume_off'}}</mat-icon></button>
  </div>

</section>
