@import './../../../../variables';
#Sobre{
  background-image: url(/assets/images/empresa/empresa.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.mat-card{
  padding:2rem;
  // min-height: 90vh;
}
.box {
  border-radius: 0;
  height: 100%;
}
::ng-deep .mat-card-header-text{
  margin: 0 !important;
}
section{
  display: block;
  position: relative;
}
.columns{
  overflow-x: hidden;
  max-width: 103%;
}
.mute-btn{
  position: absolute;
  bottom: 17px;
  right: 90px;
  margin: 1rem;
}
