<section  id="Sobre" class="has-background-white-bis">
  <!-- <figure class="image is-square is-hidden-desktop pos-sticky top-0">
    <img class="imagem-empresa"  [src]='url'>
  </figure> -->
  <div data-aos="slide-right" data-aos-offset="200" class="columns py-0 my-0">
      <div class="column  py-0 px-0">

      </div>
      <div  class="column py-0 px-0 card">
        <mat-card  class="w-full box is-pulled-right empresa-card">
          <mat-card-header class="py-1 mx-0">
            <mat-card-title>
              <p class="header is-uppercase">Nossa História</p>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div class="txt-justify card-text" [innerHTML]="(Sobre$ | async)?.Historia"></div>
          </mat-card-content>
        </mat-card>
      </div>
  </div>
  <div  data-aos="slide-right" data-aos-offset="200"  class="columns mt-0 py-0 px-0">

    <div class="column card py-0 px-0 card">
      <mat-card class="w-full box is-pulled-left empresa-card">
        <mat-card-header class="py-1 mx-0">
          <mat-card-title>
            <p class="header is-uppercase">Nossos Produtos</p>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="txt-justify card-text" [innerHTML]="(Sobre$ | async)?.Fabricacao"></div>
        </mat-card-content>
      </mat-card>
    </div>
    <div data-aos="slide-right"  class="column py-0 px-0">
      <div class="w-full">

      </div>

    </div>

    </div>

</section>
