gallery {
  background-color: #f5f5f573  !important;
  height: 451px;
}
// :host ::ng-deep #lightbox-lightbox > gallery {
//   background-color: #000000bf !important;
// }
// #lightbox-lightbox > gallery {
//   background-color: #000000bf !important;
// }

:host ::ng-deep gallery-slider:hover {
  transition: 2s all ease-in-out;
  cursor: grab;
  transform: scale(1);
}
