<div
  matRipple
  (click)="ToggleNav(0)"
  class="nav-trigger z-index-top is-hidden-desktop"
  [ngClass]="NavState.open ? 'is-active' : ''"
  role="button"
  title="Menu"
>
  <div matRipple class="hamburger">
    <div class="icon"></div>
    <!-- <span class="p-l-35 is-hidden-touch">Menu</span> -->
  </div>
</div>

<div class="wrapper" id="topo">
  <div class="has-background-dark">
    <div id="nav-menu" [ngClass]="NavState.open ? 'is-active' : ''" class="">
      <personalizados-lopes-navbar
        [NavState]="NavState"
      ></personalizados-lopes-navbar>
    </div>
  </div>

  <!-- [@cardFlip]="prepareRoute(outlet)" -->
  <div
    [@routeAnimations]="prepareRoute(outlet)"
    [ngClass]="NavState.open ? 'main is-active' : ''"
    (mouseover)="CloseNav()"
  >
    <section class="split-home has-background-main">
      <personalizados-lopes-header *ngIf="showHeader()"></personalizados-lopes-header>
      <main class="main-content has-background-main">
        <router-outlet #outlet="outlet"></router-outlet>
      </main>
    </section>
    <personalizados-lopes-footer *ngIf="showHeader()"></personalizados-lopes-footer>
    <personalizados-lopes-icone-whatsapp *ngIf="showHeader()"
      [Whatsapp]="(InformacoesContato$ | async)?.Whatsapp"
      [Mensagem]="Mensagem"
    >
    </personalizados-lopes-icone-whatsapp>
    <personalizados-lopes-scroll-top *ngIf="showHeader()"></personalizados-lopes-scroll-top>
  </div>
</div>
