<a [routerLink]="['/blog/'+ Post.Titulo]" href="#topo" pageScroll>
  <mat-card *ngIf="CanView" class=" latest-blog">
    <a [routerLink]="['/blog/'+ Post.Titulo]" href="#topo" pageScroll>
      <figure class="image is-rounded">
        <img loading="lazy" mat-card-image [src]="Post?.FotoCapa" alt="blogpostimage">
      </figure>
    </a>
    <div class="post-views">
      <i class="pi pi-eye"></i>
      {{this.Post.Visualizacoes}}
    </div>

    <mat-card-title>
      <h5 class="txt-center my-3 is-uppercase ">
        {{Post.Titulo}}
      </h5>
      <div class="columns is-vcentered is-gapless is-mobile">
        <!-- <div class="column">
          <p class="title">
            <span class="pi pi-calendar-plus"></span>
            <span> {{Post.DataHoraAlteracao||Post.DataHoraCriacao}}</span>
          </p>
        </div> -->
        <div class="column">
          <p>

            <span> <mat-icon>person</mat-icon>{{Post?.Autor?.Nome}}</span>
          </p>
        </div>
      </div>
      <!-- <div class="my-3">
        <star-rating [rating]="meanRating()" [hoverEnabled]="true" [readOnly]="true" [showHalfStars]="true" [step]="0.5"
          staticColor="default" [starType]="'svg'"></star-rating>
      </div> -->
    </mat-card-title>

    <mat-card-content>
      <div class="is-size-7	" [innerHTML]="Post?.Conteudo?.substr(0,140)+Link"> </div>

      <div class="blog-post-box card-body pt-4 txt-center" *ngIf="Post.Comentarios">
        <div class="dis-flex flex-w">
          <span class="">
            <span class="pi pi-comment"></span>
            {{Post.Comentarios.length}} Comentarios
          </span>
        </div>
      </div>
    </mat-card-content>


  </mat-card>
</a>
