
.post-views{
  position: absolute;
  top: 30px;
  right: 0;
  background: #000;
  color: #fff;
  padding: 5px 10px;
}
.card.latest-blog {
	-webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        box-shadow: none ;
}
.mat-card{
  animation: bounce 1s ease forwards;
  background:#ffffff;
  // border-radius:1rem;
  border-bottom-right-radius:2rem;
}
.mat-card-image{
  margin:0;
  margin-top: -16px;
}

.image{
  -webkit-box-align: center;
    align-items: center;
    border-radius: 8px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
img{
  border-radius: 8px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.mat-card{
  min-height: 250px;
  align-items: center;
  border: 1px solid #e7e7e7;
  padding: 1rem !important;
  margin: 0 !important;
  &:hover{
    box-shadow: rgba(105, 109, 140, 0.4) 0px 0px 16.8766px !important;
    background:rgb(229, 229, 229) none repeat scroll 0% 0%;
    border: 1px solid rgb(215, 215, 215);
    &button{
      display: block;
    }
  }
}
.mat-card-image,img{
  padding:0 !important;
  margin:0 !important;
  background: rgb(255, 255, 255);
  position: relative;
  border-radius: 0;
  transition: 1s all;
  display: flex;
  filter: grayscale(0) !important;
}

.mat-card-footer{
  padding: 0;
  margin:0;
}

.mat-card-image{
  margin: 0;
  padding:2px;
  height: 240px;
  width: 322px;
}
.zoom{
  filter: opacity(1);
  transition: .1s all ease-in-out;
  &:hover{
    opacity: 1;
    filter: opacity(1);
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    z-index: 2;
  }
}
.image.is-square, .image.is-1by1 {
  padding-top: 73%;

}

		@media screen and (min-width:992px) and (max-width: 1022px) {

			.blog-post-content {
				float: left !important;
				width: 100% !important;
				padding: 20px !important;
			}
		}

		.latest-blog a {
			display:inherit;
		}

		.latest-blog a h4 {
			float:left;
			width:100%;
			font-size:22px;
			font-weight:600;
			color:#516074;
			text-align:left;
			padding:20px 0 5px 0;
			margin:0;
		}

		.latest-blog span {
			float:left;
			width:100%;
			font-size:12px;
			font-weight:600;
			color:#516074;
			text-align:left;
			padding:0 0 5px 0;
			margin:0;
		}

		.blog-post-box p {
      float: left;
      font-size: 15px;
      font-weight: normal;
      color: #708198;
      text-align: left;
      margin: 0;
      line-height: 1.8;
		}

	.latest-blog .blog-post-box{
		transition:5s;
	}
		#blog-posts-container {
			display: flex;
            flex-direction: row;
            justify-content: center;
		}
		.latest-blog .blog-more-button {
          font-weight: 700;
          color: #FFFFFF;
          display: block;
          padding: 12px;
          background: #81D37E;
          background: rgba(70,200,251,1);
          background: -moz-linear-gradient(-45deg, rgba(50,187,241,1) 0%, rgba(166,73,233,1) 68%, rgba(166,73,233,1) 100%);
          background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(50,187,241,1)), color-stop(68%, rgba(166,73,233,1)), color-stop(100%, rgba(166,73,233,1)));
          background: -webkit-linear-gradient(-45deg, rgba(70,200,251,1) 0%, rgba(129,211,126,1) 68%, rgba(129,211,126,1) 100%);
          background: -o-linear-gradient(-45deg, rgba(70,200,251,1) 0%, rgba(129,211,126,1) 68%, rgba(129,211,126,1) 100%);
          background: -ms-linear-gradient(-45deg, rgba(50,187,241,1) 0%, rgba(166,73,233,1) 68%, rgba(166,73,128,1) 100%);

          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32bbf1', endColorstr='#a649e9', GradientType=1);
    	}
		@media screen and (max-width: 565px){
            #blog-posts-container {
              display: initial;
            }
        }
