.card{
  max-height: 500px;
}
.card.latest-blog {
	-webkit-transform: translateY(-20px);
				transform: translateY(-20px);
}
.mat-card{
  padding: 0;
  animation: bounce 1s ease forwards;

}
.image.is-square, .image.is-1by1 {
  padding-top: 73%;

}
.mat-card-image,img{
  padding:0 !important;
  margin:0 !important;
  background: rgb(255, 255, 255);
  position: relative;
  border-radius: 0;
  transition: 1s all;
  display: flex;
  filter: grayscale(0) !important;
  &.show{
    animation: show 1s ease forwards !important;
  }
  &.hide{
    animation: hide 1s ease forwards !important;
  }
}
		.latest-blog .blog-post-box {
			float:left;
			width:100%;
			border-radius:4px;
			background:#FFFFFF;
			position:relative;
      padding: 6px 6px 0px 6px;
      margin: 2px 2px 0px 2px;

			-webkit-box-shadow: 0px 0px 22px -7px rgba(24,30,110,0.26);
			-moz-box-shadow: 0px 0px 22px -7px rgba(24,30,110,0.26);
			box-shadow: 0px 0px 22px -7px rgba(24,30,110,0.26);
		}

		.blog-post-content {
			width:100%;
		}


		.latest-blog figure {
			width:100%;
		}

		.latest-blog figure img {
			text-align: center;
			width: 100%;
			border-radius:10px 10px 0 0;
		}

		@media screen and (min-width:992px) and (max-width: 1022px) {

			.blog-post-content {
				float: left !important;
				width: 100% !important;
				padding: 20px !important;
			}
		}

		.latest-blog ul {
			float:left;
			text-align:left;
			width:100%;
			padding:0px;
			margin:0;
		}

		.latest-blog ul li {
			float:left;
			text-align:left;
			padding:0 15px 0 0;
			margin:0;
			list-style:none;
			font-size:13px;
			color:#a0aec0;
		}

		.latest-blog a {
			display:inherit;
		}

		.latest-blog a h4 {
			float:left;
			width:100%;
			font-size:22px;
			font-weight:600;
			color:#516074;
			text-align:left;
			padding:20px 0 5px 0;
			margin:0;
		}

		.latest-blog span {
			float:left;
			width:100%;
			font-size:12px;
			font-weight:600;
			color:#516074;
			text-align:left;
			padding:0 0 5px 0;
			margin:0;
		}

		.blog-post-box p {
      float: left;
      font-size: 15px;
      font-weight: normal;
      color: #708198;
      text-align: left;
      margin: 0;
      line-height: 1.8;
		}

		@keyframes bounce {
			/* ------------------------ blog hover animation */
			0%, 20%, 60%, 100% {
				-webkit-transform: translateY(0);
				transform: translateY(0);
			}

			40% {
				-webkit-transform: translateY(-20px);
				transform: translateY(-20px);
			}

			100% {
				-webkit-transform: translateY(-10px);
				transform: translateY(-10px);
			}
		}
	.latest-blog .blog-post-box{
		transition:5s;
	}
		.img:hover {
			animation: bounce 1s;
      transform: translateY(-10px);
		}

		#blog-posts-container {
			display: flex;
            flex-direction: row;
            justify-content: center;
		}
		.latest-blog .blog-more-button {
          font-weight: 700;
          color: #FFFFFF;
          display: block;
          text-transform: uppercase;
          text-align: center;
          letter-spacing: 1px;
          height: 51px;
          padding: 12px;
          vertical-align: middle;
          margin: 0px 0px 20px 0px;;
          line-height: 1.8;
          border-radius: 16px;
          background: #81D37E;
          background: rgba(70,200,251,1);
          background: -moz-linear-gradient(-45deg, rgba(50,187,241,1) 0%, rgba(166,73,233,1) 68%, rgba(166,73,233,1) 100%);
          background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(50,187,241,1)), color-stop(68%, rgba(166,73,233,1)), color-stop(100%, rgba(166,73,233,1)));
          background: -webkit-linear-gradient(-45deg, rgba(70,200,251,1) 0%, rgba(129,211,126,1) 68%, rgba(129,211,126,1) 100%);
          background: -o-linear-gradient(-45deg, rgba(70,200,251,1) 0%, rgba(129,211,126,1) 68%, rgba(129,211,126,1) 100%);
          background: -ms-linear-gradient(-45deg, rgba(50,187,241,1) 0%, rgba(166,73,233,1) 68%, rgba(166,73,128,1) 100%);
          background: #2a5b92;
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32bbf1', endColorstr='#a649e9', GradientType=1);
    	}
		@media screen and (max-width: 565px){
            #blog-posts-container {
              display: initial;
            }
        }
