<mat-accordion class="px-0">
  <mat-expansion-panel [expanded]="true" class="pl-0 of-x-scroll">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Marcas
      </mat-panel-title>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item  *ngFor="let fornecedor of FornecedoresProdutos">
          <a
            (click)="FornecedorProduto = fornecedor"
            title="{{ fornecedor.Nome }}"
            class="w-full"
          >{{ fornecedor.Nome }}
          </a>
      </mat-list-item>
    </mat-list>
    <a
      (click)="FornecedorProduto = null"
      class="w-full is-size-7"
    >Remover filtro de marca
    </a>

  </mat-expansion-panel>
</mat-accordion>
