<mat-accordion class="px-0">
  <mat-expansion-panel [expanded]="true" class="pl-0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Marcas
      </mat-panel-title>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>
    <a
      *ngFor="let fornecedor of FornecedoresProdutos"
      (click)="FornecedorProduto = fornecedor"
      title="{{ fornecedor.Nome }}"
      class="w-full button"
    >{{ fornecedor.Nome }}
    </a>
    <a
      (click)="FornecedorProduto = null"
      class="w-full button is-size-7"
    >Remover filtro de marca
    </a>

  </mat-expansion-panel>
</mat-accordion>
