<mat-accordion class="px-0">
  <mat-expansion-panel [expanded]="true" class="pl-0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Marcas
      </mat-panel-title>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list class="">
      <mat-list-item
        class="hoverable column"
        *ngFor="let fornecedor of FornecedoresProdutos"
        (click)="FornecedorProduto = fornecedor"
      >
        <button
          title="{{ fornecedor.Nome }}"
          class=""
          [ngClass]="{
            ' is-focused selected': fornecedor.Nome == fornecedor.Nome
          }"
        >
          {{ fornecedor.Nome }}
        </button>
        <div class="" (click)="FornecedorProduto = null">
          <buton class=""
          >
             remover
          </buton>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
