<section class="section px-6">
  <div class="columns px-6">
    <div class="column">
      <div class="flex-w flex-sb w-full">
        <h1>Meu Cadastro</h1>
      </div>
      <mat-form-field appearance="fill" class="w-full">
        <input
          matInput
          type="text"
          [(ngModel)]="user.Nome"
          placeholder="Nome"
          title="Nome">
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-full">
        <input
          matInput
          type="text"
          [value]="user.Email"
          disabled
          placeholder="Email"
          title="Email">
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-full">
        <input
          matInput
          mask="(00) 0000-0000||(00) 0 0000-0000"
          type="text"
          [(ngModel)]="user.Telefone"
          placeholder="Telefone"
          title="Telefone">
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-full">
        <input
          matInput
          mask="000.000.000-00"
          type="text"
          readonly
          [(ngModel)]="user.CPF"
          placeholder="CPF"
          title="CPF">
      </mat-form-field>
      <button
      (click)="TrocarSenha()"
      mat-raised-button
      class="background-light-blue has-text-light my-3">Trocar senha</button>
      <button
      (click)="AtualizarInformacoes()"
      mat-raised-button
      class="background-light-blue has-text-light w-full">ATUALIZAR</button>
    </div>
    <div class="column">
      <h1>Endereço de entrega</h1>
      <mat-card *ngIf="user?.EnderecoEntrega" class="has-background-light">
        <div class="box border">
          <p>{{user?.Nome}}</p>
          <p>CEP: {{user?.EnderecoEntrega?.CEP}}</p>
          <p>{{user?.EnderecoEntrega?.Rua}}, {{user?.EnderecoEntrega?.Numero}}</p>
          <p>- {{user?.EnderecoEntrega?.Bairro}}</p>
          <p>{{user?.EnderecoEntrega?.Cidade}} - {{user?.EnderecoEntrega?.Estado}}</p>
        </div>
        <mat-card-actions></mat-card-actions>
      </mat-card>
      <div *ngIf="user.EnderecosEntrega">
        <mat-card *ngFor="let endereco of user?.EnderecosEntrega; let idx = index">
          <div class="box border" *ngIf="endereco">
            <p>{{user?.Nome}}</p>
            <p>CEP: {{endereco?.CEP}}</p>
            <p>{{endereco?.Rua}}, {{endereco?.Numero}}</p>
            <p>- {{endereco.Bairro}}</p>
            <p>{{endereco?.Cidade}} - {{endereco?.Estado}}</p>
            <mat-card-actions>
              <div class="dis-flex flex-w flex-sb w-full">
                <button class="mx-0 my-3" (click)="SetarEndereco(idx)" mat-raised-button>
                  Escolher
                </button>
                <button class="mx-0 my-3" color="accent" (click)="RemoverEndereco(idx)" mat-raised-button>
                  Deletar
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </mat-card-actions>
          </div>
        </mat-card>
      </div>
      <button
        (click)="NovoEndereco()"
        mat-raised-button
        class="background-light-blue has-text-light w-full">NOVO ENDEREÇO</button>
    </div>
  </div>
</section>
