
:host ::ng-deep .cookie-law-wrapper{
  // background:rgb(255, 255, 255);
  padding-top:0;
  padding-bottom:0;
  box-shadow:rgba(172, 171, 171, 0.3) 0px -1px 10px 0px;
  background:white;
  border-radius: 45px;
  width: 100%;
  margin: 20px auto;
}

:host ::ng-deep .cookie-law-wrapper .copy span:nth-child(1){
  font-size: 14px;
  color:black;
}

:host ::ng-deep .cookie-law-wrapper .copy span button span{
  font-size: 14px;
  color:white !important;
}
