<ng-container [ngSwitch]="DeployState">
  <personalizados-lopes-content-layout *ngSwitchCase="AppDeploymentState.Deployed"></personalizados-lopes-content-layout>

  <cookie-law *ngIf="!dismissed"
    #cookieLaw position="bottom"
    name="ng4topCookieLaw" expiration="1"
    class=" dis-flex flex-sa has-text-centered z-index-top shadow-light w-full">
  <div class="columns is-vcentered w-full">
    <div class="column is-6">
      <h2 class="subtitle">Para melhorar a sua experiência neste site, salvamos alguns dados por meio de cookies.
      </h2>
    </div>
    <button
      class="w-full is-rounded dis-flex flex-w flex-m"
      title="Ok"
      matBadgeColor="accent"
      (click)="dismissCookieLaw()"
      mat-raised-button
    >
      <p>
        <mat-icon class="heartbutton color-light-red">
          done
        </mat-icon>
        Prosseguir
      </p>
    </button>
  </div>
</cookie-law>
</ng-container>
<!-- <personalizados-lopes-loading-cube *ngIf="loading" [Mensagem]="carregandoOque"></personalizados-lopes-loading-cube> -->
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin-clockwise-fade" [fullScreen] = "true"><a class="button z-index-top" (click)="hideSpiner()">Fechar</a><p style="color: white" > {{carregandoOque}} </p></ngx-spinner>

