<ng-container [ngSwitch]="DeployState">
  <div >
    <personalizados-lopes-content-layout *ngSwitchCase="AppDeploymentState.Deployed"></personalizados-lopes-content-layout>
  </div>
  <!-- <personalizados-lopes-under-construction *ngSwitchCase="AppDeploymentState.Development"></personalizados-lopes-under-construction> -->
  <cookie-law #cookieLaw position="bottom"
  name="ng4topCookieLaw" expiration="1"
  class="px-3 mx-3 my-3 flex-m has-text-centered bg-transp z-index-top shadow-light pt-0 txt-center w-half a-i-c m-lr-auto">
  <p>Para melhorar a sua experiência neste site, analisamos seus hábitos
    de navegação e salvamos alguns dados por meio de cookies, conforme a nossa
    política de privacidade</p>
  <a
    class="button is-success is-rounded"
    (click)="dismissCookieLaw()">
    Eu Aceito
  </a>
</cookie-law>
</ng-container>
<personalizados-lopes-loading-cube *ngIf="loading" [Mensagem]="carregandoOque"></personalizados-lopes-loading-cube>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-scale-multiple" [fullScreen] = "true"><p style="color: white" > {{carregandoOque}} </p></ngx-spinner>

