<ng-container [ngSwitch]="DeployState">
  <personalizados-lopes-content-layout *ngSwitchCase="AppDeploymentState.Deployed"></personalizados-lopes-content-layout>

  <cookie-law #cookieLaw position="bottom"
  name="ng4topCookieLaw" expiration="1"
  class="py-1 has-text-centered z-index-top shadow-light txt-left ">
  <div class="dis-flex flex-sa flex-m">
    <p>Para melhorar a sua experiência neste site, analisamos seus hábitos
      de navegação e salvamos alguns dados por meio de cookies.

  </p>
  <a
  class="button is-success wp-btn"
  (click)="dismissCookieLaw()">
  Aceitar
</a>
  </div>
</cookie-law>
</ng-container>
<!-- <personalizados-lopes-loading-cube *ngIf="loading" [Mensagem]="carregandoOque"></personalizados-lopes-loading-cube> -->
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "small" color = "#fff" type = "line-scale-party" [fullScreen] = "true"><p style="color: white" > {{carregandoOque}} </p></ngx-spinner>

