<div>
  <h2>Exibir por categoria</h2>
  <mat-list>
    <!-- <mat-list-item
      class="pointer w-full w-full-m"
      (click)="SetCategoria(null)"
      [ngClass]="data.CategoriaAtiva?.Nome == defaultCategory ? 'active' : ''">
      <button mat-flat-button>{{defaultCategory}}</button>
      <mat-icon [ngClass]="data.CategoriaAtiva?.Nome == defaultCategory ?'has-text-success' :''">{{data.CategoriaAtiva?.Nome == defaultCategory ?  'done' : 'chevron_right'}}</mat-icon>
      <mat-divider></mat-divider>
    </mat-list-item> -->
    <mat-list-item *ngFor="let categoria of data.Categorias;let i = index"
      [style.backgroundColor]="categoria?.Cor" class="pointer w-full w-full-m cat-item hoverable has-background-white-bis"
      [ngClass]="data.CategoriaAtiva?.Nome == categoria?.Nome ? 'active box ' : 'has-text-grey'">
      <mat-checkbox
        labelPosition="after"
        matNativeControl
        (click)="SetCategoria(categoria)"
        (change)="atualizarFiltroAtivo()">
          <a class="dis-flex flex-sb flex-m">
            <button class="border-0">
              {{categoria?.Nome}}
            </button>
          </a>
      </mat-checkbox>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
