<div class="flex-w flex-l mb-3">
  <h1 class="title is-5 is-uppercase">Usuários interessados em receber notícias da empresa.</h1>
  <mat-spinner *ngIf="Loading"></mat-spinner>
</div>
<div class="columns">

  <div class="column">
    <p>Configurar mensagem de e-mail</p>
    <personalizados-lopes-editor [Conteudo]=" "></personalizados-lopes-editor>
  </div>

  <div class="column">
    <button mat-raised-button (click)="CheckAll()">Todos</button>
    <button mat-mini-fab (click)="Criar()"><mat-icon>add</mat-icon></button>
    <personalizados-lopes-list-emails [Table]="emailTable"></personalizados-lopes-list-emails>
  </div>

</div>
