<div
  class='w-full mh-full dis-flex flex-m m-lr-auto'
>
  <div class='section a-i-c mh-full mb-5'>
    <figure class='no-match-img'>
      <img
        alt='Não foram encontrados produtos correspondentes à sua pesquisa'
        class='no-match-img'
        src='/assets/images/figures/undraw_empty_xct9.svg'
      />
    </figure>
    <p>
      Não foram encontrados produtos correspondentes à sua
      pesquisa
    </p>
    <button
      (click)='redefinirBusca()'
      color='primary'
      md-mat-stroked-button
    >
      Clique para redefinir a busca
    </button>
  </div>
</div>
