<div class="flex-w flex-c">
  <h1 class="title is-5 is-uppercase">Orçamentos por usuários.</h1>
</div>
<div class="columns is-multiline">
  <mat-accordion class="column" *ngFor="let orcamento of (Orcamentos$|async)">
    <mat-expansion-panel
     [ngClass]="orcamento.Status == 0 ? 'Aberto' : 'Respondido'"
     [expanded]="false"
     >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p><strong>Pessoa:</strong> {{orcamento.Usuario.Nome}}</p>
          <mat-divider></mat-divider>
          <p><strong>Email: </strong> {{orcamento.Usuario.Email}}</p>
        </mat-panel-title>
        <mat-panel-description>
          <i>Status:  </i> {{orcamento.Status == 0 ? 'Aberto' : 'Respondido'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>
            <mat-form-field>
              <mat-label>Mensagem orçamento</mat-label>
              <textarea matInput value="{{orcamento.Mensagem}}" title="Mensagem"></textarea>
            </mat-form-field>
            <mat-divider></mat-divider>
            <h2>Preço: {{orcamento.Preco}}</h2>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Produto</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let produto of orcamento.Produto">
                <td>
                  <figure class="image is-64x64">
                    <img src="{{produto.Imagem}}">
                  </figure>
                </td>
                <td>{{produto.Nome}}</td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="Responder(orcamento)" color="primary">
            {{orcamento.Status == 1 ? 'Marcar como Aberto' : 'Marcar como Respondido'}}
          </button>
          <div class="box">
            <p>Criado em:{{orcamento.DataHoraCriacao}} </p>
            <p>Alterado em: {{orcamento.DataHoraAlteracao}}</p>
          </div>
        </mat-card-actions>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>
</div>
