<div class="">

  <gallery
    *ngIf="galleryConfig$ | async; let config"
    [gallerize]
    [items]="images"
    [ngClass]="mobile ? '' : ''"
    [counter]="false"
    [nav]="false"
    [loadingStrategy]="'lazy'"
    [thumbWidth]="config.thumbWidth"
    [dots]="true"
    [thumbHeight]="config.thumbHeight"
    [thumbPosition]="config.thumbPosition"
    [thumbTemplate]="thumbTemplate"
    [itemTemplate]="itemTemplate"
  >
  </gallery>
<!-- Add custom template to thumbnails -->

<ng-template #thumbTemplate let-type="type">
  <span *ngIf="type === 'youtube'" class="item-type">
    <fa-icon [icon]="youtubeIcon" size="lg"></fa-icon>
  </span>
  <span *ngIf="type === 'video'" class="item-type">
    <fa-icon [icon]="videoIcon" size="lg"></fa-icon>
  </span>
</ng-template>

<!-- Add custom template to image items -->

<ng-template #itemTemplate
             let-index="index"
             let-type="type"
             let-data="data"
             let-currIndex="currIndex">
  <span *ngIf="type === 'image' && index === currIndex"
        class="item-text">
    {{data?.title}}
  </span>
  <ngx-imageviewer [src]="data.src"></ngx-imageviewer>
</ng-template>
  <div class="column is-12 px-3 is-hidden-touch">
    <div class="w-full flex-l">
      <personalizados-lopes-exibicao-tags-produto [Produto]="Produto"></personalizados-lopes-exibicao-tags-produto>
      <personalizados-lopes-botoes-compartilhamento-produto></personalizados-lopes-botoes-compartilhamento-produto>
      <personalizados-lopes-curtir-produto [Produto]="Produto"></personalizados-lopes-curtir-produto>


      <personalizados-lopes-descricao-rapida-produto [Produto]="Produto"></personalizados-lopes-descricao-rapida-produto>

    </div>
    <ul class="box content list-unstyled dis-flex flex-sb">
      <li>
        <p class="subtitle">
          <b>Modelo: </b> <span class="fs-300">{{ Produto?.Modelo || 'N/A' }}</span>
        </p>
      </li>
      <li>
        <p class="subtitle">
          <b>Marca: </b>
          <span class="fs-300">{{
            Produto?.Marca?.Nome || Produto?.Marca || 'N/A'
          }}</span>
        </p>
      </li>
    </ul>
  </div>
</div>
