<div>
  <div class="section">
    <div>
      <personalizados-lopes-filtro-nome-produto></personalizados-lopes-filtro-nome-produto>
    </div>
    <div class="columns">
      <div class="column is-3">
        <div class="">
          <personalizados-lopes-selecao-categoria-produto></personalizados-lopes-selecao-categoria-produto>
        </div>
        <div class="">
          <div class="">
            <personalizados-lopes-selecao-ordenacao-produto></personalizados-lopes-selecao-ordenacao-produto>

            <personalizados-lopes-selecao-quantidade-produtos></personalizados-lopes-selecao-quantidade-produtos>

            <personalizados-lopes-selecao-status-produto></personalizados-lopes-selecao-status-produto>

            <personalizados-lopes-checkbox-cores-produto></personalizados-lopes-checkbox-cores-produto>

            <personalizados-lopes-selecao-faixa-preco-produto></personalizados-lopes-selecao-faixa-preco-produto>
          </div>
        </div>
      </div>
      <div class="column">
        <mat-card *ngIf="Produtos?.length">
          <mat-card-content class="dashboard-card-content">
            <div class="columns is-multiline">
              <ng-container *ngFor="let produto of Produtos">
                <div *ngIf="filtroAtivo(produto)" class="column is-4">
                  <button
                    mat-fab-button
                    class="more-button"
                    mat-raised-button
                    color="accent"
                    [matMenuTriggerFor]="menu"
                    aria-label="Toggle menu"
                  >
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" xPosition="before">
                    <button
                      mat-menu-item
                      (click)="this.onEditar.emit(produto)"
                    >
                      Editar
                    </button>
                    <button mat-menu-item (click)="Remover(produto)">
                      Remover
                    </button>
                  </mat-menu>
                  <personalizados-lopes-card-produto @fadeIn
                    [Produto]="produto"
                  ></personalizados-lopes-card-produto>
                </div>
              </ng-container>
              <a
                *ngIf="total > Produtos?.length"
                (click)="CarregarMaisProdutos()"
                >Exibir mais resultados</a
              >
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
