<mat-tab-group class="w-full block">
  <mat-tab label="Pessoal" class="w-full block">
    <personalizados-lopes-editar-sobre></personalizados-lopes-editar-sobre>
  </mat-tab>
  <mat-tab label="Contato" class="w-full block">
    <personalizados-lopes-editar-informacoescontato></personalizados-lopes-editar-informacoescontato>
  </mat-tab>
  <mat-tab label="Mensagens de e-mail" class="w-full block">
    <personalizados-lopes-editar-mensagem></personalizados-lopes-editar-mensagem>
  </mat-tab>
  <mat-tab label="Serviços fornecidos" class="w-full block">
    <personalizados-lopes-editar-servico></personalizados-lopes-editar-servico>
  </mat-tab>
  <mat-tab label="Integrações" class="w-full block">
    <personalizados-lopes-editar-integracoes></personalizados-lopes-editar-integracoes>
  </mat-tab>
</mat-tab-group>
