<div class="a-i-c pt-3">

  <a pageScroll
  href="#TOPO"
  [routerLink]="['/gerenciamento/pedidos//']"
  routerLinkActive="router-link-active">
  <button mat-stroked-button mat-stroked-button class="button is-dark">
    <mat-icon>keyboard_arrow_left</mat-icon>
    Voltar
  </button>
</a>
<div class="section">
  <mat-chip-list
   [ngClass]="Orcamento.Status == 0 ? 'Aberto' : 'Respondido'"
   >
   <mat-chip>
    {{Orcamento.Status == 0 ? 'Aberto' : 'Respondido'}}
   </mat-chip>
  </mat-chip-list>

  <!-- <button mat-icon-button (click)="Remover(Orcamento)">
    <mat-icon>remove</mat-icon>
  </button> -->

  <h4 class="subtitle flex-m">
    <i>Status do pagamento:  </i>
    <mat-chip-list>
      <mat-chip>
        {{Orcamento.ResultadoPagamentoMP?.status}}
      </mat-chip>
    </mat-chip-list>
  </h4>
  <mat-divider></mat-divider>

  <div class="py-2">
    <h1>Itens do pedido:</h1>
    <table class="table w-full is-striped is-narrow is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>Foto do produto</th>
          <th>Nome</th>
          <th>Arte Frontal</th>
          <th>Arte Traseira</th>
          <th>Preço</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of Orcamento.Produto">
          <td>
            <a [routerLink]="['/produtos/'+produto.Produto._id]">
              <figure class="image is-64x64">
                <img src="{{produto.Produto.Imagem}}">
              </figure>
            </a>
          </td>
          <td>
            <a [routerLink]="['/produtos/'+produto.Produto._id]">
              {{produto.Produto.Nome}}
            </a>
          </td>
          <td>
            <figure class="image is-64x64" *ngIf="produto.Produto.ArteSecundaria">
              <img src="{{produto.Produto.Arte}}">
            </figure>
          </td>
          <td>
            <figure class="image is-64x64" *ngIf="produto.Produto.ArteSecundaria">
              <img src="{{produto.Produto.ArteSecundaria}}">
            </figure>
          </td>
          <td>
            <p class="title is-6">R${{produto.Produto.Preco.toFixed(2)}}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <mat-divider></mat-divider>
  <mat-list>
    <mat-list-item>
      <p>Total do pedido:</p>
    </mat-list-item>
    <mat-list-item>
      <h2 class="preco">R${{Orcamento.Preco.toFixed(2)}}</h2>
    </mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>
  <div class="py-2">
    <personalizados-lopes-exibicao-perfil [user]="Orcamento.Usuario"></personalizados-lopes-exibicao-perfil>
  </div>
  <p><strong>Mensagem do pedido: </strong> {{Orcamento.Mensagem}}</p>
  <mat-card>
    <mat-card-actions>
      <div class="box">
        <p>Criado em:{{Orcamento.DataHoraCriacao}} </p>
        <p>Alterado em: {{Orcamento.DataHoraAlteracao}}</p>
      </div>
    </mat-card-actions>
  </mat-card>

  <button mat-flat-button class="border" (click)="Responder(Orcamento)" color="primary">
    {{Orcamento.Status == 1 ? 'Marcar como Aberto' : 'Marcar como Respondido'}}
  </button>

</div>
