<div class="a-i-c pt-3">

  <a pageScroll
  href="#TOPO"
  [routerLink]="['/gerenciamento/app/pedidos/']"
  routerLinkActive="router-link-active">
  <button mat-stroked-button mat-stroked-button class="button is-dark">
    <mat-icon>keyboard_arrow_left</mat-icon>
    Voltar
  </button>
</a>
<div class="section">
  <mat-chip-list
   [ngClass]="Orcamento.Status == 0 ? 'Aberto' : 'Respondido'"
   >
   <mat-chip>
    {{Orcamento.Status == 0 ? 'Aberto' : 'Respondido'}}
   </mat-chip>
  </mat-chip-list>

  <!--
    <button mat-icon-button (click)="Remover(Orcamento)">
      <mat-icon>remove</mat-icon>
    </button>
  -->

  <h4 class="subtitle flex-m">
    <i>Status do pagamento:  </i>
    <mat-chip-list class="ml-3">
      <mat-chip>
        {{Orcamento.ResultadoPagamentoMP ? (Orcamento.ResultadoPagamentoMP?.status != "null" ? Orcamento.ResultadoPagamentoMP?.status : 'Não realizado') : 'Não realizado'}}
      </mat-chip>
    </mat-chip-list>
  </h4>
  <mat-divider></mat-divider>

  <div class="py-2">
    <h1>Itens do pedido:</h1>
    <table class="table w-full is-striped is-narrow is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>Foto do produto</th>
          <th>Prévia Design</th>
          <th>Nome</th>
          <th>Arte Frontal</th>
          <th>Arte Traseira</th>
          <th>Preço</th>
          <th>Quantidade</th>
          <th>Cor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of Orcamento.Produto">
          <td>
            <a [href]="'/produtos/'+produto.Produto._id" target="_blank">
              <figure class="image is-64x64">
                <img src="{{produto.Produto.Imagem}}">
              </figure>
            </a>
          </td>
          <td>
            <div class="column is-10-desktop is-12-mobile box">
              <figure>
                <img [src]="produto.Produto.Imagem[0]"  class="prod-img">
              </figure>
              <canvas id="c" height="500" style="border:3px solid #131313"></canvas>
            </div>
          </td>
          <td>
            <a [href]="'/produtos/'+produto.Produto._id" target="_blank">
              {{produto.Produto.Nome}}
            </a>
          </td>
          <td>
            <a [href]="produto.Produto.Arte ?produto.Produto.Arte :''" target="_blank">
              <figure class="image is-64x64" *ngIf="produto.Produto.Arte">
                <img src="{{produto.Produto.Arte}}">
              </figure>
            </a>
          </td>
          <td>
            <a [href]="produto.Produto.ArteSecundaria ? produto.Produto.ArteSecundaria : ''" target="_blank">
              <figure class="image is-64x64" *ngIf="produto.Produto.ArteSecundaria">
                <img src="{{produto.Produto.ArteSecundaria}}">
              </figure>
            </a>
          </td>
          <td>
            <p class="title is-6">R${{produto.Produto.Preco.toFixed(2)}}</p>
          </td>
          <td>{{produto.Produto.Quantidade}}</td>
          <td>{{produto.Produto.Cor.nome}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <mat-divider></mat-divider>
  <mat-list>
    <mat-list-item>
      <p>Total do pedido:</p>
    </mat-list-item>
    <mat-list-item>
      <h2 class="preco">R${{Orcamento.Preco.toFixed(2)}}</h2>
    </mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>
  <div class="py-2">
    <personalizados-lopes-exibicao-perfil [user]="Orcamento.Usuario"></personalizados-lopes-exibicao-perfil>
  </div>
  <p><strong>Mensagem do pedido: </strong> {{Orcamento.Mensagem}}</p>
  <mat-card>
    <mat-card-actions>
      <div class="box">
        <p>Criado em:{{Orcamento.DataHoraCriacao}} </p>
        <p>Alterado em: {{Orcamento.DataHoraAlteracao}}</p>
      </div>
    </mat-card-actions>
  </mat-card>

  <a mat-flat-button class="border my-4" (click)="Responder(Orcamento)" color="primary">
    {{Orcamento.Status == 1 ? 'Marcar como Aberto' : 'Marcar como Respondido'}}
  </a>


  <div class="content">
    <h1>
      Cancelamentos
    </h1>
    <p>
      Os cancelamentos podem ser realizados somente com status pending e in process
    </p>
    <p>
      É importante para meios de pagamento offline
    </p>
    <p>
      A expiração de um pagamento ocorre após 30 dias e o cancelamento é automático, o status final deles será cancelled/expired.
    </p>
  </div>

  <div class="content">
    <h1>
      Devoluções
    </h1>
    É possível devolver um pagamento dentro de 180 dias a partir de sua data de aprovação.

    Deve haver saldo suficiente disponível em sua conta para efetuar a devolução do valor do pagamento com sucesso. Caso contrário, obterá um erro 400 Bad Request.

    Caso o comprador tenha efetuado o pagamento com cartão, o valor será devolvido no próprio cartão.

    Para pagamentos realizados a partir de outros meios, o valor a ser devolvido será depositado na conta Mercado Pago do comprador. Caso não possua uma conta, criaremos uma utilizando o e-mail que foi utilizado para realizar o pagamento.
  </div>

  <p mat-flat-button class="border" *ngIf="Orcamento.ResultadoPagamentoMP.status == 'cancelled'" color="warn">
    O Pedido foi cancelado
  </p>
  <a *ngIf="Orcamento.ResultadoPagamentoMP.status == 'approved'" mat-flat-button class="border" (click)="Devolver(Orcamento)" color="warn">
    Devolver dinheiro ao comprador
  </a>
  <a *ngIf="Orcamento.ResultadoPagamentoMP.status == 'pending' || Orcamento.ResultadoPagamentoMP.status == 'in_process'  " mat-flat-button class="border" (click)="Devolver(Orcamento)" color="warn">
    Cancelar compra
  </a>
</div>

