<div class="selection">
  <mat-chip-list
   [ngClass]="Orcamento.Status == 0 ? 'Aberto' : 'Respondido'"
   >
   <mat-chip>
    {{Orcamento.Status == 0 ? 'Aberto' : 'Respondido'}}
   </mat-chip>
  </mat-chip-list>
  <div class="columns">
    <div class="column">
      <p><strong>Preço do pedido:</strong> {{Orcamento.Preco}}</p>
    </div>
    <div class="column">  <p><strong>Mensagem do pedido: </strong> {{Orcamento.Mensagem}}</p></div>
  </div>

  <mat-divider></mat-divider>
  <!-- <button mat-icon-button (click)="Remover(Orcamento)">
    <mat-icon>remove</mat-icon>
  </button> -->
  <h2 class="title">
    <p><strong>Pessoa:</strong> {{Orcamento.Usuario.Nome}}</p>
    <mat-divider></mat-divider>
    <p><strong>Email: </strong> {{Orcamento.Usuario.Email}}</p>
  </h2>
  <h4 class="subtitle flex-m">
    <i>Status do pagamento:  </i>
    <mat-chip-list>
      <mat-chip>
        {{Orcamento.ResultadoPagamentoMP?.status}}
      </mat-chip>
    </mat-chip-list>
  </h4>
  <table class="table w-full border">
    <thead>
      <tr>
        <th></th>
        <th>Produto</th>
        <th>Arte Frontal</th>
        <th>Arte Traseira</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produto of Orcamento.Produto">
        <td>
          <figure class="image is-64x64">
            <img src="{{produto.Produto.Imagem}}">
          </figure>
        </td>
        <td>{{produto.Produto.Nome}}</td>
        <td>
          <figure class="image is-64x64" *ngIf="produto.Produto.ArteSecundaria">
            <img src="{{produto.Produto.Arte}}">
          </figure>
        </td>
        <td>
          <figure class="image is-64x64" *ngIf="produto.Produto.ArteSecundaria">
            <img src="{{produto.Produto.ArteSecundaria}}">
          </figure>
        </td>
      </tr>
    </tbody>
  </table>

  <mat-card>
    <mat-card-actions>
      <div class="box">
        <p>Criado em:{{Orcamento.DataHoraCriacao}} </p>
        <p>Alterado em: {{Orcamento.DataHoraAlteracao}}</p>
      </div>
    </mat-card-actions>
  </mat-card>

  <button mat-flat-button class="border" (click)="Responder(Orcamento)" color="primary">
    {{Orcamento.Status == 1 ? 'Marcar como Aberto' : 'Marcar como Respondido'}}
  </button>

</div>
