

<mat-card>
  <mat-card-header class="w-full">
    <mat-card-title class="w-full">
      <div class="columns">
        <div class="column is-8">
          <h1 class="subtitle">Gerenciar Clientes</h1>
        </div>
        <div class="column is-4">
          <button mat-fab color="primary" (click)="Criar()" class="ab-b-r">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content columns is-multiline max-w-full of-x-scroll">
    <div *ngFor="let cliente of Clientes$ | async" class="column is-3">
      <personalizados-lopes-edicao-card-cliente [Cliente]="cliente"></personalizados-lopes-edicao-card-cliente>
    </div>
  </mat-card-content>
</mat-card>
