<div>
  <button
    class="w-full is-rounded dis-flex flex-w flex-m"
    title="Gostei"
    matBadge="{{ Produto?.Likes }}"
    matBadgeColor="accent"
    (click)="Like()"
    mat-icon-button
    [ngClass]="Liked ? 'liked disabled' : ''"
    [ngClass]="loading ? ' is-loading' : ''"
  >
    <p>
      <mat-icon
        [ngClass]="Liked ? 'liked' : ''"
        class="heartbutton color-light-red"
      >
        {{ Liked ? 'favorite' : 'favorite_border' }}</mat-icon
      >
    </p>
  </button>
  <mat-chip-list *ngIf="Liked" aria-label="Obrigado">
    <mat-chip color="primary" class="px-2 py-2" selected
      >Você curtiu este produto</mat-chip
    >
  </mat-chip-list>
</div>
