<div class="pb-0" *ngIf="Produto?.Tamanhos">

    <p><em>Tamanhos</em></p>
    <mat-form-field
      class="field w-full"
      *ngIf="Produto?.Cores"
      appearance="fill"
    >
      <mat-label class="w-full">Selecione um tamanho</mat-label>
      <mat-select
        matNativeControl
        [(ngModel)]="Produto.Tamanho"
        [value]="Produto?.Tamanho"
        name="Tamanho"
      >
        <mat-option
          *ngFor="let opt of Produto?.Tamanhos"
          [value]="opt"
          class="w-full"
        >
          <div
            class="cor-produto card box w-full"
            (click)="Produto.Tamanho = opt"
          >
            <p>{{ opt }}</p>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>
</div>
