<ng-container
  *ngIf="(Orcamento$ | async)?.Produto.length > 0; then pedido; else vazio"
></ng-container>
<ng-template #vazio>
  <div class="margin a-i-c flex-m m-lr-auto has-text-center w-full">
    <figure class="image has-ratio">
      <img src="/assets/images/figures/undraw_empty_cart_co35.svg" />
    </figure>
    <div class="">
      <h1 class="subtitle mb-0 pt-0">Seu carrinho está vazio</h1>
      <span class="subtitle"
        >Clique abaixo para voltar e adicionar produtos ao seu orçamento</span
      >
      <div>
        <a
          pageScroll
          href="#TOPO"
          [routerLink]="['/produtos/']"
          routerLinkActive="router-link-active"
        >
          <button mat-stroked-button mat-stroked-button class="button is-dark">
            Ver produtos
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </a>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #pedido>
  <section @fadeIn>
    <!-- <section *ngIf="edit" class="shopping-cart dark">
      <div *ngIf="edit" class="has-text-left summary">
        <h1 class="title is-size-5">Confira o seu pedido</h1>
        <p class="subtitle is-size-6">Revise seus produtos e continue para inserir seus dados pessoais.</p>
      </div>
    </section> -->

    <div class="a-i-c">
      <div class="w-full of-x-scroll">
        <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Subtototal
              </mat-panel-title>
              <mat-panel-description> R${{ (Orcamento$ | async)?.Preco.toFixed(2) || '' }} </mat-panel-description>
            </mat-expansion-panel-header>
            <personalizados-lopes-tabela-edicao-orcamento
              [edit]="edit"
            ></personalizados-lopes-tabela-edicao-orcamento>
          </mat-expansion-panel>
        </mat-accordion>

      </div>

      <personalizados-lopes-caixa-codigo-promocional
        [(ngModel)]='Orcamento.CupomDesconto'></personalizados-lopes-caixa-codigo-promocional>
    </div>
  </section>
</ng-template>
