<div class="w-full">

  <mat-card class="card">

    <mat-card-title class="title is-5 is-uppercase">Cadastrar cor produto</mat-card-title>

    <mat-card-content class="card-body">
      <personalizados-lopes-editar-cor-produto-form
      (onSend)="Criar($event)"
    ></personalizados-lopes-editar-cor-produto-form>
    </mat-card-content>

  </mat-card>

</div>
<div class="block dis-flex flex-sb">
  <personalizados-lopes-cor-produto-checkbox-selector
    [Cores]="CoresProduto"
    (onSelected)="CorSelecionada = $event"
    [Multiple]="true"
  ></personalizados-lopes-cor-produto-checkbox-selector>
  <div>
    <ng-container *ngIf="CorSelecionada">
      <button class="button is-small is-roudend" (click)="Editar()" mat-icon-button><mat-icon>edit</mat-icon></button>
      <button class="button is-small is-roudend" (click)="Remover()" mat-icon-button><mat-icon>remove</mat-icon></button>
    </ng-container>
  </div>
</div>
