<mat-toolbar
  class="dis-flex bg-light has-background-dark has-text-dark flex-r z-index-top is-hidden "
  style="overflow-y: visible; z-index: 20; height: 30px;"
>
  <div class="flex-sb">
    <a
      href="tel:{{ (InfoContato$ | async)?.Telefone }}"
      class="subtitle is-size-7 hoverable navbar-item px-2 has-text-centered mb-0 is-hidden-mobile"
    >
      <i class="pi pi-mobile"></i>
      <span>{{ (InfoContato$ | async)?.Telefone }}</span>
    </a>
    <a
      [routerLink]="['checkout']"
      class="subtitle is-size-7 hoverable navbar-item level-item px-2 has-text-centered"
    >
      <span class="is-hidden-mobile fw-300">Finalizar pedido </span>
    </a>
  </div>
</mat-toolbar>
<div class="pos-sticky top-0  mat-elevation-z4" style="overflow-y: visible !important;z-index: 11;">
  <nav
    class="navbar columns is-vcentered w-full is-mobile z-index-top mx-0"
    style="z-index: 20;overflow-y: visible !important;"
  >
    <div class="column is-1-desktop is-5-mobile mr-1">
      <a @fadeIn href="#" class="logo flex-m a-i-c">
        <!-- <img loading="lazy" class="logo " src="" alt="LOGO"> -->
      </a>
    </div>
    <div class="column is-2 is-hidden-mobile" *ngIf="search">
      <form
        type="get"
        class="is-6 w-full"
        action="/produtos/?nome={{ search_filter }}?categoria=Todos os produtos"
      >
        <div class=" w-full">
          <div class="w-full dis-flex">
            <button
              mat-icon-button
              type="submit"
              (click)="executar_pesquisa()"
              class="boxshadow-none has-text-black mx-1"
            >
              <mat-icon>search</mat-icon>
            </button>

            <div @fadeIn class="w-full" *ngIf="search">
              <personalizados-lopes-autocomplete-dropdown
                (VerTodosResultados)="executar_pesquisa()"
                (SearchValueChanged)="handleSearchValue($event)"
              ></personalizados-lopes-autocomplete-dropdown>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="column is-5-desktop is-hidden-touch">
      <div class="columns is-mobile is-vcentered link-section flex-c-m">
        <div *ngFor="let link of links" class="column is-3 px-0">
          <ng-container
            *ngIf="link.options; then dropdown; else normal"
          ></ng-container>
          <ng-template #normal>
            <a
              (click)="SetActiveNav(link)"
              class="nav-link  {{ link.name == 'inicio' ? 'inicio' : '' }}"
              pageScroll
              [routerLink]="link.href"
              routerLinkActive="active-nav"
              href="#{{ link.name == 'Todos' ? 'topo' : link.name }}"
            >
              <i [class]="link.Picon"></i>
              <p class="">{{
                link.name == 'Todos' ? 'Produtos' : link.name
              }}</p>
            </a>
          </ng-template>

          <ng-template #dropdown>
            <div class="dropdown w-full">
              <a
                (click)="SetActiveNav(link)"
                [routerLink]="link.href"
                pageScroll
                routerLinkActive="active-nav"
                class="nav-link w-full {{
                  link.name == 'inicio' ? 'inicio' : ''
                }}"
              >
                <i
                  [class]="link.Picon"
                ></i>
                <p class="">{{
                  link.name == 'Todos' ? 'Produtos' : link.name
                }}</p>
              </a>
              <div class="dropdown-content has-background-white">
                <a
                  class="nav-link is-capitalized {{
                    link.name == 'inicio' ? 'inicio' : ''
                  }} px-2 of-x-scroll "
                  pageScroll
                  routerLinkActive="Active"
                  href="#{{ link.name == 'Todos' ? 'topo' : link.name }}"
                  mat-menu-item
                  [routerLink]="opt.link"
                  [queryParams]="opt.queryParams"
                  *ngFor="let opt of link.options"
                  >{{ opt.nome }}</a
                >
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="columns is-mobile is-vcentered ">

        <!-- <div class="column">
          <button
            *ngIf="FavCount > 0"
            mat-mini-fab
            [routerLink]="['/produtos']"
            routerLinkActive="router-link-active"
            title="Favoritos"
            color=""
            aria-label="Botão abrir Favoritos"
            class="size4 boxshadow-none shadow-light trans-04 has-text-black"
          >
            <i class="pi pi-heart fs-20"></i>
            <a class="cart-counter">
              {{ FavCount }}
            </a>
          </button>
        </div> -->
        <div class="column">
          <button
            class="button pr-0"
            color=""
            (click)="openCheckout()"
            title="Cesta de compras"
            aria-label="Botão abrir Orçamento"
          >
            <span class="icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"
                />
              </svg>
            </span>
            <span class="is-hidden-touch px-0" mat-menu-item>
              Seu Carrinho
            </span>
            <span class="badge">
              {{ (Orcamento$ | async)?.Produto.length || 0 }}
            </span>
            <!-- <span class="subtitle is-size-7 has-text-light is-hidden-touch clickable"
              *ngIf="(Orcamento$ | async)?.Preco"
            >
              R${{ (Orcamento$ | async)?.Preco.toFixed(2) || '' }}
            </span> -->
          </button>
        </div>
        <div class="column px-0">
          <div class="dropdown">
            <div class="w-full dis-flex flex-c-m button">
              <i class="pi pi-user fs-20"></i>
              <span class="w-full fw-500 of-x-scroll is-hidden-mobile" mat-menu-item title="Perfil">
                  {{ user?.Nome || 'Entrar' }}
              </span>
            </div>

            <div class="dropdown-content w-full has-background-white box">
              <button
                mat-menu-item
                *ngIf="user"
                href="#topo"
                routerLinkActive="Active"
                title="Meus dados"
                pageScroll
                [routerLink]="['/minha-conta/pessoal']"
              >
                Meus dados
              </button>
              <button
                class=""
                mat-menu-item
                *ngIf="!user"
                (click)="openLogin()"
              >
                Login
              </button>
              <button
                mat-menu-item
                *ngIf="user && user?.Tipo == TipoUsuario.admin"
                href="#topo"
                title="Gerenciamento"
                routerLinkActive="Active"
                pageScroll
                [routerLink]="['/gerenciamento/app']"
              >
                Gerenciamento
              </button>
              <button mat-menu-item *ngIf="user" (click)="Logout()">
                Sair
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- <mat-toolbar-row
    [ngClass]="
      (NavState$ | async)?.activeNav.toLocaleLowerCase() == 'Todos'
        ? 'produtos-nav-under'
        : 'produtos-nav-under'
    "
  >
  </mat-toolbar-row> -->
</div>
<!-- <personalizados-lopes-mega-menu
  [Categorias]="Categoria$ | async"
  class="is-hidden-touch z-index-top"
></personalizados-lopes-mega-menu> -->
