<div class="section container">
  <div class="block">
    <h1 class="title">Gerenciar Produtos</h1>
    <button mat-fab color="primary" (click)="Criar()" class="ab-b-r">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="dis-flex">
    <mat-form-field class="" appearance="fill">
      <mat-label>Categoria</mat-label>
      <mat-select matNativeControl [(ngModel)]="CategoriaAtiva" (selectionChange)="atualizarFiltroAtivo()">
        <mat-option *ngFor="let categoria of (Categorias$ | async)" [value]="categoria" class="w-full">
          <div class="box w-full">
            <p>{{categoria.Nome}}</p>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="control has-icons-right w-full">
      <input [(ngModel)]="activeSearchFilter" (change)="atualizarFiltroAtivo()" class="border py-2" type="text"
        placeholder="Filtrar em {{CategoriaAtiva?.Nome}}">
      <span class="icon is-small is-right">
        <mat-icon>search</mat-icon>
      </span>
    </div>
  </div>

  <mat-card>
    <mat-card-header class="w-full">
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <div class="">

        <ngx-slider [(value)]="value" [(highValue)]="maxValue" [options]="options"></ngx-slider>
        <div class="columns is-mobile is-multiline w-full ">
          <mat-form-field class="column" appearance="fill">
            <mat-label>Ordenação</mat-label>
            <mat-select matNativeControl [(ngModel)]="activeOrderFilter" (selectionChange)="atualizarFiltroAtivo()">
              <mat-option *ngFor="let opt of ordertypes" [value]="opt.id" class="w-full">
                <div class="box w-full">
                  <p>{{opt.name}}</p>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="column" appearance="fill">
            <mat-label>Limite</mat-label>
            <mat-select matNativeControl [(ngModel)]="activeOrderLimit" (selectionChange)="atualizarFiltroAtivo()">
              <mat-option *ngFor="let opt of orderLimit" [value]="opt.id" class="w-full">
                <div class="box w-full">
                  <p>{{opt.name}}</p>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-list class="column mt-4">
            <mat-list-item>
              <mat-form-field class="" appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select matNativeControl [(ngModel)]="activeOrderStatus" (selectionChange)="atualizarFiltroAtivo()">
                  <mat-option *ngFor="let opt of orderStatus" [value]="opt.id" class="">
                    <div class="box ">
                      <p>{{opt.name}}</p>
                    </div>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-list-item>
          </mat-list>
          <mat-list class="column">
            <mat-list-item>
              <mat-checkbox matNativeControl [(ngModel)]="Parcelamento" (change)="atualizarFiltroAtivo()"
                [checked]="false">
                Parcelamento
              </mat-checkbox>
            </mat-list-item>
            <mat-list-item>
              <mat-checkbox matNativeControl [(ngModel)]="MultiplasCores" (change)="atualizarFiltroAtivo()"
                [checked]="false">
                Multiplas Cores
              </mat-checkbox>
            </mat-list-item>
          </mat-list>
        </div>
        <div class="columns is-multiline">
          <div *ngFor="let produto of Produtos" class="produto-card column is-3">
            <div *ngIf="filtroAtivo(produto)">
              <personalizados-lopes-edicao-card-produto (Isdeleted)="Atualizar()" [Produto]="produto">
              </personalizados-lopes-edicao-card-produto>

            </div>
          </div>
          <a *ngIf="total > Produtos?.length" (click)="CarregarMaisProdutos()">Exibir mais resultados</a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>
