<section [@cardFlip]="state" class="py-0">
  <!-- <p>Comprando {{(Orcamento$|async)?.Produto?.length}} item(s) no valor de
    R${{(Orcamento$|async)?.Preco.toFixed(2) || ''}}</p> -->
  <form action="" method="post" [formGroup]="dadosForm">
    <div class="w-full" *ngIf="(Orcamento$ | async)?.Produto.length > 0">
      <span class="subtitle" @fadeIn *ngIf="dadosForm.hasError('required')"
        >Verifique os campos obrigatórios.</span
      >
      <div class="pt-3">
        <div>
          <mat-form-field
            [ngClass]="{
              'of-y-scroll': dadosForm.get('nome').hasError('required')
            }"
            class="w-full control has-icons-right"
            appearance=""
          >
            <mat-label>Insira seu nome</mat-label>
            <input
              matInput
              name="nome"
              [formControlName]="'nome'"
              placeholder="Ex. Fulano de tal"
            />
            <mat-error *ngIf="dadosForm.get('nome').hasError('required')">
              É necessário inserir seu <strong>nome</strong>
            </mat-error>
            <span
              class="icon is-right"
              *ngIf="
                !dadosForm.get('nome').pristine &&
                dadosForm.get('nome').hasError('required')
              "
            >
              <mat-icon class="color-light-red">warning</mat-icon>
            </span>
          </mat-form-field>

          <div class="columns">
            <div class="column">
              <mat-form-field
                [ngClass]="{
                  'of-y-scroll': dadosForm.get('cpf').hasError('required')
                }"
                class="w-full control has-icons-right"
                appearance=""
              >
                <mat-label>seu CPF</mat-label>
                <input
                  class="w-full input"
                  matInput
                  name="CPF"
                  mask="000.000.000-00"
                  [formControlName]="'cpf'"
                  placeholder="000.000.000-00"
                />
                <span
                  class="icon is-right"
                  *ngIf="dadosForm.get('cpf').hasError('required')"
                >
                  <mat-icon class="color-light-red">warning</mat-icon>
                </span>
                <mat-error *ngIf="dadosForm.get('cpf').hasError('required')">
                  Insira um CPF válido
                </mat-error>
                <mat-error
                  *ngIf="
                    !dadosForm.get('cpf').pristine &&
                    dadosForm.get('cpf').hasError('required')
                  "
                >
                  É necessário inserir seu <strong>CPF</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="column">
              <mat-form-field
                [ngClass]="{
                  'of-y-scroll': dadosForm.get('phone').hasError('required')
                }"
                class="w-full control has-icons-right"
                appearance=""
              >
                <mat-label>insira um telefone para contato</mat-label>
                <input
                  class="w-full input"
                  matInput
                  name="telefone"
                  [formControlName]="'phone'"
                  placeholder="(00) 0 0000 0000"
                  mask="(00) 0000-0000||(00) 0 0000-0000"
                />
                <mat-error *ngIf="dadosForm.get('phone').hasError('required')">
                  É necessário inserir seu <strong>telefone</strong>
                </mat-error>
                <span
                  class="icon is-right"
                  *ngIf="
                    !dadosForm.get('phone').pristine &&
                    dadosForm.get('phone').hasError('required')
                  "
                >
                  <mat-icon class="color-light-red">warning</mat-icon>
                </span>
              </mat-form-field>
            </div>
          </div>

          <mat-form-field class="w-full control has-icons-right" appearance="">
            <mat-label
              >Como devemos usar a arte para os produtos, etc..</mat-label
            >
            <textarea
              class="control has-icons-right input"
              matInput
              placeholder="Insira aqui dados opcionais como transparencia do fundo, etc"
              [formControlName]="'Mensagem'"
            ></textarea>
          </mat-form-field>
          <div *ngIf="!usuario.Senha || (usuario.Senha && !usuario._id)">
            <section class="example-section">
              <mat-checkbox
                [(indeterminate)]="indeterminate"
                [labelPosition]="labelPosition"
                (click)="setRegistrarse()"
                [formControlName]="'registrarse'"
                class=""
                >Registrar-se ?
              </mat-checkbox>
            </section>
            <mat-form-field
              @fadeIn
              *ngIf="registrarse"
              class="w-full control has-icons-right"
              appearance=""
            >
              <mat-label>Insira uma senha para o perfil</mat-label>
              <input
                type="password"
                #senha
                [formControlName]="'password'"
                name="senha"
                class="control has-icons-right input"
                matInput
                placeholder="********"
              />
              <a
                (click)="
                  senha.type = senha.type == 'text' ? 'password' : 'text'
                "
              >
                <mat-icon>{{
                  senha.type == 'text' ? 'visibility_off' : 'visibility'
                }}</mat-icon>
              </a>
            </mat-form-field>
          </div>

          <div @fadeIn class="notification is-danger" *ngIf="ErroCadastro">
            <button class="delete" (click)="ErroCadastro = false"></button>
            Desculpe, não foi possível enviar o seu pedido. Por favor, verifique
            os campos obrigatórios.
          </div>
          <button
            class="button is-primary w-full is-uppercase"
            [disabled]="!checkoutService.getValid()"
            (click)="SubmeterDadosPessoais()"
          >
            Ir para dados de entrega
          </button>
        </div>
      </div>
    </div>
    <!-- <div class="column is-6">
        <personalizados-lopes-confirmacao [edit]="false"></personalizados-lopes-confirmacao>

        <div class="dis-flex flex-m has-text-left pt-4">
          <a pageScroll href="#TOPO" [routerLink]="['/checkout']" class="preco dis-flex flex-m ">
            <mat-icon class="">keyboard_arrow_left</mat-icon>
            voltar
          </a>
        </div>
      </div> -->
  </form>
</section>
