<section @fadeIn class="section py-0">


  <div class="dis-flex flex-m has-text-left py-4">
    <a
      pageScroll
      href="#TOPO"
      routerLink="/checkout"
      class="preco dis-flex flex-m ">
      <mat-icon class="">keyboard_arrow_left</mat-icon>
      voltar
    </a>
  </div>


  <div class=" w-full">
    <div class="has-text-left  w-full">
      <h2 class="subtitle">Insira seus dados pessoais</h2>
      <p>Comprando {{(Orcamento$|async).Produto?.length}} item(s) no valor de {{(Orcamento$|async).Preco}} reais</p>
      <span class="subtitle">Verifique os campos obrigatórios.</span>
    </div>

    <div class="pt-3">
      <form (ngSubmit)="SubmeterDadosPessoais()">

        <mat-form-field class="w-full control has-icons-right" appearance="">
          <mat-label>Nome</mat-label>
          <input matInput  [(ngModel)]="Orcamento.Usuario.Nome"
            [formControl]="nomeFormControl" placeholder="Ex. Fulano de tal">
          <mat-error *ngIf="nomeFormControl.hasError('required')">
            É necessário inserir seu <strong>nome</strong>
          </mat-error>
          <span class="icon is-right" *ngIf="!nomeFormControl.pristine && nomeFormControl.hasError('required')">
            <mat-icon class="has-text-warning">warning</mat-icon>
          </span>
        </mat-form-field>

        <mat-form-field class="w-full control has-icons-right" appearance="">
          <mat-label>Email</mat-label>
          <input class="w-full" matInput
            [(ngModel)]="Orcamento.Usuario.Email" [formControl]="emailFormControl" placeholder="Ex. meu@email.com">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Insira um e-mail válido
          </mat-error>
          <span class="icon is-right" *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            <mat-icon class="has-text-warning">warning</mat-icon>
          </span>
          <mat-error *ngIf="!emailFormControl.pristine && emailFormControl.hasError('required')">
            É necessário inserir seu <strong>e-mail</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full control has-icons-right" appearance="">
          <mat-label>Telefone</mat-label>
          <input class="w-full input" matInput
            [(ngModel)]="Orcamento.Usuario.Telefone" [formControl]="phoneFormControl" placeholder="(00) 0 0000 0000"
            mask="(00) 0000-0000||(00) 0 0000-0000">
          <mat-error *ngIf="phoneFormControl.hasError('required')">
            É necessário inserir seu <strong>telefone</strong>
          </mat-error>
          <span class="icon is-right" *ngIf="!phoneFormControl.pristine && phoneFormControl.hasError('required')">
            <mat-icon class="has-text-warning">warning</mat-icon>
          </span>
        </mat-form-field>

        <mat-form-field class="w-full control has-icons-right" appearance="">
          <mat-label>Mensagem</mat-label>
          <textarea
            class="control has-icons-right  input"
            matInput
            placeholder="Insira aqui dados opcionais como quais cores você quer, etc"
            [(ngModel)]="Orcamento.Mensagem"
            ></textarea>
        </mat-form-field>
        <ng-template *ngIf="!usuario">

          <section class="example-section">
            <mat-checkbox
              [(indeterminate)]="indeterminate"
              [labelPosition]="labelPosition"
              [(ngModel)]="registrarse"
              (change)= "registrar()"
              class=""
            >Registrar-se ?
            </mat-checkbox>
          </section>
          <mat-form-field
            @fadeIn
            *ngIf="registrarse"
            class="w-full control has-icons-right" appearance="">
            <mat-label>Insira uma senha para o perfil</mat-label>
            <input
              type='password'
              #senha
              class="control has-icons-right input"
              matInput
              placeholder="********"
              (change)="Orcamento.Usuario.Senha = senha.value"
              >
              <a
                (click)="senha.type= senha.type=='text'? 'password':'text'">
                <mat-icon>{{senha.type=='text'?'visibility_off':'visibility'}}</mat-icon>
              </a>
          </mat-form-field>
        </ng-template>

        <div class="notification is-danger" *ngIf="ErroCadastro">
          <button class="delete" (click)="ErroCadastro = false"></button>
          Desculpe, não foi possível enviar o seu pedido. Por favor, verifique os campos obrigatórios.
        </div>
        <p class="has-text-left w-full">*Por favor, Insira o número completo do seu telefone</p>

        <button
          class="button is-success w-full">Continuar</button>
      </form>
    </div>


  </div>

</section>
<footer class="footer has-background-white-bis"></footer>
