<section  [@cardFlip]="state" class="section py-0">

  <p>Comprando {{(Orcamento$|async).Produto?.length}} item(s) no valor de R${{(Orcamento$|async).Preco.toFixed(2) || ''}} reais</p>
  <personalizados-lopes-confirmacao  [edit]="false"></personalizados-lopes-confirmacao>

  <div class="dis-flex flex-m has-text-left pt-4">
    <a
      pageScroll
      href="#TOPO"
      [routerLink]="['/checkout']"
      class="preco dis-flex flex-m ">
      <mat-icon class="">keyboard_arrow_left</mat-icon>
      voltar
    </a>
  </div>


  <div class="section w-full"  *ngIf="(Orcamento$ |async).Produto.length > 0">
    <div class="has-text-left  w-full">
      <h2 class="subtitle">Dados do comprador</h2>
    </div>

    <span class="subtitle" @fadeIn *ngIf="nomeFormControl.hasError('required') || emailFormControl.hasError('required') || phoneFormControl.hasError('required')">Verifique os campos obrigatórios.</span>
    <div class="pt-3">
      <div>

        <mat-form-field class="w-full control has-icons-right" appearance="fill">
          <mat-label>Insira seu nome</mat-label>
          <input matInput name="nome" [(ngModel)]="Orcamento.Usuario.Nome"
            [formControl]="nomeFormControl" placeholder="Ex. Fulano de tal">
          <mat-error *ngIf="nomeFormControl.hasError('required')">
            É necessário inserir seu <strong>nome</strong>
          </mat-error>
          <span class="icon is-right" *ngIf="!nomeFormControl.pristine && nomeFormControl.hasError('required')">
            <mat-icon class="has-text-warning">warning</mat-icon>
          </span>
        </mat-form-field>

        <mat-form-field class="w-full control has-icons-right" appearance="fill">
          <mat-label>seu e-mail</mat-label>
          <input class="w-full" matInput name="email"
            [(ngModel)]="Orcamento.Usuario.Email" [formControl]="emailFormControl" placeholder="Ex. meu@email.com">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Insira um e-mail válido
          </mat-error>
          <span class="icon is-right" *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            <mat-icon class="has-text-warning">warning</mat-icon>
          </span>
          <mat-error *ngIf="!emailFormControl.pristine && emailFormControl.hasError('required')">
            É necessário inserir seu <strong>e-mail</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full control has-icons-right" appearance="fill">
          <mat-label>seu CPF</mat-label>
          <input class="w-full" matInput name="CPF" mask="000.000.000-00"
            [(ngModel)]="Orcamento.Usuario.CPF" [formControl]="cpfFormControl" placeholder="000.000.000-00">
          <mat-error *ngIf="cpfFormControl.hasError('required')">
            Insira um CPF válido
          </mat-error>
          <span class="icon is-right" *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            <mat-icon class="has-text-warning">warning</mat-icon>
          </span>
          <mat-error *ngIf="!cpfFormControl.pristine && cpfFormControl.hasError('required')">
            É necessário inserir seu <strong>CPF</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full control has-icons-right" appearance="fill">
          <mat-label>insira um telefone para contato</mat-label>
          <input class="w-full input" matInput name="telefone"
            [(ngModel)]="Orcamento.Usuario.Telefone" [formControl]="phoneFormControl" placeholder="(00) 0 0000 0000"
            mask="(00) 0000-0000||(00) 0 0000-0000">
          <mat-error *ngIf="phoneFormControl.hasError('required')">
            É necessário inserir seu <strong>telefone</strong>
          </mat-error>
          <span class="icon is-right" *ngIf="!phoneFormControl.pristine && phoneFormControl.hasError('required')">
            <mat-icon class="has-text-warning">warning</mat-icon>
          </span>
        </mat-form-field>

        <mat-form-field class="w-full control has-icons-right" appearance="fill">
          <mat-label>Como devemos usar a arte para os produtos, etc..</mat-label>
          <textarea
            class="control has-icons-right  input"
            matInput
            placeholder="Insira aqui dados opcionais como transparencia do fundo, etc"
            [(ngModel)]="Orcamento.Mensagem"
            ></textarea>
        </mat-form-field>
        <div *ngIf="!usuario">

          <section class="example-section">
            <mat-checkbox
              [(indeterminate)]="indeterminate"
              [labelPosition]="labelPosition"
              [(ngModel)]= "registrarse"
              class=""
            >Registrar-se ?
            </mat-checkbox>
          </section>
          <mat-form-field
            @fadeIn
            *ngIf="registrarse"
            class="w-full control has-icons-right" appearance="fill">
            <mat-label>Insira uma senha para o perfil</mat-label>
            <input
              type='password'
              #senha
              class="control has-icons-right input"
              matInput
              placeholder="********"
              [(ngModel)]="Orcamento.Usuario.Senha"
              >
              <a
                (click)="senha.type= senha.type=='text'? 'password':'text'">
                <mat-icon>{{senha.type=='text'?'visibility_off':'visibility'}}</mat-icon>
              </a>
          </mat-form-field>
        </div>

        <div @fadeIn class="notification is-danger" *ngIf="ErroCadastro">
          <button class="delete" (click)="ErroCadastro = false"></button>
          Desculpe, não foi possível enviar o seu pedido. Por favor, verifique os campos obrigatórios.
        </div>
        <p class="has-text-left w-full">*Por favor, Insira o número completo do seu telefone</p>

        <button
          class="button is-success w-full mt-6" (click)="SubmeterDadosPessoais()">Continuar</button>
      </div>
    </div>


  </div>

</section>
<footer class="footer has-background-white-bis"></footer>
