<div>
  <p class="is-size-7 dis-flex flex-m">
    <span class="has-text-weight-medium is-size-6">Cor:  </span><strong class=" is-size-7">{{ Produto?.Cor?.Nome || hovercolor?.Nome }}</strong>
  </p>
  <div
    class="columns is-multiline flex-sb"
    [ngClass]="{ 'is-danger': ErroCor }"
    *ngIf="Produto?.Cores"
  >
    <div
      (click)="setColor(cor)"
      (mouseover)="hovercolor = cor"
      (mouseout)="hovercolor = null"
      class="hoverable column"
      *ngFor="let cor of Produto?.Cores; let i = index"
    >
      <input
        class="mx-1 button is-rounded"
        type="radio"
        alt="{{ cor.Nome }}"
        [value]="Produto.Cor"
        id="cor{{ i }}"

        [ngClass]="{ ' is-focused selected': Produto?.Cor?.Nome == cor.Nome, 'is-danger': ErroCor }"
      />
      <div
        title="{{ cor.Nome }}"
        class="ColorlabelBackground is-rounded"
        [ngClass]="{ 'is-focused selected': Produto?.Cor?.Nome == cor.Nome, 'is-danger': ErroCor }"
        (click)="setColor(cor)"
      >
        <label
          title="{{ cor.Nome }}"
          [style.background]="cor.Cor"
          class="border-light"
          for="cor{{ i }}"
        ></label>
      </div>
      <span (click)="setColor(cor)"></span>
    </div>
  </div>
</div>
