<div>
  <p class="is-size-7">
    <span class="is-size-7">Cor: </span
    ><strong>{{ Produto?.Cor?.nome || hovercolor?.nome }}</strong>
  </p>
  <div
    class="columns is-multiline flex-sb"
    [ngClass]="{ 'is-danger': ErroCor }"
    *ngIf="Produto?.Cores"
  >
    <div
      (click)="setColor(cor)"
      (mouseover)="hovercolor = cor"
      (mouseout)="hovercolor = null"
      class="hoverable column"
      *ngFor="let cor of Produto?.Cores; let i = index"
    >
      <input
        class="mx-1 button is-rounded"
        type="radio"
        alt="{{ cor.nome }}"
        [value]="Produto.Cor"
        id="cor{{ i }}"

        [ngClass]="{ ' is-focused selected': Produto?.Cor?.nome == cor.nome, 'is-danger': ErroCor }"
      />
      <div
        title="{{ cor.nome }}"
        class="ColorlabelBackground is-rounded"
        [ngClass]="{ 'is-focused selected': Produto?.Cor?.nome == cor.nome, 'is-danger': ErroCor }"
        (click)="setColor(cor)"
      >
        <label
          title="{{ cor.nome }}"
          [style.background]="cor.cor"
          class="border-light"
          for="cor{{ i }}"
        ></label>
      </div>
      <span (click)="setColor(cor)"></span>
    </div>
  </div>
</div>
