<table mat-table [dataSource]="InformacoesContatoTable.dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="Telefone">
        <th mat-header-cell *matHeaderCellDef> Telefone </th>
        <td mat-cell *matCellDef="let element"> {{element?.Telefone}} </td>
    </ng-container>

    <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element?.Email}} </td>
    </ng-container>

    <ng-container matColumnDef="HorarioAtendimento">
        <th mat-header-cell *matHeaderCellDef> Horario de Atendimento </th>
        <td mat-cell *matCellDef="let element"> {{element?.HorarioAtendimento}} </td>
    </ng-container>

    <ng-container matColumnDef="Endereco">
      <th mat-header-cell *matHeaderCellDef> Endereço </th>
      <td mat-cell *matCellDef="let element"> {{element?.Endereco}} </td>
    </ng-container>

    <ng-container matColumnDef="Whatsapp">
        <th mat-header-cell *matHeaderCellDef> Whatsapp </th>
        <td mat-cell *matCellDef="let element"> {{element?.Whatsapp}} </td>
    </ng-container>

    <ng-container matColumnDef="Instagram">
        <th mat-header-cell *matHeaderCellDef> Instagram </th>
        <td mat-cell *matCellDef="let element"> {{element?.Instagram}} </td>
    </ng-container>

    <ng-container matColumnDef="Facebook">
        <th mat-header-cell *matHeaderCellDef> Facebook </th>
        <td mat-cell *matCellDef="let element"> {{element?.Facebook}} </td>
    </ng-container>

    <ng-container matColumnDef="Acoes">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element">
            <button mat-mini-fab (click)="Editar(element)"><mat-icon>edit</mat-icon></button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="InformacoesContatoTable.displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: InformacoesContatoTable.displayedColumns;"></tr>
</table>
