#gmap_canvas img{max-width:none!important;background:none!important}
.vh-25{
  height: 40vh;
}
.submit{
  text-transform: uppercase;
  border-radius: 4px;
}
.bg-contato{
  background-size: contain !important;
  background: url(/assets/images/figures/undraw_contact_us_15o2.svg) no-repeat center
}
#Contato{
  background:url(/assets/images/empresa/double-bubble-outline.png)
}
