#gmap_canvas img{max-width:none!important;background:none!important}
.vh-25{
  height: 40vh;
}
.submit{
  text-transform: uppercase;
}
@media (max-width:768px){
  .reverse-col-mobile{
    flex-direction: column-reverse;
    display: flex;
  }
}
