<h1 mat-dialog-title class="tem-cor-primaria">Editar</h1>
<div mat-dialog-content>
  <p>{{Produto?.Nome}}</p>

  <mat-form-field class="w-full">
    <input matInput type="text" [(ngModel)]="Produto.Nome" placeholder="Nome" value="{{Produto.Nome}}" title="Nome">
  </mat-form-field>
  <mat-form-field class="w-full">
    <input matInput type="text" [(ngModel)]="Produto.Descricao" placeholder="Descricao" value="{{Produto.Descricao}}">
  </mat-form-field>
  <mat-form-field class="w-full">
    <input matInput type="text" [(ngModel)]="Produto.Subtitulo" placeholder="Subtitulo" value="{{Produto.Descricao}}">
  </mat-form-field>
  <mat-form-field appearance="">
    <mat-label>Categoria</mat-label>
    <mat-select matNativeControl (selectionChange)="SelecionarCategoria($event)" [(ngModel)]="Produto.NomeCategoria">
      <mat-option *ngFor="let opt of Categorias" [value]="opt.Nome">
        {{opt.Nome}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="">
    <input matInput type="text" [(ngModel)]="Produto.Preco" placeholder="Preco" value="{{Produto.Preco}}">
  </mat-form-field>
  <mat-form-field class="">
    <mat-label>Quantidade Minima</mat-label>
    <input matInput type="number" [(ngModel)]="Produto.QuantidadeMinima"[value]="Produto.QuantidadeMinima">
  </mat-form-field>
  <mat-form-field class="">
    <input matInput type="text" [(ngModel)]="Produto.Tamanho" placeholder="Tamanho" value="{{Produto.Tamanho}}">
  </mat-form-field>
  <mat-form-field class="">
    <input matInput type="color" [(ngModel)]="Produto.Cor" placeholder="Cor" value="{{Produto.Cor}}">
  </mat-form-field>
  <input class="file" multiple type="file" (change)="upload($event)" [value]="Produto.Imagem" placeholder="Imagem">
  <p>Imagens</p>
  <div class="columns is-multiline">
    <div class="column" *ngFor="let img of Produto.Imagem">
      <figure class="img is-32x32 box">
        <img class="img" src="{{img}}">
      </figure>
    </div>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-raised-button color="basic" [mat-dialog-close]="Produto" >
      Enviar
  </button>
  <button mat-raised-button color="basic" (click)="onNoClick()" cdkFocusInitial >
      Cancelar
  </button>
</div>
