<h1 mat-dialog-title class="tem-cor-primaria">Edição de produto</h1>
<div mat-dialog-content>
  <personalizados-lopes-editar-produto-form
    [Produto]="Produto"
    (statusChange)="Status = $event"
    (produtoFormulario)="produtoFormulario = $event"
  ></personalizados-lopes-editar-produto-form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="basic" [disabled]="Status != 'VALID'" (click)="salvar()">
    Enviar
  </button>
  <button mat-raised-button color="basic" (click)="onNoClick()" cdkFocusInitial>
    Cancelar
  </button>
</div>
