<div class="section mb-0" id="PRODUTOS">

  <div class="columns px-3">
    <div class="column is-12-mobile">
      <div class="flex-c w-full container portfolio pos-sticky top-0">
        <div>
          <h2 class="title is-3">Produtos<br>Disponíveis</h2>
          <nav class="categories is-hidden-mobile">
            <ul class="portfolio-filter flex-w flex-c">
              <mat-chip-list aria-label="Categoria selection">
                <mat-chip
                 pageScroll
                 href="#PRODUTOS"
                 class="pointer"
                 (click)="SetCategoria(null)"
                 [ngClass]="CategoriaAtiva?.Nome == 'Todos' ? 'active' : ''">
                  Todos
                </mat-chip>
                <mat-chip
                    pageScroll
                    href="#PRODUTOS"
                    *ngFor="let categoria of Categorias$ | async"
                    [style.backgroundColor]="categoria?.Cor"
                    class="pointer"
                    (click)="SetCategoria(categoria)"
                    [ngClass]="CategoriaAtiva?.Nome == categoria.Nome ? 'active' : ''">
                    {{categoria?.Nome}}
                </mat-chip>
              </mat-chip-list>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="column is-10 is-12-mobile produto-column">
      <div class="pt-4">
        <div class="columns is-multiline portfolio-container">
          <nav class="categories is-hidden-desktop">
            <ul class="portfolio-filter flex-w flex-c">
              <mat-chip-list aria-label="Categoria selection">
                <mat-chip class="pointer"
                pageScroll
                href="#PRODUTOS"
                  (click)="SetCategoria(null)"
                  [ngClass]="CategoriaAtiva?.Nome == 'Todos' ? 'active' : ''">
                  Todos
                </mat-chip>
                <mat-chip *ngFor="let categoria of Categorias$ | async"
                    class="pointer"
                    pageScroll
                    href="#PRODUTOS"
                    [style.borderBottom]="'1px solid '+categoria?.Cor"
                    (click)="SetCategoria(categoria)"
                    [ngClass]="CategoriaAtiva?.Nome == categoria.Nome ? 'active' : ''">
                    {{categoria?.Nome}}
                </mat-chip>
              </mat-chip-list>
            </ul>
          </nav>
          <ng-container *ngFor="let produto of Produtos$ |async">
            <div @fadeIn
              class="column is-3"
              *ngIf = "CategoriaAtiva?.Nome == produto.NomeCategoria || CategoriaAtiva?.Nome == 'Todos'">
              <personalizados-lopes-card-produto @fadeIn
                class=" portfolio-item"
                [Produto]="produto"
                [MostarOpcoes]="true"
              ></personalizados-lopes-card-produto>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
