.bg {
  background: center/ cover no-repeat url(https://source.unsplash.com/daily?abstract);
  background-attachment: fixed;
  // background: #d2ced3;
  box-shadow:  20px 20px 60px #bebebe,
              -20px -20px 60px #ffffff;
              margin: 0 auto;
              padding: .5rem;
              font-weight: 400!important;
              text-align: center;
}
.card-header{
  width: 30%!important;
  margin: 0 auto;
  background-color: #ffffffc2;
  padding: 5px;
  font-weight: 400!important;
  text-align: center;
}
.skeleton{
  min-height: 577px;
  border: 1px solid #e7e7e7;
  padding: 0 !important;
  margin: 0 !important;
  &:hover{
    box-shadow: rgba(105, 109, 140, 0.4) 0px 0px 16.8766px !important;
    background:rgb(229, 229, 229) none repeat scroll 0% 0%;
    border: 1px solid rgb(215, 215, 215);
    &button{
      display: block;
    }
  }
}

.mat-expansion-panel-body{
  padding:0 !important;
}
:host ::ng-deep .p-grid.p-nogutter{
  display: flex;

  flex-wrap: wrap;
}
:host ::ng-deep .p-dataview-header{
  padding-bottom: 0;
}
.hero{
  // animation: shrink 1s ease reverse;
  // animation-delay: 1s;
  margin: 0px auto;

}

.blue-borders{
  border-left: 10px solid;
  border-right: 10px solid;
  border-color: #ffffff;
}
@media (min-width: 1024px) {
  .portfolio{
    position: sticky;
  }
  .categories{
    position: sticky;
  }
  .of-y-scroll-desktop{
    overflow-y: scroll;
    // min-height: 75vh;
    // height: 100%;
  }

}
.of-y-scroll-desktop
  ::-webkit-scrollbar{
    display: none;
  }


@media (max-width: 1024px) {
  .w-full-m{
    width: auto;
  }
}

@media (max-width: 770px) {

  .produto-column{
    border-left: none;
  }
  .section{
    padding-left:  0;
    padding-right: 0;
    overflow: hidden;
  }
}

::ng-deep {
  .custom-slider .ngx-slider .ngx-slider-bar {
    background: #ffe4d1;
    height: 2px;
  }
  .custom-slider .ngx-slider .ngx-slider-selection {
    background: orange;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer {
    width: 8px;
    height: 16px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    background-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer:after {
    display: none;
  }

  .custom-slider .ngx-slider .ngx-slider-bubble {
    bottom: 14px;
  }

  .custom-slider .ngx-slider .ngx-slider-limit {
    font-weight: bold;
    color: orange;
  }

  .custom-slider .ngx-slider .ngx-slider-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: #ffe4d1;
    top: -1px;
  }

  .custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
    background: orange;
  }
}
