
.produto-column{
  // border-left: 2px solid rgba(211, 211, 211, 0.342);
}
.skeleton{
  min-height: 577px;
  border: 1px solid #e7e7e7;
  padding: 0 !important;
  margin: 0 !important;
  &:hover{
    box-shadow: rgba(105, 109, 140, 0.4) 0px 0px 16.8766px !important;
    background:rgb(229, 229, 229) none repeat scroll 0% 0%;
    border: 1px solid rgb(215, 215, 215);
    &button{
      display: block;
    }
  }
}
:host ::ng-deep .p-grid.p-nogutter{
  display: flex;

  flex-wrap: wrap;
}
:host ::ng-deep .p-dataview-header{
  padding-bottom: 0;
}
.wp-btn {
  border-radius: 4px;
  box-shadow: none;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  font-weight: 500;
  display: flex;

  height: 56px;
  transition: all 0.2s ease;
  &:hover {
    opacity: 0.5;
  }
}
.card{
  box-shadow: none;
}
.section{
  // animation: shrink 1s ease reverse;
  // animation-delay: 1s;
  margin: 0px auto;
}

.scroll-y{
  overflow-y: scroll;
  max-height: 85vh;
}
.scroll-y::-webkit-scrollbar{
  display: none;
}
.scroll-y::-webkit-scrollbar-thumb{
  background: rgba(0,0,0,0.5);
  border-radius: 90px;
  cursor: pointer;
}
.scroll-y::-webkit-scrollbar-track-piece{
  border-radius: 90px;
  cursor: pointer;
}
.mat-standard-chip{
  border-radius: 5px;
  background: none;
  border: 1px solid rgb(204 204 204 / 57%);
}
.mat-chip.active{
  background: rgb(234, 234, 244);
  box-shadow: inset 20px 20px 60px #d9d9d9,
  inset -20px -20px 60px #ffffff;

}
.mat-chip.active::after{
  background: rgb(234, 234, 244);
  box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
}
.mat-standard-chip.active::after{
  background: white;
}
.categories{
  top:0;
  padding:10px;
  height: min-content;
  width: 100%;
  // background:rgb(234, 234, 244);
  z-index: 100;
}
.mat-list-item{
  &.active{

  }
}
.texto-categorias{
  // letter-spacing: .5px;
  color: rgb(87, 87, 87);
  // font-weight: medium;
  // font-size: 14px;
}
.texto-categoria-ativa{
  font-weight: 600;
  text-align: center;
  &::before{
    width: 300px;
    height: 100%;
    background: black;
  }
}
.blue-borders{
  border-left: 10px solid;
  border-right: 10px solid;
  border-color: #ffffff;
}
.no-match-img{
  height:259px ;
  width:245px ;
}
@media (min-width: 1024px) {
  .portfolio{
    position: sticky;
  }
  .categories{
    position: sticky;
  }
  .of-y-scroll-desktop{
    overflow-y: scroll;
    // min-height: 75vh;
    // height: 100%;
  }

}
.of-y-scroll-desktop
  ::-webkit-scrollbar{
    display: none;
  }


@media (max-width: 1024px) {
  .w-full-m{
    width: auto;
  }
}

@media (max-width: 770px) {
  #Todos{
    padding-top:0;
    margin-top: -12px;
  }

  .produto-column{
    border-left: none;
  }
  .section{
    padding-left:  0;
    padding-right: 0;
    overflow: hidden;
  }
}
::ng-deep {
  .custom-slider .ngx-slider .ngx-slider-bar {
    background: #ffe4d1;
    height: 2px;
  }
  .custom-slider .ngx-slider .ngx-slider-selection {
    background: orange;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer {
    width: 8px;
    height: 16px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    background-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer:after {
    display: none;
  }

  .custom-slider .ngx-slider .ngx-slider-bubble {
    bottom: 14px;
  }

  .custom-slider .ngx-slider .ngx-slider-limit {
    font-weight: bold;
    color: orange;
  }

  .custom-slider .ngx-slider .ngx-slider-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: #ffe4d1;
    top: -1px;
  }

  .custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
    background: orange;
  }
}
