<personalizados-lopes-filtro-categoria-mobile></personalizados-lopes-filtro-categoria-mobile>
<div class='hero is-small pt-0'>
  <div
    class='hero-head bg txt-center my-0 w-full'
  >
    <div class='card-header mt-3 section'>
      <h1 class='title is-3'>
        Encontre o Produto Perfeito
      </h1>
    </div>
  </div>

  <div class='hero-body py-0 px-1'>
    <div class=' pt-2'>
      <div [@cardFlip]='state' class='' id='Todos'>
        <div class='columns'>
          <div class='column is-3-desktop is-3-tablet is-hidden-mobile mt-1 has-background-light'>
            <aside class='flex-c aside w-full portfolio pos-sticky top-0 pl-1'>

              <div class='is-hidden-mobile w-full '>

                <div class='pt-2'>

                  <div>
                    <personalizados-lopes-filtro-cor-produto></personalizados-lopes-filtro-cor-produto>

                    <personalizados-lopes-filtro-fornecedor-produto></personalizados-lopes-filtro-fornecedor-produto>
                  </div>

                  <personalizados-lopes-selecao-categoria-produto></personalizados-lopes-selecao-categoria-produto>

                  <div class='w-full is-hidden-mobile'>
                    <personalizados-lopes-selecao-faixa-preco-produto>
                    </personalizados-lopes-selecao-faixa-preco-produto>
                  </div>

                  <mat-divider></mat-divider>

                  <personalizados-lopes-selecao-status-produto></personalizados-lopes-selecao-status-produto>
                </div>
              </div>
            </aside>
          </div>
          <div
            class='column px-0 ml-0 pt-1 is-9-desktop is-9-tablet is-12-mobile produto-column mh-full of-y-hidden'
          >
            <div class='of-y-hidden'>
              <mat-tab-group>
                <mat-tab label="Loja" class="of-y-hidden">
                  <mat-list class="box pb-2 mb-0">
                    <mat-list-item *ngIf="filterState.CategoriaAtiva">
                      <div class='hoverable bo-0 bos-0 w-full px-0 mx-0'>
                        <personalizados-lopes-exibicao-categorias-ativas></personalizados-lopes-exibicao-categorias-ativas>
                      </div>
                    </mat-list-item>
                    <mat-list-item *ngIf="filterState.activeCorProduto">Cor: {{filterState.activeCorProduto.Nome}}</mat-list-item>
                    <mat-list-item *ngIf="filterState.activeFornecedor">Fornecedor: {{filterState.activeFornecedor.Nome}}</mat-list-item>
                    <mat-list-item *ngIf="filterState.activeOrderStatus">Status: {{filterState.activeOrderStatus.name}}</mat-list-item>
                  </mat-list>
                  <personalizados-lopes-exibicao-lista-produtos></personalizados-lopes-exibicao-lista-produtos>
                </mat-tab>
                <mat-tab *ngIf="FavCount > 0" [label]="'Favoritos ' + FavCount || ''" >
                  <personalizados-lopes-favoritos></personalizados-lopes-favoritos>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
