<personalizados-lopes-filtro-categoria-mobile></personalizados-lopes-filtro-categoria-mobile>
<div class='hero is-small'>
  <div
    class='hero-head bg txt-center w-full'
  >
    <div class='card-header'>
      <h1 class='txt-center w-full of-x-scroll'>
        Loja
      </h1>
    </div>
  </div>
  <div class='hero-body py-0'>
    <div class='section pt-2'>
      <div [@cardFlip]='state' class='margin' id='Todos'>
        <div class='columns'>
          <div class='column is-3-desktop is-3-tablet is-hidden-mobile'>
            <aside class='flex-c aside w-full portfolio pos-sticky top-0'>

              <div class='is-hidden-mobile w-full '>

                <div>
                  <personalizados-lopes-exibicao-quantidade-produtos-filtrados></personalizados-lopes-exibicao-quantidade-produtos-filtrados>
                  <div class='hoverable bo-0 bos-0'>
                    <personalizados-lopes-exibicao-categorias-ativas></personalizados-lopes-exibicao-categorias-ativas>
                  </div>
                </div>

                <div class='pt-2'>

                  <div>
                    <personalizados-lopes-filtro-cor-produto></personalizados-lopes-filtro-cor-produto>

                    <personalizados-lopes-filtro-fornecedor-produto></personalizados-lopes-filtro-fornecedor-produto>
                  </div>

                  <personalizados-lopes-selecao-categoria-produto></personalizados-lopes-selecao-categoria-produto>

                  <div class='w-full is-hidden-mobile'>
                    <personalizados-lopes-selecao-faixa-preco-produto>
                    </personalizados-lopes-selecao-faixa-preco-produto>
                  </div>

                  <mat-divider></mat-divider>

                  <personalizados-lopes-selecao-status-produto></personalizados-lopes-selecao-status-produto>
                </div>
              </div>
            </aside>
          </div>
          <div
            class='column ml-0 pl-0 is-9-desktop is-9-tablet is-12-mobile produto-column mh-full of-y-scroll-desktop of-y-scroll'
          >
            <div class='section pt-0'>
              <mat-tab-group>
                <mat-tab label="Loja">
                  <personalizados-lopes-exibicao-lista-produtos></personalizados-lopes-exibicao-lista-produtos>
                </mat-tab>
                <mat-tab [label]="'Favoritos ' + FavCount" >
                  <personalizados-lopes-favoritos></personalizados-lopes-favoritos>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
