<section class="section w-full of-x-scroll">
  <h1>Meus Pedidos</h1>
  <div @fadeIn
      class="right-0 left-0 top-0 bottom-0"
      *ngIf="Loading"
    >
    <mat-spinner></mat-spinner>
  </div>
  <div class="w-full of-x-scroll">
    <table class="w-full card table is-striped is-hoverable">
      <thead>
        <tr >
          <th>ID</th>
          <th>Status</th>
          <th>Data</th>
          <th>Pagamento</th>
          <th>Detalhes</th>
        </tr>
      </thead>
      <tbody>
        <tr class="card" *ngFor="let pedido of Pedidos">
          <td>{{pedido.ResultadoPagamentoMP.payment_id}}</td>
          <td>
            <p>
              {{pedido.ResultadoPagamentoMP.status}}
            </p>
          </td>
          <td>
            <p>{{pedido.DataHoraAlteracao || pedido.DataHoraCriacao}}</p>
          </td>
          <td>
            <p>{{pedido.ResultadoPagamentoMP.payment_type}}</p>
          </td>
          <td>
            <a mat-stroked-button class="has-color-feedback-darkest flex-m" (click)="abrirDetalhesPedido(pedido)">
              <mat-icon>add</mat-icon>
              Detalhes
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
