<div class="pb-0 mb-0">
  <div class="columns pb-0 mb-0 bbr">
    <div class="column">
      <div class="message is-white">
        <div class="message-body">
          <personalizados-lopes-exibicao-preco-produto
            [Produto]="Produto"
          ></personalizados-lopes-exibicao-preco-produto>
        </div>
      </div>
    </div>
    <div class="column">
      <ng-container
        *ngIf="
          findInvalidControlsRecursive();
          then erro;
          else done
        "
      ></ng-container>
      <ng-template #erro>
        <personalizados-lopes-mensagem-comprar-produto-desabilitado
          [Produto]="Produto"
          [textoAdicionar]="textoAdicionar"
        ></personalizados-lopes-mensagem-comprar-produto-desabilitado>
      </ng-template>
      <ng-template #done>
        <personalizados-lopes-botao-comprar-produto
          [Produto]="Produto"
          [isOrcamento]="isOrcamento"
          [textoAdicionar]="textoAdicionar"
          (onAdicionarAoOrcamento)="
          onAdicionarAoOrcamento.emit($event)
          "
          (onDuplicarOrcamento)="
          onDuplicarOrcamento.emit($event)
          "
        ></personalizados-lopes-botao-comprar-produto>
      </ng-template>
    </div>
  </div>
</div>
