:host{
  display: block;
  width: 100%;
}
@media screen and (max-width: 768px){

  :host :ng-deep .slideshow-container{
    max-height: 21vh;
    height: 21vh !important;
  }
  .slideshow-container{
    max-height: 21vh;
    height: 21vh !important;
  }
}
:host ::ng-deep div.slideshow-container > a{
  -webkit-transform: scaleX(1) !important;
  transform: scaleX(1) !important;
}
