<div class="shadow">

  <div style="display:block;"
       [style.width]="(Carrosel$|async).width">
    <slideshow *ngIf="imageUrls.length"
               [imageUrls]="imageUrls"
               [height]="(Carrosel$|async).height"
               [minHeight]="(Carrosel$|async).minHeight"
               [arrowSize]="(Carrosel$|async).arrowSize"
               [showArrows]="(Carrosel$|async).showArrows"
               [disableSwiping]="(Carrosel$|async).disableSwiping"
               [autoPlay]="(Carrosel$|async).autoPlay"
               [autoPlayInterval]="(Carrosel$|async).autoPlayInterval"
               [stopAutoPlayOnSlide]="(Carrosel$|async).stopAutoPlayOnSlide"
               [debug]="(Carrosel$|async).debug"
               [backgroundSize]="(Carrosel$|async).backgroundSize"
               [backgroundPosition]="(Carrosel$|async).backgroundPosition"
               [backgroundRepeat]="(Carrosel$|async).backgroundRepeat"
               [showDots]="(Carrosel$|async).showDots"
               [dotColor]="(Carrosel$|async).dotColor"
               [showCaptions]="(Carrosel$|async).showCaptions"
               [captionColor]="(Carrosel$|async).captionColor"
               [captionBackground]="(Carrosel$|async).captionBackground"
               [lazyLoad]="(Carrosel$|async).lazyLoad"
               [hideOnNoSlides]="(Carrosel$|async).hideOnNoSlides"
               [fullscreen]="(Carrosel$|async).fullscreen"
               >
    </slideshow>
  </div>
</div>
